/*瀹氫箟鍏ㄥ眬*/
*{font-family:"微软雅黑";}
html{font-size:10px;}
.wrap{width: 1200px;margin: 0 auto;}
.wrap-1080{width: 1080px;margin: 0 auto;}
.relative{position: relative;}
.absolute{position: absolute;}
img:hover{cursor:pointer;}
a{display:inline-block;}
/*椤电湁閮ㄥ垎*/
.header{min-width:1200px;}
.headerTop{box-sizing:border-box;background-color: #fff;}
.logo{margin-left:20px;}
.loginBox{margin-top:13px;margin-right:20px;padding-left: 34px;line-height:27px;color:#999;background-image: url("../images/iconlist-1_1.png");background-repeat: no-repeat;background-position: 0 -37px;}
.loginBox a{margin-right: 14px;font-size:14px;color:#999;}
.loginBox>a:hover{text-decoration:underline;}
.loginNav a{color:#333;}
.login{position: relative;z-index: 60;}
.loginNav{display:none;position:absolute;padding-top:8px;top:41px;left:-132px;width: 188px;min-height: 234px;background-color: #fff;border-radius: 3px;}
.loginNav li{width: 100%;color: #666;text-align: center;line-height: 34px;}
.loginNav li:hover a{color: #42dab6;}
.loginBox .loginername{position:relative;padding-left:60px;width:128px;height: 61px;line-height: 61px;text-align:left;font-size:16px;color: #42dab6;}
.loginername a{color: #42dab6;font-size: 16px;}
.loginername img{position: absolute;left:15px;top:12px;width:36px;height:36px;border-radius:50%;}
.logout{background-color: #f5f5f5;height: 37px;line-height: 37px;}
.hasloginBox{padding:0;background-image: none;cursor: pointer;}
.haslogin:hover .loginNav{display: block;}
.loginuser{width: 28px;height:28px;}
.loginuser img{width: 100%;height: 100%;border-radius: 50%;}
.newTips{position: absolute;left: 11px;top: 42px;width: 6px;height: 6px;background-color: #f00;border-radius: 50%;}
.dragNewTips{position: absolute;left: 48px;top: 14px;width: 6px;height: 6px;background-color: #f00;border-radius: 50%;}

.downangel{width: 13px;height: 7px;background-image: url("../images/iconlist-1_1.png");background-repeat: no-repeat;background-position: -74px 0;vertical-align:7px;}
/*//*/
.nav{position:relative;background-color: #332f66;z-index: 40;}
.nav li{position:relative;float:left;width:93px;height:40px;line-height:40px;text-align: center;}
.nav a{font-size: 16px;color: #fff;cursor:pointer;}
.nav li.active a{color:#42dab6;}
.nav li:first-child{margin-left: 55px;}
.nav .news:after{content: "";position: absolute;top:7px;right:6px;width: 7px;height: 7px;background-image: url("../images/iconlist-1_1.png");background-repeat: no-repeat;}
.headernav1>li:hover{background-color: #2a2754;}
.headernav1>li:last-child:hover{background-color: #332f66;}
.headernav1>li:hover a{color: #42dab6;}
.headernav1>li:hover .drag-nav{display: block;}
.drag-nav{display:none;position:absolute;top:40px;left:0;width:168px;padding:9px 0;background-color:#2a2754;z-index: 5;}
.drag-nav li:first-child{margin: 0;}
.drag-nav li{padding-left:39px;width:77%;height: 28px;line-height: 28px;text-align: left;font-size: 14px;}
.drag-nav a{font-size: 14px;color: #fff!important;}
.drag-nav b{position:absolute;left:14px;top:7px;width: 15px;height: 14px;background-image: url("../images/iconlist-1_1.png");background-repeat: no-repeat;background-position: -150px -117px;}
.drag-nav li:hover{background-color: #42dab6;}
.drag-nav li:hover a{color: #fff;}
.headerInput{position:relative;height:26px;border-radius:20px;width:215px;}
.headerInput .search{margin-top:7px;padding:0 20px;width:170px;margin-left: 12px;height:26px;line-height: 26px;color:#5f5f5f;background-color: #edeff1;border-radius: 20px;box-sizing: border-box;}
.headerInput .inputSubmit{margin:0;position: absolute;left:139px;top:7px;width: 65px;height: 26px;background-color:transparent;background-image: url("../images/iconlist-1_1.png");background-repeat: no-repeat;background-position: 0 -358px;cursor:pointer;}
.headerInput .inputSubmit:hover{background-color: transparent;background-image: url("../images/iconlist-1_1.png");background-repeat: no-repeat;background-position: 0 -358px;}
/*缈婚〉閮ㄥ垎*/
.shift-button{margin:auto;vertical-align: middle;display: inline-block;text-align: center;zoom: 1;}
.shift-button *{float:left; margin-right:10px; cursor:pointer;}
.shift-button .page_sum{margin-right:0px;}
.shift-button .goPage{margin-right:0px;}
.shift-button a{display:inline-block; width:37px; height:37px; font:14px; text-align:center; line-height:36px; color:#666; border:solid #c8c8c8 1px; border-radius:5px; background:-webkit-linear-gradient(top,#fff 0%,#eee 100%)}
.shift-button a:hover{border:solid #666 1px; text-decoration:none;}
.shift-button .bor-ra1{border-radius:1px;}
.shift-button .bor-ra1 input{width:35px; height:35px; border-radius:1px;text-align: center;}
.shift-button .bor-ra1 #gotoPage{cursor:auto !important;}
.shift-button .arrow-button img{margin-left:14px; margin-top:11px;}
.shift-button span{display:inline-block; height:37px; line-height:37px;}
.shift-button .col-9{ margin-right:5px;}


/*椤佃剼閮ㄥ垎*/
/* .footer{height:170px; background:#222c38;margin-top:40px} */
/* .footer p{font-size:14px; color:#56616d; text-align:center;} */
/* .footer span{display:inline-block; width:25px;} */
/*footer.height:鏆傛椂鏀逛负520px锛岀瓑鏁版嵁瀹屽鏀瑰洖锛�20px*/
/*footer鏍峰紡*/
/* .footer p a:hover{text-decoration: underline;} */
/* .footer{margin-top:50px;box-sizing:border-box;height:520px;padding:90px 0 0;background:#332f66;color:#fff;font-size:14px;clear: both;} */
/* .footContext{width:1010px;margin:0 auto;} */
/* .contextWrap{width:80px;float:left;margin-left:105px;} */
/* .contextWrap:first-child{margin-left:0;} */
/* .contextWrap h1{font-size:18px;margin-bottom:15px;} */
/* .contextWrap li{margin-bottom:15px;} */
/* .contextWrap a{color:#fff;} */
/* .footer p{text-align:center;margin-top: 150px;} */
/*鏂板簳閮*/
/*footer鏍峰紡*/
/* .footer{margin-top: 55px;box-sizing:border-box;height:340px;padding:90px 0 0;background:#332f66;color:#fff;font-size:14px;} */
/* .footContext{width:1200px;margin:0 auto;} */
/* .contextWrap{width:80px;float:left;margin-right:105px;} */
/* .contextWrap h1{font-size:18px;margin-bottom:15px;} */
/* .contextWrap li{margin-bottom:15px;} */
/* .contextWrap a{color:#fff;} */
/* .footer p{text-align:center;margin-top: 40px;line-height: 24px;}  */
/* .codeFootWrap{text-align:center;} */
/* .codeFootWrap img{width:90px;height:90px;cursor: default;display: inline-block;vertical-align: middle;} */
/* .codeFootWrap span{font-size:30px;font-family: "瀹嬩綋";margin-left:15px;} */
.footContainer p,.footContainer span{font-family:"微软雅黑";}
.footContainer{font-family:"微软雅黑"; height:270px;box-sizing:border-box;padding:45px 0 20px;+height:200px;background-color:#332f66;text-align: center;}
.fl{float:left;}
.clearfix{zoom:1}
.clearfix:after{content:' ';clear:both;display:block;overflow: hidden;}
.footWrap{display:inline-block;margin:0 auto 40px;+display;inline;+zoom:1;}
.footWrap>img{width:100px;height:100px;}
.weixinWrap{margin:0 20px;width:100px;text-align:center;}
.weixinWrap img{width:90px;height:90px;}
.weixinWrap a{font-size:18px;color:#fff;font-weight:bold;display:block;margin-top: 5px;font-family: "微软雅黑";}
.serviceWrap{margin-top:20px;}
.serviceWrap p:first-child{font-size:18px;}
.serviceWrap p{font-size:14px;color:#fff;margin-bottom: 5px;letter-spacing: 2px;text-align:left;}
.serviceWrap span{font-size:24px;}
.footContainer>p,.footContainer>p a{font-size:14px;color:#fff;}
.footContainer>p a{text-decoration: underline;font-family: "微软雅黑";}
.footContainer>p{margin-bottom: 5px;}
.footContainer>p span{padding: 0 7px;}
/*固定悬浮窗*/
.fixedWrap{position: fixed;right:30px;bottom:210px;width:100%;height:0;z-index:105;}
.fixedWrap .wrap{height:0;}
.fixedWrap span{display:block;cursor:pointer;width:50px;height:50px;border-radius:10px;background:#fff url(../images/fixedallbgs.png) no-repeat 11px 10px;margin-bottom:10px;position:relative;}
.fixedWrap span:hover p{display:block;}
 .fixedWrap .code{background-position:11px -40px;}
.fixedWrap .toTop{display:none;}
.fixedWrap .tel{background-position:16px -92px;}
.fixedWrap  p{position:absolute;display:none;}
.code p,.tel p{width:160px;+width:130px;height:160px;+height:130px;border-radius:10px;background: #fff;box-sizing: border-box;padding: 15px;bottom:0;right:65px;}
.code img{width:130px;height:130px;}
.tel p{width:200px;+width:170px;height:50px;+height:20px;text-align:center;font-size:18px;color:#666;font-family:"瀹嬩綋";line-height: 1;letter-spacing: 3px;}
.fixedWrap span,.fixedWrap  p{
-webkit-box-shadow:0 0 6px rgba(0,0,0,.1);
-moz-box-shadow:0 0 6px rgba(0,0,0,.1);
box-shadow: 0 0 6px rgba(0,0,0,.1);
 }
/*缁撴瀯缁勪欢*/
.ove-hidden{overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.pos-a{position:absolute;}
.pos-r{position:relative;}
.dis-b{display:block;}
.dis-ib{display:inline-block;}

.wid-1200{width:1200px;}
.mar-auto{margin:auto;}

.col-0{color:#000;}
.col-f{color:#fff;}
.col-3{color:#333;}
.col-6{color:#666;}
.col-9{color:#999;}
.col-main{color:#0b7fc6;}
.fw-b{font-weight:bold;}
.t-i24{text-indent:24px;}

.ms-10{margin:0 10px;}
.mt-5{margin-top:5px;}
.mt-6{margin-top:6px;}
.mt-8{margin-top:8px;}
.mt-10{margin-top:10px;}
.mt-12{margin-top:12px;}
.mt-13{margin-top:13px;}
.mt-15{margin-top:15px;}
.mt-16{margin-top:16px;}
.mt-19{margin-top:19px;}
.mt-20{margin-top:20px;}
.mt-22{margin-top:22px;}
.mt-23{margin-top:23px;}
.mt-25{margin-top:25px;}
.mt-28{margin-top:28px;}
.mt-30{margin-top:30px;}
.mt-37{margin-top:37px;}
.mt-40{margin-top:40px;}
.mt-57{margin-top:57px;}
.mt-70{margin-top:70px;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-13{margin-bottom:13px;}
.mb-14{margin-bottom:14px;}
.mb-15{margin-bottom:15px;}
.mb-17{margin-bottom:17px;}
.mb-20{margin-bottom:20px;}
.mb-21{margin-bottom:21px;}
.mb-22{margin-bottom:22px;}
.mb-23{margin-bottom:22px;}
.mb-24{margin-bottom:24px;}
.mb-25{margin-bottom:25px;}
.mb-26{margin-bottom:26px;}
.mb-28{margin-bottom:28px;}
.mb-29{margin-bottom:29px;}
.mb-30{margin-bottom:30px;}
.mb-33{margin-bottom:33px;}
.mb-34{margin-bottom:34px;}
.mb-35{margin-bottom:35px;}
.mb-37{margin-bottom:37px;}
.mb-40{margin-bottom:40px;}
.mb-43{margin-bottom:43px;}
.mb-44{margin-bottom:44px;}
.mb-49{margin-bottom:49px;}
.mb-56{margin-bottom:56px;}
.mb-60{margin-bottom:60px;}
.mb-80{margin-bottom:80px;}
.mb-82{margin-bottom:82px;}
.mb-100{margin-bottom:100px;}
.ml-10{margin-left:10px;}
.ml-13{margin-left:13px;}
.ml-14{margin-left:15px;}
.ml-15{margin-left:15px;}
.ml-20{margin-left:20px;}
.ml-25{margin-left:25px;}
.ml-27{margin-left:27px;}
.ml-30{margin-left:30px;}
.ml-36{margin-left:36px;}
.ml-40{margin-left:40px;}
.ml-45{margin-left:45px;}
.ml-184{margin-left:184px;}
.ml-225{margin-left:225px;}
.ml-550{margin-left:550px;}
.mr-2{margin-right:2px;}
.mr-3{margin-right:3px;}
.mr-4{margin-right:4px;}
.mr-5{margin-right:5px;}
.mr-9{margin-right:9px;}
.mr-10{margin-right:10px;}
.mr-13{margin-right:13px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-21{margin-right:21px;}
.mr-22{margin-right:22px;}
.mr-23{margin-right:23px;}
.mr-24{margin-right:24px;}
.mr-27{margin-right:27px;}
.mr-28{margin-right:28px;}
.mr-30{margin-right:30px;}
.mr-40{margin-right:40px;}
.mr-35{margin-right:35px;}
.mr-36{margin-right:36px;}
.mr-52{margin-right:52px;}
.mr-56{margin-right:56px;}
.mr-60{margin-right:60px;}
.mr-86{margin-right:86px;}
.mr-134{margin-right:134px;}
.mr-236{margin-right:236px;}
.pad-9{padding:9px;}
.padding_sides-20{padding:0 20px;}
.pt-16{padding-top:16px;}
.pt-27{padding-top:27px;}
.pt-28{padding-top:28px;}
.pt-37{padding-top:37px;}
.pt-50{padding-top:50px;}
.pt-63{padding-top:63px;}
.pt-90{padding-top: 90px;}
.pb-9{padding-bottom:9px;}
.pb-8{padding-bottom:8px;}
.pb-5{padding-bottom:5px;}
.pb-10{padding-bottom:10px;}
.pb-14{padding-bottom:14px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-42{padding-bottom:42px;}
.pl-10{padding-left:10px;}
.pl-20{padding-left:20px;}
.pr-16{padding-right:16px;}
.pr-17{padding-right:17px;}
.pr-20{padding-right:20px;}
.pr-27{padding-right:27px;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.ml-5{margin-left:5px;}
.mr-16{margin-right:16px;}
.mr-25{margin-right:25px;}
.mb-47{margin-bottom:47px;}
.ml-50{margin-left:50px;}
.mr-50{margin-right:50px;}
.mt-50{margin-top:50px;}
.mb-50{margin-bottom:50px;}
.ml-55{margin-left:55px;}
.mt-55{margin-top:55px;}
.mb-55{margin-bottom:55px;}
.ml-60{margin-left:60px;}
.mt-60{margin-top:60px;}
.mt-65{margin-top:65px;}
.mb-70{margin-bottom:70px;}
.mt-80{margin-top:80px;}
.mt-90{margin-top:90px;}
.ml-95{margin-left:95px;}
.mt-180{margin-top:180px;}
.textover{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.show{display:block;}
.fs-12{font-size:12px;}
.fs-16{font-size:16px;}
.fs-18{font-size:18px;}
.fs-20{font-size:20px;}
.fs-24{font-size:24px;}
.fs-36{font-size:36px;}
.fw_bold{font-weight:bold;}
.fw_nor{font-weight:normal;}
.red{color:#f00;}
.green{color:#42dab6;}
.c_333{color:#333;}
.c_666{color:#666;}
.c_999{color:#999;}
.c_aaa{color:#aaa;}
.c_ccc{color:#ccc;}
.c_fff{color:#fff;}
.c_ffa800{color:#ffa800;}
.w-33{width:33.3%;}

.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f24{ font-size:24px;}

/* .br-de9-1{border-right:dashed #e9e9e9 1px;} */
.bt-de9-1{border-top:dashed #e9e9e9 1px;}
/* .bb-de9-1{border-bottom:dashed #e9e9e9 1px;} */

.bor-ra1{border-radius:1px;}
.bor-ra2{border-radius:2px;}
.bor-ra3{border-radius:3px;}
.bor-ra4{border-radius:4px;}
.bor-ra5{border-radius:5px;}

.lh-12{line-height:12px;}
.lh-14{line-height:14px;}
.lh-16{line-height:16px;}
.lh-18{line-height:18px;}
.lh-20{line-height:20px;}
.lh-22{line-height:22px;}
.lh-24{line-height:24px;}

.b-l-f-e{background:-webkit-linear-gradient(top,#fff 0%,#eee 100%)}


/*zly*/
.clearfix:after, .cl:after { content: "."; display: block; height: 0; line-height: 0; visibility: hidden; clear: both; }
.clearfix, .cl { *zoom: 1; }

.on{border:solid #666 1px !important; text-decoration:none;}
/*index common*/
.textover{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.hide{display: none;}
.lunbo{position:relative;overflow: hidden;}
.carousel{position: absolute;}
.lunbo a{float:left;display:block;}
.fullscreen a{min-width: 1200px;}