.downangel{vertical-align:0px;}
.lunbo .before,.lunbo .after{display:none;position: absolute;top: 224px;left: 265px;width: 49px;height: 87px;background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: 9px -243px;z-index: 30;}
.lunbo .after{left:inherit;right: 262px;background-position: 13px -151px;}
.lunbo:hover .after,.lunbo:hover .before{display:block;background-color: rgba(0,0,0,.1);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#10000000,endcolorstr=#10000000);}
.lunbo .before:hover,.lunbo .after:hover {cursor:pointer;background-color: rgba(0,0,0,.3);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#10000000,endcolorstr=#10000000);}
.lunbo{position:relative;height: 550px;overflow: hidden;}
.carousel{position: absolute;overflow:hidden;}
.lunbo a{float:left;display:block;min-width: 1200px;}
.pagenation{position: absolute;bottom: 30px;left: 48%;}
.pagenation span{margin-right:13px;width: 6px;height: 6px;border-radius: 50%;border: 2px solid #fff;}
.pagenation span.active{background-color: #fff;}
/*��������*/
body,.indexContent{background-color: #edeff1;}
.role{padding-top:50px;}
.role-title h1{margin-right:42px;}
.role-title h1 a{font-size: 28px;color: #576671;}
.role-title h1:hover a{cursor:pointer;color: #332f66;}
.role-title h1:hover b{background-position: -75px -101px;}
#serviceMarket a,.role-title>a,.role-title span{font-size: 14px;color: #171717;height: 30px;width: 80px;text-align: center;line-height: 30px;}
.role-title a:hover{color: #42dab6;}
.role-title span{background-color: #dee1e5;color: #929ea7;cursor: pointer;}
.role-title .active{background-color: #42dab6;color: #fff;}
#serviceMarket .active,.role-title .active:hover{color: #fff;}

.role-content{padding:20px;background-color: #fff;}
.role-left{width: 410px;height: 369px;}
.role-left .trendnew{width: 410px;height: 240px;}
.role-left h1{margin-top:10px;height:49px;line-height:49px;font-size: 24px;color: #171717;border-bottom: 3px solid #42dab6;}
.role-left h1:hover{cursor:pointer;color: #332f66;}
.role-left p{margin-top:13px;line-height: 18px;font-size: 14px;color: #5f5f5f;height: 54px;overflow: hidden;}
.role-middle{width: 430px;}
.role-middle a{position:relative;width: 195px;height: 113px;}
.role-middle p{position: absolute;bottom: 0;left: 0;text-indent:0.5em;width:100%;color: #fff;
    background: url(../images/gradient.png) repeat-x;
    background:linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.6) 65%,rgba(0,0,0,0.9));
}
.role-right{width: 300px;}
.ranking-content span{width: 20px;height: 20px;text-align: center;line-height: 20px;}
.ranking-content .top{background-color: #42dab6;color: #fff;}
.ranking-content .last{background-color: #5d6981;color: #fff;}
.ranking-content a{line-height: 1;vertical-align: middle;display: block;}
.ranking-show{position: relative;margin-top:14px;padding-left: 125px;height:65px;}
.ranking-show img{position:absolute;left:0;top:0;width: 113px;height: 65px;}
.ranking-show p{padding-top:7px;height: 52px;color: #5f5f5f;line-height: 24px;overflow: hidden;}
/*����ѧԺ*/
.school a{position: relative;width:195px;height:113px;vertical-align:middle;}
.school p{position: absolute;width: 100%;bottom: 0;left: 0;color: #fff;height: 22px;line-height: 22px;text-indent:0.5em;
	background: url(../images/gradient.png) repeat-x;
    background:linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.6) 65%,rgba(0,0,0,0.9));
}

/*b*/
.normalB{width: 31px;height: 30px;background-image: url("../images/iconlist-3.png");background-repeat: no-repeat;background-position: -129px 0;vertical-align: -5px;}
.role-title h1:hover .normalB{background-position: 0 0;}
.collegeB{background-position: -130px -256px;}
.collegeTitle h1:hover .collegeB{background-position-y:-253px;}
.marketB{background-position: -132px -492px;}
.marketTitle h1:hover .marketB{background-position-y:-493px;}
.activityB{background-position: -129px -59px;}
.activityTitle h1:hover .activityB{background-position-y:-57px;}
.industrialB{background-position: -132px -407px;}
.industrialTitle h1:hover .industrialB{background-position-y:-408px;}
.specialtyB{background-position: -130px -115px;}
.specialtyTitle h1:hover .specialtyB{background-position-y:-115px;}
.governmentB{background-position: -131px -322px;}
.governmentTitle h1:hover .governmentB{background-position-y:-323px;}
.TalentB{background-position: -134px -580px;}
.TalentTitle h1:hover .TalentB{background-position-y:-576px;}
.financialB{background-position: -129px -177px;}
.financialTitle h1:hover .financialB{background-position-y:-178px;}

/*�����г�*/
.role-service li{width: 25%;text-align: center;}
.role-service a{color:#5d6981;font-size:20px;width:125px;padding-top: 152px;background-image: url("../images/iconlist-2.png");background-repeat: no-repeat;background-position: -232px -128px;}
.role-service .active a{background-position-x:10px;}
.sell a{background-position: -220px -541px;}
.wuliu a{background-position: -228px -313px;}
.jinro a{background-position:-220px 33px;}
.vision a{background-position:-226px -674px;}
.derivative a{background-position:-227px -857px;}
.law a{background-position:-227px -1042px;}
.startup a{background-position:-235px -1264px;}
.sell.active a{background-position: 22px -541px;}
.wuliu.active a{background-position: 14px -313px;}
.jinro.active a{background-position-x: 22px;}
.vision.active a{background-position:16px -674px;}
.derivative.active a{background-position:15px -857px;}
.law.active a{background-position:15px -1042px;}
.startup.active a{background-position:7px -1264px;}

/*banner*/
.banner{position: relative;height: 355px;overflow: hidden;}
.banner li{width: 100%;}
.banner a{height:355px;background-color: #42dab6;}
.angleWrap{position: absolute;top: 0;left: 0;width: 100%;}
.left-angle,.right-angle{position: absolute;left: 15px;top: 123px;width:80px;height:80px;background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: 0 -463px;z-index: 10;cursor: pointer;}
.right-angle{left:inherit;right: 15px;background-position: 0 -606px;}
.banner1-pagenation{position: absolute;bottom: 35px;left: 47%;}
.banner1-pagenation span{margin-right:9px;width: 20px;height:20px;background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: 0 -936px;}
.banner1-pagenation span.active{background-position: 0 -974px;}
/**/
.role-lunbo{position: relative;}
.baseLunbo{position:relative;width: 984px;height:296px;overflow: hidden;}
.baseLunbo{height: 337px;}
.baseBefore,.baseAfter{width: 100px;height:296px;background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: -125px -354px;cursor: pointer;}
.baseAfter{background-position: -129px -586px; }
.place p{background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: 0 -797px;}
.place .save{background-position: 2px -833px;}
.place .car{background-position: 0 -865px;}
.place .dizhi{background-position: 0 -898px;}
.basePlace .pagenationAll{position: absolute;bottom: 0;left: 48%;}
.basePlace .pagenationAll span{margin-right:9px;width: 20px;height: 20px;background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: 0 -1016px;}
.basePlace .pagenationAll span.active{background-position: 0 -1058px}
/*��ҵ԰��*/
/*产业园区*/
.place{padding: 20px;width:194px;height:256px;background-color: #fff;}
.place img{width: 195px;height: 113px;}
.allcreate img{width: 195px;height: 195px;}
.allcreate h1{line-height: 50px;height: 50px;border-bottom: 2px solid #42dab6;}
.placeTitle{padding-bottom: 15px;width:100%;font-size:18px;color:#171717;line-height: 1;border-bottom: 2px solid #42dab6;}
.place p{padding-left:22px;width:93%;color: #5f5f5f;line-height: 20px;overflow: hidden;}
/*banner2*/
.banner2{background-color: #42dab6;height: 200px;}
.banner2 .wrap{top: -200px;}
.banner2 .join{position:absolute;top:75px;right:10px;width: 200px;height: 50px;line-height: 50px;text-align: center;background-color: #fff;color: #42dab6;border-radius: 40px;z-index: 5;}
/*��ɫ��ҵ*/
/* .industryLunboTop{position:relative;width: 410px;height: 240px;overflow: hidden;} */
/* .lunboPagenation{position: absolute;bottom: 9px;left: 159px;} */
/* .industryLunboTop a{width: 410px;height: 240px;} */
/* .lunboPagenation span{margin-right:7px;width: 26px;height: 7px;background-color: #fff;} */
/* .lunboPagenation span.active{background-color: #ffeb00;} */
/* .industryLunbobottom{height: 113px;overflow: hidden;} */
/* .industryLunbobottom a{width: 195px;height: 113px;} */
/* .industrybefore,.industryafter{position: absolute;left:0;top:45px;width: 31px;height: 31px;background-image: url("../images/iconlist-1.png");background-repeat: no-repeat;background-position: 0 -761px;} */
/* .industryafter{right: 0;left: auto;background-position: -94px -761px;} */
/* .bottom2{width: 410px;} */
/* .role-middle .feature{width: 205px;height: 100px;box-sizing: border-box;padding: 0 10px;border-right: 1px solid #e4e4e4;} */
/* .featureLeft{width: 60px;padding-top:30px;text-align: center;} */
/* .featureLeft h1{font-weight: bold;font-size: 18px;color:#2f2f2f;} */
/* .featureLeft span{display:block;font-size: 14px;color: #666;line-height: 18px;} */
/* .featureRight{width: 130px;height: 118px;} */
/* .role-right .logotable{width: 301px;height: 366px;} */
/* .logotable .lilogo{float:left;width: 129px;height: 52px;border: 1px solid #f1f2f4;border-bottom: none;padding: 10px;} */
/* .logotable .liodd{border-left: none;} */
/* .logotable .lastli{border-bottom: 1px solid #f1f2f4;} */
.serviceclock{width: 220px;height: 369px;}
.serviceList{width: 940px;border-top: 1px solid #edeff1;}
.serviceList li{width: 107px;height: 39px;padding:26px 40px;border-right: 1px solid #edeff1;border-bottom: 1px solid #edeff1;}
.serviceList a{width:100%;height:100%;}
/*��������*/
.role-policy{padding: 20px 20px 5px;background-color: #fff;}
.polict-left{width: 410px;height: 240px;}
.polict-middle{width: 430px;height: 240px;}
.polict-middle a{width: 194px;height: 113px;}
.polict-right{width: 320px;}
.polict-right a{width: 301px;height: 113px;}
/*�˲Ż��*/
.base{padding: 20px 20px 20px 0;background-color: #fff;}
.base-left{position:relative;width: 49%;}
.base dl{position:relative;width:500px;padding-bottom:5px;font-size: 14px;color: #5f5f5f;border-bottom: 1px solid #dee1e5;}
.base-left .job{position:relative;line-height:30px;font-size: 18px;color: #42dab6;}
.base-left dt,.base-left dd{display: inline-block;}
.job b{position: absolute;top:7px;left: -16px;width: 8px;height: 8px;background-color: #42dab6;border-radius: 50%;z-index: 25;}
.base-left dl span{padding-left: 9px;margin-left:8px;line-height:16px;border-left: 1px solid #dee1e5;}
.base-left .salary{color: #42dab6;padding:0;margin:0;border: none;}
.base-left .company{color: #171717;line-height: 30px;}
.line{position: absolute;left:20px;top: 8px;bottom: 0;width: 8px;background-image:url("../images/line.jpg");background-repeat: no-repeat;z-index: 20;}
.width{width: 510px;}
.nano .content {position:absolute;left:20px;overflow:scroll;overflow-x:hidden;width:100%;height:100%;background-color:#fff;}
.nano .content:focus{outline: none;}
.nano  .slider{position : relative;background-color: #d6d6d6;margin: 0 1px;border-radius: 3px;}
.nano  .slider:hover{background-color: #a3a3a3;}
.base .nano{height: 200px;position : relative;overflow : hidden;}
.nano .pane {background : #efefef;position: absolute;width: 8px;right: 0;top: 0;bottom: 0;visibility : hidden\9; /* Target only IE7 and IE8 with this hack */opacity: .01;transition: .2s;border-radius: 5px;}
.nano:hover > .pane, .pane.active{visibility : visible\9; /* Target only IE7 and IE8 with this hack */opacity: 0.99; }
.more{width: 113px;height: 25px;text-align: center;line-height: 27px;border: 1px solid #42dab6;color: #42dab6;}
/*���̽���*/
.financial .role-content{padding-bottom: 5px;}
.financial-left{height: 240px;}
.financial-right{position:relative;width:320px;height: 240px;overflow: hidden;}
.financial-right .line{background-image:url("../images/line2.jpg");}
.financial-right a{position:relative;margin-top:13px;padding-left:20px;color: #5f5f5f;font-size: 14px;}
.financial-right a:first-child{margin-top: 0;}
.financialNew em{position:absolute;left:4px;top:8px;width: 8px;height: 8px;border-radius: 50%;background-color: #42dab6;z-index: 25;}
/*电商学院直播样式*/
.maxzhibo,.middlezhibo,.smallzhibo{position: absolute;right: 0;top: 0;width: 66px;height: 66px;background-image: url("../images/zhibologo.png");background-repeat: no-repeat;background-position: 0 -172px;}
.middlezhibo{background-position: 17px -76px;}
.smallzhibo{left: 47px;right: auto;background-position: 30px 0;z-index: 10;}
