.z-page04 .article .info .time{width: 140px;border-right: 1px solid #e8e8e8;}
.z-page04 .article .info .share{position: relative;margin-left: 4px;width: 83px;border: 1px solid transparent;border-bottom: none;}
.z-page04 .article .info .share b{position:relative;z-index:20;display: inline-block;height:21px;width:81px;background-color: #fff;}
.z-page04 .article .info .share i{position:absolute;top:9px;right:9px;display:inline-block;width:5px;height:5px;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #8b8c8e;}
.z-page04 .article .info .share:hover{color:#0b7fc6;border: 1px solid #ccc;border-bottom: none;}
.z-page04 .article .info .share:hover div{display: block;}
.z-page04 .article .info .bdsharebuttonbox{display:none;position: absolute;padding-top:10px;left:-1px;top:20px;width: 104px;border: 1px solid #ccc;background-color: #fff;;}
.z-page04 .article .bdsharebuttonbox a{clear: both;width: 92px;height:30px;padding:6px 0 6px 24px;background: url("../images/allbgs2.png") no-repeat 0 5px;margin:0;}
.z-page04 .article .bdsharebuttonbox a:hover{color:#0b7fc6;text-decoration:none;opacity:1;}
.z-page04 .article .bdsharebuttonbox .bds_qzone{background-position-y: -28px;}
.z-page04 .article .bdsharebuttonbox .bds_sqq{background-position-y: -95px;}
.z-page04 .article .bdsharebuttonbox .bds_tsina{background-position-y: -61px;}
.z-page04 .article .bdsharebuttonbox .bds_weixin{background-position-y: -129px;}
.z-page04 .article .bdsharebuttonbox li{padding-left:10px;width: 91px;height: 30px;}
.z-page04 .article .bdsharebuttonbox li:hover{background-color: #eee;}
.z-page04 .article .info .collect,.z-page04 .article .info .count,.z-page04 .article .info .comment{line-height: inherit;width: inherit;float: right;padding-top: 1px;padding-left:20px;background-image:url("../images/allbgs2.png");background-repeat: no-repeat;background-position: 0 -230px;}
.z-page04 .article .info .like.zan{}
.z-page04 .article .info .collect:hover{background-position: 0 -262px;cursor:pointer;}
.z-page04 .article .info .collect.zan{background-position: 0 -262px;}
.z-page04 .article .info .count{margin-left:10px;background-position: 0 -295px;}
.z-page04 .article .info .count.zan{background-position: 0 -329px;}
.z-page04 .article .info .count:hover{background-position: 0 -329px;cursor:pointer;}
.z-page04 .article .info .comment{margin-left:10px;background-position: 0 -169px;}
.z-page04 .article .info .comment:hover{background-position: 0 -198px;}
.z-page04 .article .source{float: inherit;text-align: right;}
.z-page04 .article div.shareto{margin-top: 20px;}
.z-page04 .article p.bdsharebuttonbox a.fr{float:left;clear: none;width: inherit;margin-top: -5px;}
.z-page04 .article p.bdsharebuttonbox span{float: left;}
.z-page04 .article div p.tr{text-align: right;color: #666;font-size: 12px;}
.z-page04 .article p.tr span{padding-top: 1px;padding-left:20px;background-image:url("../images/allbgs2.png");background-repeat: no-repeat;background-position: 0 -230px;}
.z-page04 .article p.tr span.zan{background-position: 0 -262px}
.z-page04 .article p.tr span:hover{background-position: 0 -262px;}
.z-page04 .article p.tr span.count{margin-left:10px;background-position: 0 -295px;}
.z-page04 .article p.tr span.count:hover{background-position: 0 -329px;}
.z-page04 .article p.tr span.count.zan{background-position: 0 -329px;}