.downangel{vertical-align:0px;}
/* delete↑ */
 body{background:#edeff1;}
.bgImgWrap img{width:630px;height:340px;}
 .imgWrap img{width:275px;height:165px;}
 .bgImgWrap, .imgWrap, .bgImgWrap a, .imgWrap a{position:relative;}
 .bgImgWrap h6, .imgWrap h6, .bgImgWrap span, .imgWrap span, .bgImgWrap p,.imgWrap p{position:absolute;}
 .dynamics h6{width:80px;height:30px;color:#fff;background-color:#42dab6;z-index:10;text-align:center;line-height:30px;}
 .bgImgWrap p,.imgWrap p{ line-height: 1.2;z-index: 10;color: #fff;bottom: 15px;left: 20px;}
 .bgImgMask,.imgMask{
  background-color: transparent;
  background: -moz-linear-gradient(top, transparent 0%, #333 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#333));
  background: -webkit-linear-gradient(top,transparent 0%,#333 100%);
  background: -o-linear-gradient(top, transparent 0%,#333 100%);
  background: -ms-linear-gradient(top, transparent 0%,#333 100%);
  background: linear-gradient(to bottom, transparent 0%,#333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ff000000',GradientType=0 )Alpha(opacity=60);
  top: 0;left: 0;width: 100%;height: 100%;
  -webkit-transition: all .3s ease;transition: all .3s ease;
  opacity: .6;
 z-index: 5;
 zoom:1;}
 :root {filter:none;}
 .contentList{clear:both;}
.imgWrap{width:570px;}
.imgWrap li{float:left;margin:0 0 10px 10px;position:relative;}
 .dynamics .blue{background:#00a9ff;}
 .dynamics .darkBlue{background:#005de1;}
 .dynamics .green{background:#00c161;}
 .dynamics .red{background:#ff2a64;}
 .contentList{width:825px;}
 .listBar{background:#fff;overflow: hidden;}
 .ranking{width:355px;+width:315px;background:#fff;box-sizing:border-box;padding:20px;}
 .footer{clear:both}
 .listBar li{float:left;padding:0 15px;color:#171717;line-height:30px;}
.d_active{background:#42dab6;}
.d_active a{color:#fff;}
.listBar li:hover a{color:#42dab6;}
 .listBar li.d_active:hover a{color:#fff;}
.context{height:160px;background:#fff;}
.context img{width:160px;height:120px;margin:20px;}
.context div.fr{width:625px;}
 .context a{font-size:18px;color:#333;}
 .timeShow{color:#aaa;margin:19px 0;line-height:1;}
 .context p{color:#707070;}
.ranking .info{width:80px;height:30px;line-height:30px;text-align:center;color:#fff;}
.ranking-normal .ranking-show{display:none;}
 .context a:hover{color:#42dab6;}
 .ranking .ranking-show{margin-bottom:15px;}
 .imgMask:hover,.bgImgMask:hover{
  opacity:.8;
  filter:Alpha(opacity=80);
 }
 .ranking-show img {width: 113px;height: 65px;float:left;}
 .ranking-show p { padding-top: 7px;height: 52px;color: #5f5f5f;line-height: 24px;overflow: hidden; width: 190px;float: right;margin-left: 12px;}
 .ranking-content .top {background-color: #42dab6;color: #fff;}
 .ranking-content .last {background-color: #5d6981;color: #fff;}

.ranking-content span { width: 20px; height: 20px;text-align: center;line-height: 20px;}
 .loadMore:hover{background:#69ffdb;}
 .loadMore{height:30px;background:#a0ffe8;text-align:center;line-height:30px;color:#42dab6;}