html,body{font-size: 10px;}

/*navbar*/
header{width: 100%;height: 50px;max-width: 640px;margin: 0 auto;}
nav{height: 50px;width: 100%;position: fixed;top:0;max-width:640px;background-color: #EFEFF4;border-bottom: 1px solid #B2B2B2;z-index: 1000;}
.wing-wrap{width: 100%;height: 100%;float: left;}
.wing-main{height: 100%;line-height: 50px;font-size: 1.6rem;font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0  6px;}
.wing-left{float: left;height:100%;position: relative;margin-left: -100%;}
.wing-left:after{content: '';position: absolute;right: 0;top: 10px;height: 30px;width: 1px;background-color: #D8D8D8;}
.wing-right{height:100%;float: left;position: relative;}
.wing-left img{width: 15px;height: 30px;position: relative;top: 10px;left:17px;}
.nav-jump {width: 50px;height: 100%;float: left;}
.nav-jump img{width: 24px;height: 24px;position: relative;top: 13px;left:13px;}
.nav-add {width: 50px;height: 100%;float: left;}
.nav-add img{width: 24px;height: 24px;position: relative;top: 13px;left:13px;}
.wing-left:active,.wing-right .right-one:active,.wing-right .right-two:active{background-color: #cfcfcf;}

.wing .wing-main{margin: 0 50px 0 50px;}
.wing .wing-left{width:50px;margin-left: -100%;}
.wing .wing-right{width:50px;margin-left: -50px;}

.two.wing .wing-main{margin: 0 100px 0 50px;}
.two.wing .wing-left{margin-left: -100%;}
.two.wing .wing-right{width: 100px;margin-left: -100px;}


/*移动端财务首页*/
	.container{width:100%;max-width:640px;}
	.one-top-entrance{padding: 10px 0;}
	.top-entrance{float: left;width: 50%;}
	.top-entrance:first-child{border-right:1px solid #EAEAEA;}
	.top-entrance-name{position:relative;padding-left: 20%;	}
	.top-entrance-name span{line-height: 45px; font-size: 1.6rem;margin-left: 2px;}
	.top-entrance img{width:9.06666vw;width:30%;height:auto;float: left;}
	.num{text-align: center;color: #f36303;font-size: 1.8rem;padding-top: 5px;}
	.two-bottom-entrance{}
	.bottom-entrance{width: 33.3333%;height:110px;float: left;border-right:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;padding: 20px 0;}
	.bottom-entrance .project-notice{width: 40%;margin:0 auto;position:relative;}
	.project-notice img{width:100%;}
	.project-notice span{position:absolute;left:50%;top:0;background-color: #FE0300;color: #fff;padding: 0 4px;
		border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
	.bottom-entrance p{text-align: center;font-size: 1.6rem;}
	.index a{color: #323232}

/*END*/

/*我的借款*/
	/*.tabs:active{background-color: red;}*/
	.tabs{text-align: center;}
	.tab{height: 45px;line-height: 45px;color: #3F3F3F;font-size: 1.6rem;float: left;width:33.3333%;display: inline-block;}
	.one.tabs{border-bottom:1px solid #cfcfcf;}
	.one .active.tab{color: #f36303;}
	.bl{display:inline-block;position: relative;}
	.active .bl::after{position: absolute;content:'';bottom: 0;height: 2px;background-color: #f36303;width:100%;left:0;}
	.two.tabs{padding:9px;background-color: #EFEFF4;height: 50px;}
	.two.tabs .tab{font-size: 1.4rem; border:1px solid #f36303;height: 30px;line-height: 30px;color: #f36303;background-color: #fff;}
	.two.tabs .tab:nth-child(2){border-left:none;border-right:none;}
	.two .active.tab{color:#fff;background-color: #f36303;}
	.money-name{min-width:180px;color: #656565;font-size: 1.6rem;}
	.money-name span{color: #353535;padding-left: 6px;}
	.money-num{color: #f36303;font-size: 1.8rem;padding-top: 8px;font-weight: bold;}
	.tabpanel{display: none;}
	.showing{display: block;}
	/*.fz14{font-size: 1.6rem;}*/
	@media screen and (min-width:321px){
		/*.fz14{font-size: 1.6rem;}*/
	}
	.brl{border-top-left-radius: 5px;border-bottom-left-radius:5px;}
	.brr{border-top-right-radius: 5px;border-bottom-right-radius:5px;}
	.bill.media{padding: 10px;border-bottom: 1px solid #CFCFCF;margin: 0;}
	.bill .media-right{text-align: right;font-size: 1.6rem;line-height: 40px;padding-left: 0;}
	.bill .media-right div{width:120px;color: #AEAEAE;}
	.bill .media-right p{float: left;}
	.bill .media-right img{width: 10px;height:17px;}
/*END*/
/*新建借款*/
	.item {border-bottom: 1px solid #cfcfcf;padding-left: 0px;padding-right: 10px;font-size: 1.4rem;color: #323232;height: 40px;overflow: hidden;}
	.item span{position:relative;top:-1px;}
/*text-align: justify;text-justify:distribute-all-lines; text-align-last:justify; -webkit-text-align-last:justify;*/
	.item-title {float: left;line-height: 40px;min-width:90px;text-align:justify;  text-justify:inter-ideograph;word-break:break-all;}

	

	.item-details {height: 40px;float: right;line-height: 40px;text-align: right;position: relative;}
	.item-details img {width: 10px;height: 18px;position: absolute;right: 0;top: 10px;}
	.item-details input {border: none !important;height: 96%;width: 90%;font-size: 1.4rem;text-align: right;position: absolute;
		top: 0;right: 25px;}
	.group {padding-left:10px;background-color: #fff;border-top: 1px solid #cfcfcf;border-bottom: 1px solid #cfcfcf;}
	.group .item:last-child{margin-bottom: -1px;}
	.date-local{color: #323232}
	#borrow-digest{width: 100%;min-height: 80px;-webkit-appearance:none;border:none;font-size: 1.4rem;padding-left: 10px;}
	#scroller .current{color: #333333;font-weight: bold;}
	.del-draft,.save-draft{background-color: #fff;border-radius:3px;border-color:#C8C8C8;color: #3F3F3F;}
	.push-up{border-radius:3px;background-color: #f36303;color: #fff;border:1px solid #f36303 ;}
	label p{font-size: 1.4rem;padding: 0 10px;line-height: 24px;text-align: justify;}


.item-title 1{float: left;
line-height: 24px;
overflow: hidden;
margin-right: 0;
text-align: center;
width: 7rem; 
/*这个值是看最长能显示几个文字，如x，则为x em*/
}
.z41{letter-spacing:0.4rem; 
	/*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
/*margin-right:-2rem;*/ /*同上*/
}
.z21{letter-spacing:1rem; 
	/*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
margin-right:-2rem; 
/*同上*/
}

.film-tab{width: 50%;margin-left: 50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.check-bill{border:1px solid #CFCFCF; padding: 10px;position: relative;background-color: #fff;border-radius: 5px;margin-bottom: 10px;}
/*.check-bill-left,.check-bill-body{float: left;}*/
.check-bill-left{position: absolute;}
.check-bill-left p{text-align: center;color: #909090;font-size: 1.2rem;}

.check-bill-left img{width: 30px;}
.check-bill-body {padding-left: 40px;padding-right: 20px; width: 100%;}
.check-bill-body h3 {font-size: 1.8rem;font-weight: normal;line-height: 30px;}
.check-bill-body h3 span {float: right;font-size: 1.4rem;font-weight: normal;top: 4px;position: relative;color: #909090;	}
.check-bill-name{margin-left: -40px; padding-right: 10px; color: #909090;font-size: 1.4rem;padding: 5px 0;
	overflow: hidden;word-wrap: nowrap;text-overflow: ellipsis;word-break: keep-all;white-space:nowrap}
.check-bill-name span{display: inline-block;width: 30px;text-align: center;margin-right: 10px;}
.check-bill-money{margin-left: -40px; padding-right: 10px; font-size: 1.6rem;line-height: 20px; 
	overflow: hidden;word-wrap: nowrap;text-overflow: ellipsis;word-break: keep-all;white-space:nowrap}
.check-bill-money span{display: inline-block;width: 30px;text-align: center;margin-right: 10px;}
.check-bill-money span img{width: 20px;top: 3px;position: relative;}
.check-bill-right{position: absolute;right: 10px;top: 50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.check-bill-right img{width: 10px;}

.check-bill-btn{clear: both;text-align: right;padding-right: 20px;padding-top: 8px;}
.agree-btn{float: right;height: 35px;}
.check-bill-btn span,.agree-btn span{ font-size: 1.4em; display: inline-block;padding: 5px 8px;
	border-radius: 3px;margin-left: 10px;width: 60px;text-align: center;}
.disagree{border:1px solid #C8C8C8;}
.agree{background-color: #f36303;color: #fff;border: 1px solid #f36303;}



.check-bill-body:active{background-color: #cfcfcf;}
.disagree:active{background-color: #cfcfcf;color: #fff;}
.agree:active{background-color: #DE5900;color: #fff;}
span.photo-check,span.photo-num{position: absolute;right: 5px;top: 8px;display: inline-block;line-height: 18px;font-size: 1.2rem;}
.photo-check{border:1px solid #CCCBD0;padding: 2px 10px;border-radius: 3px;}
.photo-push{right: 60px !important;}
span.photo-num{top: 2px;right:-5px;border: 1px solid #f36303;color: #f36303;border-radius: 50%;
	min-width: 20px;min-height: 20px;text-align: center;background-color: #fff;}
.person-num{background-color: #fff;}
.name-list{color: #323232; border-radius: 5px;overflow: hidden;border: 1px solid #CCCCCC;border-bottom: none;}
.name-bills{background-color: #F0F0F0;}
.name-bills .media-object{height: 30px;width: 30px;}
.name-time{float: right;}
.name-num{color: 848484;padding-left: 10px;}
.person-nanme{line-height: 20px;font-size: 1.6rem;}
.person-nanme span{float: right;color: #747474;	}

.name-bills .media-body{color: #f36303;}
.name-bills .media-body span{font-size: 1.6rem;}
.name-bills .media-body .name-time{color: #909090;font-size: 1.4rem;}
.name-bills .media-body .name-time .name-num{color: #747474;font-size: 1.6rem;}


.w30 {
	display: inline-block;
	float: left;
    width: 22%;
    margin: 5%;
    margin-bottom: 10px;
    padding: 6px 0;
    text-align: center;
    font-size: 1.4rem;
}
.w50 {
	display: inline-block;
	float: left;
    width: 40%;
    margin: 5%;
    margin-bottom: 10px;
    padding: 6px 0;
    text-align: center;
    font-size: 1.4rem;
}
/*待审核  制片*/
.agree-all{background-color: #fff; padding: 10px 0px 0 20px;border-bottom: 1px solid #CCCCCC;
	position: fixed;top: 50px;left: 0;width: 100%;z-index: 100;}
.media{padding-right: 10px; border-bottom:1px solid #CCCCCC;}
.name-detail .media-left img{width: 45px;}
.money-class{font-size: 1.2rem;color: #f36303;float: right;line-height: 30px;}
.money-num{font-size: 1.6rem;}
.name{line-height: 35px;}
.select-agree{padding-top: 10px;padding-right: 10px;padding-bottom: 8px;}

.select-agree label{line-height: 30px;font-size: 1.4rem;}
.select-agree label span{width: 20px;height: 20px;display: inline-block;float: left;
	border: 1px solid #CCCCCC;border-radius: 50%;margin-right: 4px;margin-top: 5px;}



.checked span{background: url(../img/iconfont-check.svg) no-repeat;-webkit-background-size: 100%;background-size: 100%;background-color: #f36303 !important;border: 1px solid #f36303 !important;}
span.checked{background: url(../img/iconfont-check.svg) no-repeat;-webkit-background-size: 100%;background-size: 100%;background-color: #f36303 !important;border: 1px solid #f36303 !important;}
.wait-check-bills {padding-top: 118px;background-color: #EFEFF4;}
.wait-check-bills p.notice{text-align: right;padding-right: 10px;font-size: 1.4rem;color: #909090;}

.person-bill {padding: 0 10px;}
.person-bill .media{border:1px solid #CFCFCF;border-radius: 5px;background-color: #fff;}
.person-bill .media-right p{width: 92px;font-size: 1.4rem;color: #909090}
.person-bill .media-right p img{margin-left: 10px;top: 2px;position: relative;}

.person-bill .media-body {text-align: left;padding-left: 10px;}
.person-bill .media-body .person-bill-num{color: #909090;width: 30px;display: inline-block;font-size: 1.4rem;}
.person-bill .media-body .person-bill-name{color: #323232;font-size: 1.6rem;height: 32px;line-height: 32px;}
.person-bill .media-body .person-bill-money{color: #f36303;font-size: 1.2rem;height: 30px;line-height: 30px;}
.person-bill .media-body .person-bill-money .bill-money{font-size: 1.6rem;}


.person-bill .media-body label {width: 20px;height: 20px;}
.person-bill .media-body label span{width: 20px;height: 20px;display: inline-block;float: left;
	border: 1px solid #CCCCCC;border-radius: 50%;margin-right: 4px;margin: 5px 5px 0;}
.person-bill .media-body img{width: 20px;margin-left: 10px;}
/*.person-bill .media-right img{width: 10px;float: right;}*/
.name-detail .name{font-size: 1.6rem;}
.save-push{background-color: #EFEFF4;min-height: 60px;}


/*待审批 出纳*/

.proof{padding-right:20px; color: #909090;height: 40px;line-height: 40px;font-size: 1.6rem;}
.proof span{display: inline-block;width: 20px;margin-left: 5px;margin-right: 10px;}
.proof img{width: 20px;}
.proof .swc_user{float: right;}
.account-finish{ display:inline-block;text-align: center;font-size: 1.6rem;margin-bottom: 20px;}

/*待会计审批*/
.casher-topicinfo{background-color: #DBDBDB;}
.casher-topicinfo input{background-color: #DBDBDB;}
.pay-way-notice{color: #909090;font-size: 1.0rem;}
h2.pay-way-tips{font-weight: 1.6rem;padding-left: 10px;line-height: 40px;}
.pay-way-sort{border-width: 1px 0 1px 0;border-style: solid ;border-color: #cccccc;padding-left: 10px;background-color: #fff;}
.choose-payway{height: 35px;line-height: 35px;/*border-bottom: 1px solid #CCCCCC;*/font-weight: normal;}
.choose-payway span.wcheck{width: 20px;height: 20px;display: inline-block;background-color: #fff;
	border: 1px solid #CCCCCC;border-radius: 50%;margin-right: 10px;position: relative;top: 5px;}
.payway-item.payway-title{color: #909090}
.payway-title .payway-right{padding-right: 10px;	}
.payway-left,.payway-middle,.payway-right{float: left;width:33.3333%;height: 100%;}
.payway-item{height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;color: #323232;}
.paycash .payway-item{border-bottom: none;}
.payway-left{text-align: left;}
.payway-middle{text-align: center;}
.payway-right{text-align: center;}
.payway-right input{width: 100%;height: 80%;text-align: right;padding-right: 10px;-webkit-appearance:none; border-radius: 3px;border:1px solid #CCCCCD;position:relative;top: 1px;}
.borrow-money h3,.paywaymoney{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.borrow-money h3{line-height: 22px;font-weight: normal;}
.payborrow{border-bottom: none;}
.select-borrow{border-bottom: 1px solid #cfcfcf;}
.borrow-money{position: relative;}
.borrow-money-details{transition: all 3s linear; background-color: rgba(0,0,0,0.7);position: absolute;bottom: 23px;left: 0;width: 100%;padding: 5px;
	word-wrap: break-word; word-break: break-all;text-overflow: none; border-radius: 3px;}
.borrow-money-details:after{content: '';width: 0px;height: 0px;
border-top:10px solid rgba(0,0,0,0.7);
border-left: 10px solid transparent;
border-right: 10px solid transparent;

position: absolute;bottom: -10px;left: 10px;}


.borrow-money-details p{color: #fff !important;}
.borrow-money p{line-height: 14px;color: #f36303;}
.reduce-borrow{text-align: right;line-height: 30px;padding-right: 10px;}
.reduce-borrow{border-top: 1px solid #cfcfcf;margin-top: -1px;margin-left: -10px;}
.pay-way-gamp{background-color: #EFEFF4;}
.paycash .choose-payway{}
.pay-cash p{padding:0 10px;background-color: #DBDBDB;margin:0px 0 -1px -10px;border-bottom: 1px solid #ccc;font-size: 1.4rem;}
.pay-cash span{float: right;}
/*.pay-borrow-box .payway-item,.pay-borrow-box .reduce-borrow{display: none;}*/
.pay-way-action{min-height: 60px;}



/*财务报表*/
.income.lrsm{color: #FB6851;}
.reports-index-tipinfo{background-color: #F35844;padding: 20px 10px;color: #fff;}
.reports-index-tipinfo h2{font-size: 1.8rem;line-height: 30px;}
.reports-index-tipinfo .money-name{color: #FAC6C1;font-size: 1.4rem;line-height: 24px;}
.reports-index-tipinfo .money-num{font-size: 1.8rem;color: #fff;text-align: right;line-height: 30px;}

.reports-index .lrsr{width: 50px;}
.reports-index .lrsm{margin-left: 50px;}
.reports-index .lrs{border-bottom: 1px solid #CCCCCC;padding-right: 10px;font-size: 1.6rem;color: #646464;}
	/*报表-收款*/
	.income .section{padding: 10px;}
	.income .media{padding: 10px;border: 1px solid #CFCFCF;border-radius: 5px;}
	.income .media.submited{border-top: 5px solid #2FB2E8;}
	.income .media .page-header{font-size: 1.6rem;color: #3F3F3F;line-height: 28px;}
	.income .media .page-header small{font-size: 1.4rem;color: #3F3F3F;float: right;}
	.income .sub-time{line-height: 22px;font-size: 1.2rem;}
	.income .media .sub-money{font-size: 1.8rem;line-height: 30px;font-weight: bold;}