/*移动端财务首页*/
	.container{width:100%;max-width:640px;}
	.one-top-entrance{padding: 10px 0;}
	.top-entrance{float: left;width: 50%;}
	.top-entrance:first-child{border-right:1px solid #EAEAEA;}
	.top-entrance-name{position:relative;padding-left: 20%;	}
	.top-entrance-name span{display:inline-block; position: absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);text-indent: 1%;font-size: 1.6rem;}
	.top-entrance img{width:9.06666vw;width:30%;height:auto;float: left;}
	.num{text-align: center;color: #f36303;font-size: 1.8rem;padding-top: 5px;}
	.two-bottom-entrance{}
	.bottom-entrance{width: 33.3333%;height:110px;float: left;border-right:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;padding: 20px 0;}
	.bottom-entrance .project-notice{width: 40%;margin:0 auto;position:relative;}
	.project-notice img{width:100%;}
	.project-notice span{position:absolute;left:50%;top:0;background-color: #FE0300;color: #fff;padding: 0 4px;
		border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
	.bottom-entrance p{text-align: center;font-size: 1.6rem;}
	.index a{color: #323232}

/*END*/

/*我的借款*/
	/*.tabs:active{background-color: red;}*/
	.tabs{text-align: center;}
	.tab{height: 45px;line-height: 45px;color: #3F3F3F;font-size: 1.6rem;float: left;width:33.3333%;display: inline-block;}
	.one.tabs{border-bottom:1px solid #cfcfcf;}
	.one .active.tab{color: #f36303;}
	.bl{display:inline-block;position: relative;}
	.active .bl::after{position: absolute;content:'';bottom: 0;height: 2px;background-color: #f36303;width:100%;left:0;}
	.two.tabs{padding:10px;background-color: #EFEFF4;height: 50px;}
	.two.tabs .tab{font-size: 1.4rem; border:1px solid #f36303;height: 30px;line-height: 30px;color: #f36303;background-color: #fff;}
	.two.tabs .tab:nth-child(2){border-left:none;border-right:none;}
	.two .active.tab{color:#fff;background-color: #f36303;}
	.money-name{min-width:180px;color: #656565;font-size: 1.6rem;}
	.money-name span{color: #353535;padding-left: 6px;}
	.money-num{color: #f36303;font-size: 1.8rem;padding-top: 8px;font-weight: bold;}
	.tabpanel{display: none;}
	.showing{display: block;}
	/*.fz14{font-size: 1.6rem;}*/
	@media screen and (min-width:321px){
		/*.fz14{font-size: 1.6rem;}*/
	}
	.brl{border-top-left-radius: 5px;border-bottom-left-radius:5px;}
	.brr{border-top-right-radius: 5px;border-bottom-right-radius:5px;}
	.bill.media{padding: 10px;border-bottom: 1px solid #CFCFCF;margin: 0;}
	.bill .media-right{text-align: right;font-size: 1.6rem;line-height: 40px;padding-left: 0;}
	.bill .media-right div{width:120px;color: #AEAEAE;}
	.bill .media-right p{float: left;}
	.bill .media-right img{width: 10px;height:17px;}
/*END*/
/*新建借款*/
	.item {border-bottom: 1px solid #cfcfcf;padding-left: 10px;padding-right: 10px;font-size: 1.6rem;color: #323232;height: 50px;overflow: hidden;}
	.item span{position:relative;top:-1px;}
/*text-align: justify;text-justify:distribute-all-lines; text-align-last:justify; -webkit-text-align-last:justify;*/
	.item-title {float: left;line-height: 50px;min-width:90px;text-align:justify;  text-justify:inter-ideograph;word-break:break-all;}

	div.justify	{
		text-align: justify;
		/*border: 1px solid red;*/
		width: 110px;
	}
	div.justify > span{ display: inline-block;padding-left: 100%; }


	.item-details {height: 50px;float: right;line-height: 50px;text-align: right;position: relative;}
	.item-details img {width: 10px;height: 18px;position: absolute;right: 0;top: 17px;}
	.item-details input {border: none !important;height: 96%;width: 90%;font-size: 1.6rem;text-align: right;position: absolute;
		top: 0;right: 25px;}
	.group {padding-left:10px;background-color: #fff;border-top: 1px solid #cfcfcf;border-bottom: 1px solid #cfcfcf;}
	.group .item:last-child{margin-bottom: -1px;}
	.date-local{color: #323232}
	#borrow-digest{width: 100%;min-height: 80px;-webkit-appearance:none;border:none;font-size: 1.6rem;padding-left: 10px;}
	#scroller .current{color: #333333;font-weight: bold;}
	.del-draft,.save-draft{background-color: #fff;border-radius:3px;border-color:#C8C8C8;color: #3F3F3F;}
	.push-up{border-radius:3px;background-color: #f36303;color: #fff;border:1px solid #f36303 ;}
	label p{font-size: 1.6rem;padding: 0 10px;line-height: 24px;text-align: justify;}


.item-title 1{float: left;
line-height: 24px;
overflow: hidden;
margin-right: 0;
text-align: center;
width: 7rem; 
/*这个值是看最长能显示几个文字，如x，则为x em*/
}
.z41{letter-spacing:0.4rem; 
	/*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
/*margin-right:-2rem;*/ /*同上*/
}
.z21{letter-spacing:1rem; 
	/*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
margin-right:-2rem; 
/*同上*/
}
