/*滑动选择iscroll*/
				
				.f_half{
					transform:translate(-50%, -50%);
					-moz-transform:translate(-50%, -50%);
					-webkit-transform:translate(-50%, -50%);}
				* {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
				#wrapper {
					position: absolute;
					z-index: 1;
					width:100%;
					left:50%;
					height:120px;
					top:50%;
					background: #fafafa;
					overflow: hidden;
				}

				#scroller {
					position: absolute;
					z-index: 1;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
					width: 100%;
					-webkit-transform: translateZ(0);
					-moz-transform: translateZ(0);
					-ms-transform: translateZ(0);
					-o-transform: translateZ(0);
					transform: translateZ(0);
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					-webkit-text-size-adjust: none;
					-moz-text-size-adjust: none;
					-ms-text-size-adjust: none;
					-o-text-size-adjust: none;
					text-size-adjust: none;
				}
				#scroller ul {
					list-style: none;
					padding: 0;
					margin: 0;
					width: 100%;
					text-align:center;
				}
				#scroller li {
					padding: 0 10px;
					height: 40px;
					line-height: 40px;
					font-size: 14px;
					color: #A8A8A8;
				}
				.middle_s{ width:100%; position:absolute; height:40px; margin-top:40px; background-color:rgba(0,0,0,0.1);}
				.layout{
					/*position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					background-color: rgba(0,0,0,0.5);*/
				}
				.backdrop{
					position: fixed;
					top: 0;
					background-color: rgba(0,0,0,0.5);
					height: 100%;
					width: 100%;
				}
				.layer{
					width: 100%;
					position: fixed;
					bottom: 0;
					background-color: #fff;
					height: 180px;
				}
				.select-cancel .cancel{
					float: left;
				}
				.select-cancel .action-title{
					float: left;
					position: absolute;
					left: 50%;
					transform:translateX(-50%);
					-ms-transform:translateX(-50%); 	/* IE 9 */
					-moz-transform:translateX(-50%); 	/* Firefox */
					-webkit-transform:translateX(-50%); /* Safari 和 Chrome */
					-o-transform:translateX(-50%);
					font-weight: bold;
				}
				.select-cancel .selecting{
					float: right;
				}
				.layer-content{
					clear: both;
					position: relative;
					height: 120px;
				}
				.select-area{
					height: 120px;
					overflow: auto;
				}
				.layer-title{
					/*position: absolute;*/
					width: 100%;
					/*bottom: 59px;*/
					height: 50px;
					line-height: 48px;
					font-size: 1.6rem;
					background-color: #EAEAEA;
					border-bottom: 1px solid #cfcfcf;
				}
				.select-cancel {
							padding: 0 10px;
						}
						.select-cancel .cancel a{
							width: 50px;
							height: 35px;
							border: none;
							color: #a1a1a1;
							font-size: 16px;
							background-color: #EAEAEA;
							text-decoration: none;
						}
						.select-cancel .selecting a{
							width: 50px;
							height: 35px;
							border: none;
							color: #f27302;
							font-size: 16px;
							background-color: #EAEAEA;
							text-decoration: none;
						}
