@import "../../Public/static-base/static-base.scss";
@import './font-awesome-4.7.0/css/font-awesome.min.css';
@import "./usr-jq-weui-datepicker.scss";
html{
	body{
		padding-bottom: 80px;
		background-color: #f8f8f8;
		// 用户
		.month-usr{
			&.media{
				.weui-media-box_appmsg .weui-media-box__hd{
					width: 40px;height: 40px;
					margin-right: 10px;
				}
				.weui-media-box{
					padding: 10px;
				}
				.left-icon{
					border-radius:50%;
				}
				.weui-media-box__title{
					white-space:normal;
					font-size: 16px;
				}
				.media-right{
					white-space:nowrap;
					font-size: 12px;
					padding-right: 10px;
					background: #fff;
				}
				.weui-panel:after, .weui-panel:before{
					display: none;
				}
			}
		}
		// 日历
		.clandar{
			padding-top: 10px;
			background: #f8f8f8;
			.weui-picker-calendar{
				height:auto;
			}
			.toolbar{
				display: none;
			}
			.picker-modal-inner{
				background:#f8f8f8;
			}
			.picker-calendar-day-today span{
				background:#deeaff;
			}
			.picker-calendar-day-selected span{
				background-color: #4b8dfa;
			}
			.picker-calendar-week-days{
				 background: #f8f8f8;
				 color:#6f6f6f;
				 &::after{
				 	display: none;
				 }
			}
			.picker-calendar-row:after {
			    display: none;
			}

			.punked {
			    position: relative;
			}

			.punked::after {
			    content: '';
			    display: block;
			    position: absolute;
			    bottom: 0;
			    left: 50%;
			    width: 4px;
			    height: 4px;
			    background-color: #30dbec;
			    border-radius: 50%;
			    margin-left: -2px;
			}
			.picker-calendar-day{
				font-weight: normal;
				color:#666;
				font-size: 18px;
			}
			.picker-calendar-day-prev,.picker-calendar-day-next{
				font-weight: normal;
				color:#ccc;
			}

		}
		// 当日打卡详情
		.current-day-detail{
			font-size: 14px;
			background-color: #f8f8f8;
			.punk-role-group{
				padding: 0 10px;
				line-height: 42px;
				background-color: #f2f2f2;
				font-size: 12px;
				color:#999;
			}
			.punked-total{
				padding: 0 10px;
				border-bottom:1px solid #ededed;
				height: 42px;
				line-height: 42px;
				.fa{
					color:#4da9eb;
					font-size: 20px;
					vertical-align:middle;
				}
			}
			.punk-time{
				padding: 0 10px;
				&.punk-in{
					position: relative;
					// overflow:hidden;
					&::before{
						content:'';
						display: block;
						position: absolute;
						width: 1px;
						width: 0.5px;
						height: 100%;
						left: 18px;
						top: 20px;
						background-color: #ccc;
					}
				}
				.punk-tips{
					line-height: 42px;
					.punk-point{
						position: relative;
						z-index:10;
						background-color: #b2b2b2;
						height: 18px;
						width: 18px;
						border-radius:50%;
						font-size: 10px;
						display: inline-block;
						text-align:center;
						color:#fff;
						line-height: 18px;
						vertical-align:middle;
					}
					.punk-on-time{
						color:#ccc;
					}
				}
				.punk-status{
					.punk-on-time,.punk-out-time{
						padding: 0 15px 0 30px;
						.punk-addr{
							color:#ccc;
							margin-top: 8px;
							line-height: 18px;
							.fa{
								color:#ccc;
							}
						}
						.punk-status-tag{
							margin-top: 0px;
							span{
								display: inline-block;
								padding: 2px 10px;
								background-color: #4b8dfa;
								color:#fff;
								font-size: 10px;
								border-radius:20px;
							}
						}
					
					}
					.punk-out-time{
						.punk-status-tag{
							span{
								background-color: #ff943e;
								margin-right: 5px;
							}
						}
						.out-time-action{
							a{
								color:#576a95;
								display: inline-block;
								margin-top: 5px;
							}
						}
						.admin-change{
							text-align:right;
							a{
								display: inline-block;
								margin-bottom: 10px;
								color: #4b8dfa;
								background-color: #e9f1ff;
								border:1px solid #d4e4ff;
								padding:4px 10px;
								border-radius:5px;
							}
						}
					}
				}
			}
		}
		.contact-admin{
			position: fixed;
			bottom: 0;left: 0;right: 0;
			height: 42px;
			line-height: 42px;
			background-color: #fff;
			text-align:center;
			a{
				color:#3aaeff;
			}
		}
		// 提交申请 actions
		.weui-mask.weui-mask--visible{
			opacity:0.5;
		}
		$pd:10px;
		$radius:8px;
		.weui-actionsheet{
			left: $pd;right: $pd;
			width:calc(100% - 20px);
			bottom:$pd;
			border-radius:$radius;
			background: transparent;
			overflow:hidden;
			.weui-actionsheet__menu{
				border-bottom-left-radius:$radius;
				border-bottom-right-radius:$radius;
				.weui-actionsheet__cell {
					font-size: 16px;
					font-weight: normal;
					color:#38adff;
					&:first-child,&:nth-child(2),&:nth-child(3),&:nth-child(4){
						color:#ccc;
					}
				}
			}
			.weui-actionsheet__action{
				border-top-left-radius:$radius;
				border-top-right-radius:$radius;
				overflow:hidden;
			}
		}
	}
}