$themecolor:#3296fa;
.picker-calendar-day.picker-calendar-day-selected span{
	background-color: $themecolor;
}
/*date picker 自定义样式*/
	/*前后按钮*/
	i.icon.icon-prev{
		background-image: url(../img/triangle-left.svg);
	}i.icon.icon-next{
		background-image: url(../img/triangle-right.svg);
	}
	/*选中样式更改*/
	.picker-calendar-day.picker-calendar-day-selected span{
		background-color: #576a95;
	}
	