*{
    margin: 0;padding: 0;
}
body{
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    -moz-column-width:100px;
    max-width: 640px;
    z-index: 9999;
    height: 50px;
    padding: 10px;
    border-radius: 0;
    border: none;
    text-align: center;
    margin-bottom: 0;
    background-color: #f27302;
}
.navbar>h3{
    float: left;
    color: #ffffff;
}
.container-fluid{
    max-width:640px;
    padding: 0;
}
.content_body{
    margin-top: 50px;
}
.btn_menu{
    margin-left: 6px;
    float: left;
    padding: 0;
    border-radius: 0;
}
.my_theater_group{
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
}
.finance76>h3{
    font-size: 20px;
}
.btn_search{
    float: right;
    margin-right: 6px;
    padding: 0;
}
.btn-menu>a img,.btn-search>a img{
    width: 30px;
    height: 30px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.col-xs-2 ,.col-sm-2 ,.col-md-2 ,.col-lg-2{
    padding-left: 0;
    height: 14px;
}
.left{
    padding-left: 0;
}
.right{
    padding-right:0;
}
.btn-default:hover{
    background-color:#f27302;
    color: inherit;
}
.btn-default:active{
    /*background-color: #ffffff;*/
    /*border: 1px solid #999999;*/
    border: none;
}
.btn-default:focus{
    background-color:inherit;
}
.glyphicon{
    color: #ffffff;
}
.btn-default{
    background-color: #f27302;
    border: none;
}
.fade{
    opacity:0;
    -webkit-transition:opacity 0.55s linear;
    -o-transition:opacity 0.55s linear;
    transition:opacity 0.55s linear
}
.title_scenario ul li p{
    margin-bottom: 5px;
}
.title_scenario ul li a img{
    /*width:25px;*/
    /*height: 20px;*/
    margin-top: 8px;
}
.dialog{
    padding-top: 10px;
}

.modal-content {
    border-radius: 0;
    border: 1px solid #999;
}
.modal-dialog{
    margin-top: 50px;
}
.modal-content_left{
    max-width:70%;
    float: left;
}
.modal-content-right{
    min-width:210px;
    max-width:80%;
    float: right;
}
.dialog_left{
    margin-left: 0;
}
.dialog_right{
    margin-right: 0;
}
.modal-backdrop{
    background-color:inherit;
}
ul li{
    list-style: none;
}
.title_scenario{
    text-align: left;
}
.title_scenario li>a{
    border-radius: 0;
    width: 100%;
    text-transform:none;
    padding-left: 12px;
    color: #000000;
    font-size: 2rem;
    border-bottom:1px solid#cfcfcf;
}
.title_scenario li>a>p{
    float: left;
}
.title_scenario li>a>img{
    float: right;
}
.modal-body,.modal-body>.title_scenario{
    padding: 0;
}
/*.markedli{*/
/*margin-top: 5px;*/
/*}*/
/*.marked{*/
/*margin-top: 5px;*/
/*margin-bottom: 5px;*/
/*}*/
.markeddiv{
    margin-top: 8px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #cfcfcf;
}
.title_scenario ul{
    margin-bottom: 0;
}
li a:hover{
    background-color: #f27302;
}
.btn_list:hover{
    color: #ffffff;
}
.dropdown-menu li>a:visited {
    background-color: #f27302;
}
.btn_number{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}
.scenario_content{
    padding-right: 15px;
}
.number_300{
    border: 2px solid#f27302;
    border-right: 1px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.number_500{
    border: 2px solid #f27302;
}
.number_20000{
    border: 2px solid #f27302;
    border-left: 1px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.btn_number a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    float: left;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    padding-top: 2px;
}
.finance_title{
    padding: 15px;
}
.finance_title>.col-xs-6,.finance_title>.col-sm-6,.finance_title>.col-md-6，.finance_title>.col-lg-6{
    padding: 0;
    font-size: 14px;
}
.btn_bills{
    float: right;
    padding-top: 27px;
    cursor: pointer;
}
.btn_bills a{
    width: 60px;
    padding: 5px 5px;
    /*color: #000000;*/
    /*background-color: #ffffff;*/
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    text-decoration: none;
}
.btn_reimburse_bill{
    margin-left: 5px;
}
.btn_bills a:hover,.btn_bills a:active,.btn_bills a:focus{
    text-decoration: none;
    color: #ffffff;
    background-color: #f27302;
    border-color: #f27302;
}
.finance_ul{
    background-color: #efeff4;
}
.finance_ul li{
    display: inline;
}
.borrow_money li{
    /*border-top: 1px solid #000000;*/
    /*border-bottom: 1px solid #cfcfcf;*/
    /*padding-top: 5px;*/
}
.borrow_money li a{
    color: #000000;
    width: 100%;
    padding-top: 5px;
    border-radius: 0;
    /*height: 100%;*/
}
.borrow_money li a:hover,.borrow_money li a:active,.borrow_money li a:focus{
    background-color: #efeff4;
    /*color: #f27302;*/
}
.minute{
    /*padding-top: 5px;*/
    float: right;
}
.borrow_money li a p{
    clear: both;
    float: left;
    padding-top: 10px;
    margin-bottom: 5px;
    /*color:;*/

}
.borrow_money li a img{
    /*clear: both;*/
    float: right;
    padding-top: 20px;
}
.wait_borrow_title,.wait_filmmaking_title{
    padding-left: 15px;
    /*padding-right: 15px;*/
    border-bottom: 5px solid red;
}
.wait_borrow_content,.wait_borrow1{
    clear: both;
    width: 100%;
    padding: 0;
}
.wait_borrow1{
    padding: 10px 15px 0 15px;
    clear: both;
    line-height: 1;
    float: left;
    min-width:100px;
    background-color: rgba(250, 250, 250, 0.91);
    /*border-bottom: 1px solid #cfcfcf;*/
}
.wait_borrow1 P{
    color:#666565;

    float: left;
}
.wait_borrow_title p,.wait_filmmaking_title p{
    color: #797979;
    clear: both;
    float: left;
    min-width:100px;
}
.btn_agree_or_not{
    margin: 10px 15px 15px 0;
    float: right;
}
.agree,.disagree{
    color: #ffffff;
    background: #f27302;
    border: 1px solid #f27302;
    margin-right: 10px;
}
.agree:hover,.disagree:hover
,.agree:active,.disagree:active
,.agree:focus,.disagree:focus{
    color: #ffffff;
    background-color: #f27302;
    border: 1px solid #f27302;
}
.wait_filmmaking{
    padding-left: 0;
}
.line{
    height: 15px;
    background-color: #f0f0f0;
    clear:both ;
    border-bottom: 1px solid #cfcfcf;
    /*border-top:1px solid #d6d6d6;*/
    /*border-left: none;*/
    /*border-right: none;*/
    /*border-color: #000000;*/
    /*margin-left: -15px;*/
}


.btn_borrow{
    clear: both;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 17px;*/
}
.btn_borrow button{
    margin-top:15px;
    width: 75px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}
.btn_borrow .btn_save{
    width: 75px;
    color: #ffffff;
    background-color: #f27302;
    border: 1px solid #f27302;
    border-radius: 4px;
}
.upload_proof{
    margin-top:7px;
    width: 75px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}


.btn_borrow button:hover,.btn_borrow button:active,.btn_borrow button:focus,.upload_proof:hover,.upload_proof:active,.upload_proof:focus,.btn_back_finance:hover,.btn_back_finance:active,.btn_back_finance:focus{
    color: #ffffff;
    background-color: #f27302;
    border: 1px solid #f27302;
}
.btn_borrow>.btn_save{
    margin-left: 10px;
}

.back_finance{
    clear: both;

}
.btn_back_finance{
    clear: both;
    float: right;
    margin-bottom: 10px;
    padding: 5px 5px;
    color: #ffffff;
    background-color: #f27302;
    border: 1px solid #f27302;
}
.name_list ul li{
    cursor: pointer;
    /*padding: 5px 0 0 0px;*/
    clear: both;

}
.serial-number-list li{
    display: none;
}
.name_list ul li:hover,.name_list ul li:active,.name_list ul li:focus{
    /*background-color: #f0f0f0;*/
}
.name{
    clear: both;
    line-height: 2;
    border-bottom: 1px solid #cfcfcf;
}
.serial-number-list ul li{
    /*border-bottom: 1px solid #cfcfcf;*/
}
.serial-number{
    /*border-bottom: 1px solid #cfcfcf;*/

}
.open{
    border-bottom: 1px solid #cfcfcf;
}
.open1,.open2{
    background-color: red;
}
.wait_borrow_content,.wait_filmmaking_content{
    display: none;
}
/*.n-t div{*/
    /*/!*color: #46433A;*!/*/
    /*padding-left: 15px;*/
/*}*/
hr{
    clear: both;
    margin: 0;
}
.current{
    background-color: #f27302;
    color: #ffffff;
}
a{
    color: #000000;
    cursor: pointer;
}
.add_list {
    max-width: 640px;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: rgb(123, 123, 123);
}

.add_list tr, .add_list th, .add_list td {
    height: 25px;
    border: 1px solid #cfcfcf;
}

.add_list caption {
    text-align: left;
    text-align: -webkit-left; /*for chrome safari*/
    margin-top: 10px;

}

.add_list caption span {
    color: #797979;
}

.add_list th {
    font-weight: normal;
    background-color: #efeff4;
    color: #b2b2b2;
    text-align: center;
    min-width: 70px;
}

.input-cash input {
    width: 80%;
}

#cashier_button {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cash_save, .cashier-abort {
    margin-top: 15px;
    width: 70px;
    height: 35px;
    background-color: #f27302;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.cashier-abort {
    margin-right: 15px;
}

.pay-for-bill {
    width: 70px;
    color: #ffffff;
    background-color: #f27302;
    /*border: 1px solid #cfcfcf;*/
}

.pay-for-bill:hover, .pay-for-bill:focus, .pay-for-bill:active {
    color: #ffffff;
}

.cashier-abort, .disagree-bill {
    width: 70px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
}

.receive-list, .settle-accounts-list {
    /*width: 100px;*/
    /*height: 45px;*/
    padding: 5px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}

.top-btn-list {
    clear: both;
    width: 150px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
    /*height: 100%;*/
    /*width: 100%;*/
    margin: 50px 0 0 0;
    /*position: absolute;*/
}

button.close-modal {
    color: rgb(119, 119, 119);
    /*width: 40px;*/
    /*height:40px;*/
    /*font-size: 30px;*/
}

.close-modal span {
    font-size: 20px;
}

.caption-btn {
    float: right;
}

.closed-an-account {
    color: black;
    /*background-color: green;*/
    /*cursor: none;*/
}

#search__username_text {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: none;
    padding: 2px 2px 2px 10px;
    outline: none;
    border-radius: 0;
}

#search_user_button {
    margin-left: -4px;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    padding: 2px;
    border-radius: 0;
    outline: none;

}

.finish-bills {
    font-size: 18px;
    margin-left: 50px;
    padding-bottom: 8px;
    color: rgb(119, 119, 119);

    /*margin-right: auto;*/
}

.trSelected td input {
    color: #000000;
}

.submitted {
    /*display: none;*/
    color: #000000;
}

.trSelected td span {
    color: #ffffff;
}

.cash-input {
    width: 100%;;
}

a.a-delete {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

table {
    max-width: 640px;
    background-color: #ffffff;
    border-top: 1px solid #d1d2d2;
    border-left: 1px solid #d1d2d2;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    cursor: default;
    font-family: "Microsoft YaHei";
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
}

caption {
    background-color: #ffffff;
    font-size: 18px;
}

tr {
    background-color: #fff;
    height: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.td_middle {
    text-align: center;
}

.save {
    display: none;
}

.edit {
    display: block;
}

th {
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    background-color: #edeef1;
    min-width: 70px;
    text-align: center;
    color: #9f9f9f;
    height: 32px;
    padding: 0;
    cursor: default;
    font-weight: normal;
}

td {
    border-bottom: 1px solid #d1d2d2;
    border-right: 1px solid #d1d2d2;
    padding: 4px 2px 2px 4px;
    height: 30px;
}

caption .caption-btn > button, .close-modal, #searcharreuserbutt {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 0;
    width: 50px;
    height: 25px;
    font-size: 12px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    cursor: pointer;
    font-family: "Microsoft YaHei";
}

.close-modal {
    float: right;
    margin-right: 15px;
}

.btn-close-modal {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 10px;

}

.search-form {
    /*margin-top: 10px;*/
    margin-left: 15px;
}

caption .caption-btn > button:hover, #searcharreuserbutt:hover, .close-modal:hover {
    box-shadow: 0 2px 0 0 #ebece3;
    border: 1px solid #c9c9c9;
}

caption .caption-btn > button:active, #edit > a:active, #save > a:active, {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #cfcfcf;
    color: black;
}

caption > div {
    float: left;
    margin-left: 50px;
    font-size: 18px;
    margin-top: 10px;
}

.edit > a, .save > a {
    clear: both;
    margin: 5px;
    /*width: 80px;*/
    /*height: 50px;*/
    font-size: 14px;
    color: #f27302
}

.hoverTD {
    background-color: #e6e6e6;
    height: 18px; /*text-align: center;*/
}

.trSelected {
    background-color: #f27302;
    height: 18px; /*text-align: center;*/
    color: #ffffff
}

/*td:hover{background-color: #e6e6e6;}*/
.operate > a {
    color: #ffffff;
}

.operate > span {
    color: #ffffff;
}
.input-money input{
    width: 90%;
}
.n-person{
    width: 90px;

}
.n-person,.n-classify{
    float: left;
    padding-right: 15px;
}
.n-classify,.n-money,.n-b{
    color: #9B959D;
}
.n-b{
    text-align: center;;
}
.serial-number{
    padding:0 30px;
    clear: both;
    /*height: 30px;*/
    line-height: 30px;
    border-bottom: 1px solid #cfcfcf;
}
.serial-number .b-classify{
    float: right;
}
.serial-number-list ul li{
    padding: 0;
    /*border: none;*/
}
.b-bei{
    padding-left: 45px;
    color: #000;
}
.select-more{
    float: left;
    /*width: 45px;*/

}
.select-more input{
    width: 25px;
    height: 25px;
}
.serial-num{
    float: left;
    width: 75px;
    color: #9a9a9a;
}
.n-t{
    padding-left: 15px;
    height: 40px;
    line-height: 40px;  
}
.n-t span{
    color: #A1A1A1;
}
.click_select{
    border-bottom: 1px solid #cfcfcf;
}
.date{
    float: right;
    margin-right: 15px;
}
.checked-agree{
    border: 1px solid #cfcfcf;
    border-bottom: none;
    line-height: 39px;
    padding: 0 18px;
}
.checked-agree p{
    float: left;
}
.checked-agree input{
    line-height: 30px;
    background-color: inherit;
    width: 60px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    border:1px solid #f27302;
    outline: none;
    margin-top: 4px;
}
.serial-number-money{
    display: inline-block;
    position: absolute;
    left: 50%;
}







/*圆角标签*/
.tabs_number li a{text-align:center;border: none;margin: 0;border-radius: 0;color: #000000;}
.tabs_number li a.number_300{border:2px solid #f27302;border-right: 0;border-top-left-radius: 47px;border-bottom-left-radius: 47px;margin: 0;padding: 2px;font-size: 18px;}
.tabs_number li a.number_500{border:2px solid #f27302;margin: 0;padding: 2px;font-size: 18px;}
.tabs_number li a.number_20000{border:2px solid #f27302;border-left:0;border-top-right-radius: 47px;border-bottom-right-radius:47px;margin: 0;padding: 2px;font-size: 18px;}
.tabs_number li{width: 100px;margin: 0;}
.tabs_number>li.active>a{font-size: 18px;background-color:#f27302;color: #ffffff;}
.tabs_number>li.active>a:hover,.tabs_number>li.active>a:focus{background-color: #f27302;color: #ffffff;border:2px solid #f27302;}
.tabs_number>li>a:hover{background-color:#f27302;color: #ffffff;}
.tabs_number{width:200px;margin-left: auto;margin-right: auto;}
/*.tabs_number_content{padding:15px;}*/
.tabs_number{border: none;margin-bottom: 15px}
