@charset "utf-8";
/* 搜索-产品列表页 */
.item-goods {
	position: relative;
	/* border-bottom: 1px solid #C9C9C9;*/
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd
}
.item-goods .item-goodslogo {
	float: left;
	position: relative;
}
.item-goods .item-goodslogo img {
	width: 70px;
	height: 70px;
}
.item-goods .item-name-attribute {
	height: 90px;
	padding-left: 80px;
}
.item-goods .item-name-attribute .item-goodsname {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
}
.item-goods .item-name-attribute .item-clamp1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: normal;
}
.item-goods .item-name-attribute .item-goodsattribute {
	font-size: 12px;
	line-height: 20px;
	color: #FF6969;
}
.item-goods .item-name-attribute .item-price-obj {
	height: 30px;
	position: absolute;
	right: 0;
	bottom: 9px;
	width: 100%;
	line-height: 18px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsprice {
	float: left;
	left: 75px;
	position: relative;
	color: #D86C00;
	font-size: 18px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsprice span {
	line-height: 18px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsprice font {
	color: #696969;
	font-size: 14px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj {
	float: right;
	position: relative;
	margin-right: 10px;
	bottom: 10px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-add-cart {
	position: relative;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-add-cart img {
	height: 30px;
	width: 30px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-reduce-add {
	position: relative;
	color: #000;
	display: none;
	bottom: -10px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-reduce-add a {
	display: inline-block;
	-moz-border-radius: 50%;
	     border-radius: 50%;
	text-align: center;
	
	text-decoration: none;
	padding: 4px;
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-reduce-add .item-reduceless {
	color: #f36303;
	background-color: #fff;
	
}
.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-reduce-add span {
	height: 20px;
	width: 20px;
	
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	text-align: center;
}

.item-reduceless span{
	height: 20px;
	width: 20px;
	direction: inline-block;
	border:1px solid #f36303;
	-moz-border-radius: 50%;
	     border-radius: 50%;
	color:#f36303;
	background-color: #fff;
}
.item-addmore span{
	height: 20px;
	width: 20px;
	direction: inline-block;
	border:1px solid #f36303;
	-moz-border-radius: 50%;
	     border-radius: 50%;
	color:#fff;
	background-color: #f36303;
}



.item-goods .item-name-attribute .item-price-obj .item-goodsobj .item-reduce-add .item-addmore {
	color: #fff;
	
}
.item-goodsprice s {
	color: #cfcfcf;
	font-size: 14px;
	display: block;
}
/*新添加商品特性标签*/
item-goodslogo {
	position: relative;
}
.item-goodslogo span {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(5px, -6px);
	display: inline-block;
	width: 25px;
	height: 25px;
	opacity: 1;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.item-isOnsale {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 40px;
	width: 40px;
}
