/* share.scss */
*{margin: 0;padding: 0;font-size: 0;}
.share-box{
	a{
		display: inline-block;
		margin: 0;
		background:url('share-icon.png') 0 0 no-repeat;
		width: 24px;height: 24px;
		/* background-image 33px per icon */
		&.more{
			background-position: 0 0;
		}
		&.weixin{
			background-position: -24px 0;
		}
		&.sina{
			background-position: -48px 0;
		}
		&.facebook{
			background-position: -72px 0;
		}
	}
}

