@charset 'utf-8';
@import 'build/normalize.min.css';
@import 'build/media_bt.css';

*{box-sizing:border-box;margin: 0;padding: 0;    
	font-family: 'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;}
	/*clearfix*/
	.clearfix:before,
	.clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    visibility: hidden;
	}
	.clearfix:after {clear: both;}
	.clearfix {zoom: 1;} /* IE < 8 */

.section{
	width:100%;
	max-width:640px;
	margin: 0 auto;
	&.news-title{
		.title{
			padding: 10px;
			font-size: 18px;
			font-weight: bold;
			line-height: 28px;
			color:#000000;
			text-align:left;
		}
		.news-tags{
			padding: 5px 10px;
			font-size: 12px;
			line-height: 20px;
			span{
				position: relative;
				border:1px solid #F7F7F7;
				background-color: #F7F7F7;
				margin-right: 6px;
				display: inline-block;
				padding: 0px 6px;
				border-radius:3px;
				margin-bottom: 5px;
				color:#C69276;
				&:after{
					content:'';
					width: 6px;height: 6px;
					position: absolute;
					background-color: #FFF;
					bottom: -1px;right: -1px;
					border-style:solid;
					border-color:#eaeaea;;
					border-width:1px 0 0 1px;
				}
			}
		}
		.publisher{
			padding-left: 10px;
			.media{
				.media-left{
					.media-object{
						border-radius:50%;
						display: inline-block;
						overflow:hidden;
						font-size: 0;
						background-color: #CFCFCF;
						img{
							width: 45px;
							height: 45px;
						}
					}
				}
				.media-body{
					p{
						margin: 0;
						&:first-child{
							color:#f36303;
							margin-bottom: 5px;
						}
						&:last-child{
							color:#AFAFAF;
							font-size: 12px;
						}
					}

				}
				.media-right{
					p{
						position: relative;
						height: 45px;
						width: 50px;
						margin: 0;
						&:before{
							content:'';
							height: 10px;
							width: 10px;
							display: block;
							position: absolute;
							right: 10px;
							border-right:1px solid #A4A4A4;
							border-bottom:1px solid #A4A4A4;
							transform:rotate(45deg);
						}
					}
					a{
						display: inline-block;
						width: 65px;
						margin-right: 20px;
						text-decoration:none;
						background-color: #2A90D8;
						color:#fff;
						padding: 4px 8px;
						border-radius:3px;
						text-align:center;
					}
				}
			}
		}

	}
	&.news-content{
		p{
			padding: 0 10px;
			margin: 10px 0;
			font-size: 16px;
			line-height: 24px;
			text-align:justify;
		}
		.img-box{
			text-align:center;
			padding: 0 10px;
			font-size: 0;

			img{
				max-width:100%;
				display: block;
			}
			ul{
				margin: 0;
				padding: 0;
				list-style:none;
				font-size: 0;
				li{
					display: inline-block;
					position: relative;
					&.video-tag::before{
						content: "";
						width: 25px;
						height: 25px;
						background-image: url(../img/video.png);
						background-position: center;
						background-repeat: no-repeat;
						display: block;
						-moz-background-size: 25px 25px;
						background-size: 25px 25px;
						position: absolute;
						left: 50%;
						top: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
					}
				}
			}
			&.two{
				.img-center-box{
						text-align:left;
					li{
						display: inline-block;
						width:49.5%;
						padding: 0.15%;
					}
				}
			}
			&.three-more{
				.img-center-box{
					text-align:left;
					li{
						display: inline-block;
						width: 33%;
						padding:1px;
						position: relative;
						&:nth-child(9){
							&:before{
								background-color: rgba(0,0,0,0.4);
								content:'';
								position: absolute;
								top: 0;left: 0;
								width: 100%;height: 100%;
							}
							span{
								font-size: 18px;
								position: absolute;
								top: 50%;left: 50%;
								transform:translate(-50%,-50%);
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
	&.nearby-info{
		h3{
			margin: 0;
			margin-top: 10px;
			a{
				text-decoration:none;
				display: block;
				padding-left: 10px;
				position: relative;
				height: 45px;
				line-height: 45px;
				color:#000;
				&:after{
					content:'';
					display: block;
					position: absolute;
					right: 10px;top: 15px;
					width: 10px;height: 10px;
					border-right:1px solid #717171;
					border-bottom:1px solid #717171;
					transform:rotate(-45deg);
				}
			}
		}
		.nearby-info-list{
			margin-bottom: 20px;
			ul{
				padding: 0;
				margin: 0;
				white-space:nowrap;
				overflow:auto;
				-webkit-overflow-scrolling:touch;
				font-size: 0;
				li{
					width: 100px;
					position: relative;
					list-style:none;
					margin: 0 2px;
					border:1px solid #E4E4E4;
					display: inline-block;
					&:first-child{
						margin-left: 10px;
					}
					&:last-child{
						margin-right: 10px;
					}
					img{
						width: 100%;
					}
					p{
						font-size: 14px;
						text-align:center;
						margin: 0;
						line-height: 24px;
						&:last-child{
							font-size: 12px;
							color:#f36303;
							text-align:right;
							span{
								width: 98%;
								display: inline-block;
								text-align:center;
								border-top:1px solid #ececec;
								line-height: 20px;
							}
						}
					}

				}
			}
		}
	}

	&.newsfeed-action{
		padding-right:0px;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-select:none;
		clear:both;color:#9096A2;
		border-top:12px solid #EFEFF4;
		li:active{
			background-color: #f2f2f2;
		}
		ul.newsfeed-action-msg{
			font-size: 14px;
			padding-left: 10px;
			li{padding:8px 0;
				width: 50%;float: left;display:inline-block;
				border-bottom:1px solid #CCCCCC;
				&:nth-child(2){text-align:right;padding-right: 10px;}
				img{
					width: 14px;height:auto;vertical-align:middle;margin-right: 8px;
				}
			}
		}
		.line{margin: 0 0 0 10px;width: -webkit-calc(100% - 10px);width: -moz-calc(100% - 10px);width: calc(100% - 10px)}
		ul.newsfeed-action-btn{
			font-size: 14px;
			li{padding:8px 0;
				width: 33%;float: left;display:inline-block;text-align:center;
				img{
					width: 14px;height:auto;vertical-align:middle;margin-right: 8px;
				}
			}
			.newsfeed-praise{
				& img:nth-child(2){display:none;}
				&.praising{
					img:nth-child(1){display:none;}
					img:nth-child(2){display:inline-block;}
				}
			}
		}
		.newsfeed-replay{
			position: relative;
			.text {
				width: 100%;
				padding-right: 80px;
				padding-left: 10px;
				textarea {
				    width: 100%;
				    padding: 8px;
				}
			}
			.text + a{
				text-decoration:none;
			}
			.commentnow {
			    position: absolute;
			    top: 15px;
			    right: 10px;
			    padding: 4px 8px;
			    border: 1px solid #f36303;
			    -webkit-border-radius: 3px;
			       -moz-border-radius: 3px;
			            border-radius: 3px;
			    color:#000;
			}
			.comment-single {
			    padding: 10px 0 0px 10px;
				color:#333;
				.media{
					.media-left{
						    overflow: hidden;
						    padding-right: 0;
						.media-object{
							width: 40px;height: 40px;
							border-radius:50%;
						}
					}
					.media-body{
						padding-left: 10px;
						.user-nanme {
						    font-size: 14px;
						    font-weight: normal;
						    margin-bottom: 4px;
						    color:#f36303;
						}
						.comment-time {
						    font-size: 10px;
						    color: #9B9B9B;
						}
					}
					.media-right{
						button {
						    width: 50px;
						    margin: 20px 10px 0 0;
						    color: #333;
						    border: 1px solid #f36303;
						    background-color: #fff;
						    padding: 4px 8px;
						    -webkit-border-radius: 3px;
						       -moz-border-radius: 3px;
						            border-radius: 3px;
						}
					}
				}
			    .comment-content {
			        padding-left: 50px;
			        padding-bottom: 10px;
			        padding-right: 10px;
			        font-size: 14px;
			    }
			    .line-gap {
			        height: 1px;
			        margin-left: 10px;
			        background-color: #CFCFCF;
			    }
			    &:last-child{
			    	.line-gap{
			        	display: none;
			    	}
			    }
			}
		}
	}

}