@charset 'utf-8';
@import "build/static-base/static-base.scss";
html{
	width: 100%;
	height: 100%;
	body{
		width: 100%;
		height:100%;
		overflow:auto;
		.container{
			@include mobile-container;
			height: 100%;
			.section{
				&.unfork-store{
					height: 100%;width: 100%;
					background-image: url("../img/index_bg.jpg");
					.notice-fork{
						position: absolute;top: 50%;left: 50%;
						transform:translate(-50%,-50%);
						@import "build/shop-fork-store";
					}
				}
				&.store-scroll{
					height: 100%;width: 100%;
					padding: 10px 5px;
					overflow: auto;
					-webkit-overflow-scrolling:touch;
					position: absolute;
					box-sizing:border-box;
					background-image: url("../img/store-list-bg.jpg");
					.store-list{
						@import "build/shop-list.scss";
					}
				}
			}
		}
	}
}
