*{
    margin: 0;padding: 0;
}
body{
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width:640px;
    height: 50px;
    padding:10px;
    border-radius: 0;
    border: none;
    text-align: center;
    margin-bottom: 0;
    background-color: #f27302;
}
.navbar>h3{
    /*float: left;*/
    /*margin-left: 20%;*/
    /*color: #ffffff;*/
}
.container-fluid{
    max-width:640px;
}
.content_body{
    margin-top: 60px;
}
.btn_menu{
    /*margin-top:2px;*/
    width: 30px;
    height: 30px;
    padding: 0;
    float: left;
    border-radius: 0;
    /*background-size:40px;*/
    /*border-radius: 0;*/
}


.my_theater_group{
    display: block;
    margin-top: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
}
.header_strings{
    float: left;
    /*margin-left: 25%;*/
    /*color: white;*/
}
.btn_search{
    /*margin-top: 2px;*/
    width: 30px;
    height: 30px;
    padding: 0;
    float: right;
}
.btn-menu>a img,.btn-search>a img{
    width: 30px;
    height: 30px;
}
.btn-default:hover{
    background-color: inherit;
    color: inherit;
}
.btn-default:focus{
    background-color: #f27302;
}
.btn-default:active{
    /*color: red;*/
    /*background-color: #f2d227;*/
    /*border: 1px solid #ff0000;*/
}
.glyphicon{
    color: #ffffff;
}
.btn-default{
    background-color: #f27302;
    border: none;
}
.fade{
    opacity:0;
    -webkit-transition:opacity 0.55s linear;
    -o-transition:opacity 0.55s linear;
    transition:opacity 0.55s linear
}

.modal-body{
    padding: 0;
}
.container-fluid{
    padding-left:0;
    padding-right: 0;
}
.modal-dialog{
    margin-top:50px;
    max-width:640px;
}
.modal-dialog_menu{
    margin-left: 0;
    float: left;
}
.modal-dialog_search{
    max-width: 640px;
    margin-right: 0;
    float: right;
}
.modal-content {
    max-width:640px;
    border-radius: 0;
    border: none;
}

.modal-backdrop{
    max-width: 640px;
    background-color: inherit;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.scenario,.icon{
    text-align: center;
}
.read_scenario>a>img,.film_making>a>img,.finance>a>img{
    /*width: 100%;*/
    padding-left:2%;
}
.col-xs-12 ,.col-sm-12 ,.col-md-12 ,.col-lg-12{
    height: 12px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f0f0f0;
}
.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8{
    padding: 0;
    /*font-size: 20px;*/
}
.col-xs-2 ,.col-sm-2 ,.col-md-2 ,.col-lg-2{
    padding-left: 0;
    padding-right: 0;
}
h3{
    font-size: 20px;
}
.name{
    clear: both;
    text-align: left;
    margin-top: 20px;
    margin-left: 6px;
}.name>h3{
    color: black;
    font-size: 18px;
    /*font-weight: bold;*/
 }
.scenario{
    margin-top:10%;
}
.film_quantity{
    text-align: left;
    margin-bottom: 0;
    margin-left: 6px;
}
.row,.read_scenario,.film_making,.finance{
    text-align: center;
}
.list{
    /*border-bottom: 5px solid #f0f0f0;*/
}
.row{
    width: 100%;padding: 0;
    margin: 0;
}
.icon_list{
    margin-top: 10px;
}
.icon{
    width: 60px;
    margin-left: auto;
    margin-right: auto;

}
.text_list{
    margin-top: 5px;
    color: #787878;
}
.col-xs-4 ,.col-sm-4 ,.col-md-4 ,.col-lg-4{
    padding: 5px;
    height: 62px;
}
.radius-span{
    height: 36px;
}

