*{padding: 0;
    max-width: 640px;
    margin-left: auto;margin-right: auto;}
body{margin-left: auto;margin-right: auto;}
.navbar{
    position: fixed;
    width: 100%;
    max-width: 640px;
    z-index: 9999;
    height: 50px;
    padding: 10px;
    border-radius: 0;
    border: none;
    text-align: center;
    margin-bottom: 0;
    background-color: #f27302;}
.navbar>h3{float:left;color: #ffffff;}
.container-fluid{max-width:640px;padding: 0;}
.content_body{margin-top: 50px;}
.btn_menu{margin-left:6px;float:left;padding:0;border-radius: 0;}
.my_theater_group{display: block;margin:0;color:#ffffff;font-size: 20px;padding: 5px;}
.report-title>h3{font-size: 20px;}
.btn_search{float:right;;padding: 0;}
.btn-menu>a img,.btn-search>a img{width:30px;height:30px;}
.row{margin-left:0;margin-right:0;}
.col-xs-2 ,.col-sm-2 ,.col-md-2 ,.col-lg-2{padding-left:0;height:14px;}
.left,.right{padding-left:0;}
.btn-default:hover{background-color:#f27302;color:inherit;}
.btn-default:focus{background-color:inherit;}
.glyphicon{color:#ffffff;}
.btn-default{background-color:#f27302;border:none;}
.fade{opacity:0;-webkit-transition:opacity 0.55s linear;-o-transition:opacity 0.55s linear;transition:opacity 0.55s linear}
.title_scenario ul li p{margin-bottom: 5px;}
.right{
    padding:0 6px 0 0;
}

.pulled img ,.unpulled img{margin-top: 12px;}
.tab-content{padding-top: 10px;}
.btn_list{height:50px;border-bottom: 1px solid#999999;}
.nav-tabs li>a{color:#999999;padding:10px;}
.nav-tabs>li.active>a{color: #000000;}
.dialog{padding-top: 10px;}
.modal-content {border-radius: 0;border: 1px solid #999;}
.modal-dialog{margin-top: 50px;}
.modal-content_left{max-width:70%;float: left;}
.modal-content-right{min-width:210px;max-width:80%;float: right;}
.dialog_left{margin-left: 0;}
.dialog_right{margin-right: 0;}
.modal-backdrop{background-color:inherit;}
ul li{list-style: none;}
.title_scenario{text-align: left;}
.title_scenario li>a{border-radius: 0;width: 100%;text-transform:none;padding-left: 12px;color: #000000;font-size: 2rem;border-bottom:1px solid#cfcfcf;}
.title_scenario li>a>p{float: left;}
.title_scenario li>a>img{float: right;}
.modal-body,.modal-body>.title_scenario{padding: 0;}
.markedli{margin-top:5px;}
.marked{margin-top: 5px;margin-bottom: 5px;}
.markeddiv{clear:both;margin-top: 8px;margin-bottom: 10px;border-bottom: 1px dotted #cfcfcf;}
.markedline{
    clear: both;border-top: 1px solid #cfcfcf;margin-top: 15px;margin-bottom:15px;
    max-width:640px;margin-left: auto;margin-right: auto;
}
.title_scenario ul{margin-bottom: 0;}
li a:visited{background-color:red;}
li a:hover{background-color: #f27302;}
.btn_list:hover{color: #ffffff;}
.dropdown-menu li>a:visited {background-color: #f27302;}
.read_scenario{margin-top:18px;margin-bottom: 0;}
.call_list_content_left{float: left;padding-left: 15px;}
.call_list_content_right{float: right;padding-right: 15px;}

.director{
    clear: both;
    float: left;
    width: 65px;
    font-size: 16px;
    color: #797979;
    /*margin-top:3px;*/
}
.report_bottom>.director{
    /*margin-top: 7px;*/
}
.form_data{
    color: #000000;
    width:65px;
    display: inline-block;
    font-size: 16px;
 }
.form_data input{
    width:75px;
    height: 25px;
}
.select_level,.select_late,.select_delayed{
    width:65px;
    /*height:40px;*/
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin-top: 5px;
}
.report_right,.actor_right{
    width: 140px;
    float: right;
}
.actor_left,.actor_right{
    width:140px;
}
.director_team_value{
    /*margin-top: 14px;*/
}
.director_team_value input{
    width: 80px;

}
.people_film_making{
    min-width: 25%;
    display: inline-block;
    font-size: 16px;
    color: #cfcfcf;

}
.people_film_making_value{
    min-width:11%;
    display: inline-block;
    font-size: 16px;
}
.call_list_title{
    border-bottom:2px solid #cfcfcf;
}
.status h3{
    margin-left: 15px;
}
ul li{
    list-style: none;
}
.row_status{
    border-bottom: 2px solid#cfcfcf;
}
.btn_footer{
    width: 266px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.edit_or_delete a{
    color: #f27302;
    margin-left: 15px;
}
.edit_or_delete a:hover,.edit_or_delete a:active,.edit_or_delete a:focus{
    text-decoration: none;
    color: #000000;
    background-color:inherit;
}
.btn_edit,.btn_delete{
    cursor: pointer;
    color: #f27302;
}
.btn_edit:hover,.btn_edit:active,.btn_focus,
.btn_delete:hover,.btn_delete:active,.btn_delete:focus{
    background-color: inherit;
    color: #f2510e;
    text-decoration: none;
}
.btn_save_late,.btn_reason_close,.btn_reason_save,.btn_reason_receipt{
    width: 80px;
    color: #7a7a7a;
    background-color: #ffffff;
    border-color: #cfcfcf;
    margin-right: 5px;
}
.btn_save_late:hover,.btn_save_late:active,.btn_save_late:focus,
.btn_reason_close:hover,.btn_reason_save:hover,.btn_reason_receipt:hover,
.btn_reason_close:active,.btn_reason_save:active,.btn_reason_receipt:active,
.btn_reason_close:focus,.btn_reason_save:focus,.btn_reason_receipt:focus,
.late_btn_save:hover,.late_btn_save:focus,.late_btn_save:active,
.delay_btn_save:hover,.delay_btn_save:focus,.delay_btn_save:active
{
    color: #ffffff;
    background-color: #f27302;
    border-color: #f27302;
}
.btn_close{
    width: 80px;
    color: #000000;
    background-color: #ffffff;
    border-color: #cfcfcf;
    margin-right: 5px;
}
.btn_close:focus,.btn_save:focus,.btn_receipt:focus{
    color: #ffffff;
    background-color: #f27302;
    border-color: #cfcfcf;
}
.btn_save,.btn_receipt,.late_btn_save,.delay_btn_save{
    width: 80px;
    color: #ffffff;
    background-color: #f27302;
    border-color: #f27302;
    margin-right:5px
}
.btn_close:hover,.btn_save:hover,.btn_receipt:hover
,.btn_close:active,.btn_save:active,.btn_receipt:active
{
    color: #ffffff;
    background-color: #f27302;
    border-color: #f27302;
}
.report_content{
    padding:0 15px 0 15px;
}
.report_content h4,.report_left h4,.report_right h4,.actor_left h4,.actor_right h4{

    font-size: 16px;
}
.report_left,.late,.delayed{
    color: #7a7a7a;
    float: left;
}
.late,.delayed{
    width: 75px;
}
.report_left>.report1{
    float: left;
}
.light,.actor,.dress_up,.shoot,.record,.cloth,.film_making,.prop,.case_spacial,.director_team,.art{
    float: left;
    width: 75px;
    color: #7a7a7a;
}
.report{
    clear: both;
    width: 150px;
}

.report_riht>.director_value{
    padding: 0;
}

.director_value input{
    width: 55px;
}
#start_time,#end_time{
    margin-top: 12px;
}
.prepare_status{
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
}
.status{
    margin-left: 15px;
}
.actor_left{
    float: right;
    margin-right: 15px;
    /*margin-left: 15px;*/
}
.actor_right{
    margin-right:15px;
}
.actor_left h4,.actor_right h4{
    margin-left: 0;
}
.prepare_status h4,.actor_status h4{
    font-size: 16px;
}
.for_late_content,.for_delayed_content{
    max-width:640px;
    margin-left: auto;
    margin-right:auto;
    clear: both;
    background-color: #ecedf0;
    padding: 15px;
}
.special_case{
    max-width:640px;
    margin-left: auto;
    margin-right:auto;
    clear: both;
    padding: 15px;
}
.special_case h4{
    font-size: 16px;
}
.special_case_input{
    width: 100%;
    line-height: 4;
}
.for_late h4,.for_delayed_content h4{
    font-size: 16px;
}
/*.reason_input,.input_reason_for_delayed{*/
    /*line-height: 4;*/
/*}*/
.input_reason_for_delayed{
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 0;
    width: auto;

}
.input_reason_for_delayed textarea{
    width: 100%;
    height: 70px;
    border: 1px solid#cfcfcf;
    border-radius: 5px;
}
.save_late{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;}

input{
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}
.tb_for_delayed,.tb_for_delayed th,.tb_for_delayed tr,.tb_for_delayed td{
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    text-align: center;
}
.tb_for_delayed{
    width: 100%;
    margin-top: 2px;
    color: rgb(122, 122, 122);
}
.tb_name{
    width: 65px;
}
.tb_ETE,.tb_ATE{
    clear:both;
    min-width: 70%;
}
.tb_action{
    width:65px;
}
.tb_for_delayed th{
    font-weight:normal;
    line-height: 2;
    color: #b2b2b2;
    background-color: #efeff4;
}
.tb_for_delayed input{
    width:100%;
    border: none;
    height: 100%;
}
.tb_reason p{
    margin-top: 5px;
    margin-left: 5px;
    text-align:left;
}
.tb_list_late,.tb_list_delayed {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.tabs_number{
    width: 160px;
}


.form_late,.form_delay{
    max-width:640px;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    padding: 15px 15px 15px 15px;
    background-color:#ecedf0;
}


#late_select_actor,#delay_select_actor{
    margin-left: 10px;
    margin-top: 5px;
    width: 95px;
    height: 25px;
    border: 1px solid#cfcfcf;
    border-radius: 5px;
}
.actor_name h4{
    color: #7b7b7b;
    float: left;
    font-size: 16px;
}
.ETA input,.ATA input{
    float: left;
    width: 65px;
    height: 25px;
    margin: 7px 0 0 5px;
    color: black;
}
.ETA{
    width: 145px;
    clear: both;
    float: left;
    color: #7b7b7b;
}
.ATA{
    width: 145px;
    float: right;
    color: #7b7b7b;
 }

.ETA h4,.ATA h4{
    font-size: 16px;
    clear: both;
    float: left;
}
.reason{
    clear: both;
    color: #7b7b7b;
}
.reason h4{
    /*margin-top: 20px;*/
    margin-top: 50px;
    font-size: 16px;
}
.reason_text{
    width: 100%;
    height: 80px;
    border: 1px solid#cfcfcf;
    border-radius: 5px;
}
.late_btn,.delay_btn{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
#select_director select,#set_team select{
      margin-top: 5px;
      height: 25px;
      width:75px;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
  }


