		/*.action-bar{height: 60px;}*/
		.action-bar .actions{height: 51px;background-color: #fff;position: fixed;bottom: 0;left: 0;width: 100%;z-index: 100;border-top:1px solid #cfcfcf;}
		.action-bar .actions a{width: 40%;display:inline-block;margin: 0 5%;margin-top: 7px; font-size: 1.8rem;padding:4px 0;text-align: center;border-radius: 3px; float: left;background-color: #f36303;color: #fff;}
		.classifyes{}

		
		/*.tabs:active{background-color: red;}*/
			.tabs{text-align: center;}
			.tab{height: 45px;line-height: 45px;color: #3F3F3F;font-size: 1.6rem;float: left;width:50%;display: inline-block;}
			.one.tabs{border-bottom:1px solid #cfcfcf;position: fixed;width: 100%;height: 45px;top: 0;left: 0;z-index: 100;background-color: #fff;}
			.one .active.tab{color: #f36303;}
			.bl{display:inline-block;position: relative;}
			.active .bl::after{position: absolute;content:'';bottom: 0;height: 2px;background-color: #f36303;width:100%;left:0;}
			.two.tabs{padding:10px;background-color: #EFEFF4;height: 50px;}
			.two.tabs .tab{font-size: 1.4rem; border:1px solid #f36303;height: 30px;line-height: 30px;color: #f36303;background-color: #fff;}
			.two.tabs .tab:nth-child(2){border-left:none;border-right:none;}
			.two .active.tab{color:#fff;background-color: #f36303;}
			.money-name{min-width:180px;color: #656565;font-size: 1.6rem;}
			.money-name span{color: #353535;padding-left: 6px;}
			.money-num{color: #f36303;font-size: 1.8rem;padding-top: 8px;font-weight: bold;}
			.tabpanel{display: none;}
			.showing{display: block;}

/*goods*/
	#documenter_sidebar{width: 25%;height: 100%; float: left;overflow: scroll;z-index: 100;background-color: #E0E0E0;border-right:1px solid #ccc;} 
	.tab-content-onsale{float: right;width: 75%;height: 100%;overflow: scroll;z-index: 90;}
	#documenter_nav{background-color: #E0E0E0;margin-top: -1px;}
	#documenter_nav li{font-size: 1.6rem;border: 1px solid #CCCCCC;border-left: none;border-bottom: none;border-right:none;overflow: hidden;white-space:nowrap;}
	#documenter_nav li ol{display: none;}
	#documenter_nav li ol li{border-bottom: 1px solid #f36303;border-right: none;border-top:none;}
	li.one.special{border-bottom: 1px solid #ccc !important;}
	#documenter_nav li a{padding: 8px 0;display:block;width: 100%;text-align: center;}
	#documenter_nav li.current{color: #fff;background-color: #FFA489;}
	#documenter_nav li.current ol li.current{background-color: #F36303;}
	#documenter_nav li.current ol li{color:#666769; background-color: #FEF3EF;}
	.tabpanel{height: 100%;padding-top: 45px;padding-bottom: 50px;position: absolute;width: 100%;background-color: #FFF;overflow: auto;-webkit-overflow-scrolling:touch;}
	.documenter_sidebar{}
	.tab-content-onsale{padding-left: 10px;background-color: #fff;}
	.tab-content-onsale .media{border-bottom: 1px solid #ccc;padding: 4px 0;margin-top: 0;}

	.tab-content-onsale .media-left{float: left;}
	.tab-content-onsale .media-body{ overflow:hidden;float: left;font-size: 16px;}
	.goods-name{width:100%;overflow:hidden; color: #000;word-wrap: nowrap;text-overflow:ellipsis;white-space: nowrap;}
	.goods-description{width:100%; color: #A1A1A1;font-size: 1.2rem;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
	.goods-price{width:100%; color: #f36303;}
	
	.tab-content-onsale .media-right{padding-right: 10px; float: right;height: 75px; line-height: 75px;}
	.tab-content-onsale .media-right span{position: relative;top:50%;-webkit-transform: translateY(-50%);transform: translateY(-50%); height: 20px;width: 20px;background-color: #fff;display: inline-block;border-radius: 50%;border: 1px solid #cfcfcf}
	.tab-content-onsale .media-right span.checked{background:url(../img/iconfont-check.svg) no-repeat;
	background-size: 100%;background-color: #f36303;border: 1px solid #f36303;}
	/*.tab-content-onsale .media-right input[type='checkbox']{height: 30px;width: 30px;background-color: #f36303;display: inline-block;border-radius: 50%;}*/
	



/*ticket*/
	.tickets{font-size: 1.6rem;}
	.ticket-action{border: 1px solid #ccc;padding: 4px 0;}
	.ticket-action a{width: 33.3333%;display: inline-block;float: left;text-align: center;border-right: 1px solid #ccc;line-height: 30px;}
	.ticket-edit{}
	.ticket-remove{}
	.ticket-unsale{}
	.removeing .media{position: relative;-webkit-animation: rightleft 2s ease infinite;animation: rightleft 2s ease infinite; background-color: #cfcfcf;}
	@-webkit-keyframes rightleft{
		0% {right:0;}
		50%{right:50px;}
		100% {right: 0;}
	}
	@keyframes rightleft{
		0% {right:0;}
		50%{right:50px;}
		100% {right: 0;}
	}


/*add new goods tickets*/
.add-photo{min-height: 120px;background-color: #EFEFF4;}
#goods_title_tickets{width: 100%;min-height: 40px;-webkit-appearance:none;border: none;border-radius: 0;font-size: 1.6rem;min-height: 44px;line-height: 18px;padding: 10px;text-align: justify;text-justify:inter-ideograph;border-bottom: 1px solid #cfcfcf;}

	div.justify	{	text-align: justify;	/*border: 1px solid red;*/	width: 90px;}
	div.justify > span{ display: inline-block;padding-left: 100%; }
	.item {border-bottom: 1px solid #cfcfcf;padding-left: 10px;padding-right: 10px;font-size: 1.6rem;color: #323232;height: 50px;overflow: hidden;}
	.item span{position:relative;top:-1px;}
	.item-title {float: left;line-height: 50px;min-width:90px;text-align:justify;  text-justify:inter-ideograph;word-break:break-all;}

	.item-details {height: 50px;float: right;line-height: 50px;text-align: right;position: relative;}
	.item-details img {width: 10px;height: 18px;position: absolute;right: 0;top: 17px;}
	.item-details input {border: none !important;height: 96%;width: 90%;font-size: 1.6rem;text-align: right;position: absolute;
		top: 0;right: 25px;}



	#storeInfo{right: 40px;}
	.swc_user{float: right;}
	.finish a{display: inline-block;width: 80%;margin: 20px 10%;background-color: #f36303;color: #fff;border-radius: 3px;font-size: 1.6rem;text-align: center;line-height: 4rem;}
	#money-class{height: 30px;font-size: 1.4rem;}

/*onsale 促销*/
.onsale img{width: 100%;}
.onsale h4{font-size: 1.6rem;font-weight: normal;text-indent: 10px;padding: 10px 0;}
.onsale p{font-size: 1.4rem;color: #a1a1a1;text-indent: 10px;padding: 8px 0;}