
.weui-popup__container{
	z-index: 10000;
	.weui-popup__modal{
		background-color: #f0eff5;
	}
	.sign-top-info{
		padding: 10px;
		background-color: #FFF;
		.left-desc{
			width: 100px;
			color:#858e98;
			span.icon{
				display: inline-block;
				width: 20px;
				text-align:center;
			}
		}
		// @include border(bottom,solid,1px,#cfcfcf);
		margin-bottom: 10px;
	}
	.input-area{
		margin-bottom: 10px;
		border-top:1px solid #cfcfcf;
		border-bottom:1px solid #cfcfcf;
		border-top:0.5px solid #cfcfcf;
		border-bottom:0.5px solid #cfcfcf;
		.picture-upload{
			font-size: 0;

			span{
				display: inline-block;
				box-sizing:border-box;
				margin:2.5%;
				width: 69px;
				height: 69px;
				// overflow: hidden;
				border:1px dashed #cfcfcf;
				border-radius:5px;
				margin-bottom: 10px;
				position: relative;
				font-size: 0;
				&.del i{
					display: block;
					position: absolute;
					right: -13px;top: -10px;
					font-size: 12px;
					font-weight: 400;
					color:#fff;
					background: #f02;
					width: 14px;
					height: 14px;
					margin: 5px;
					border-radius: 10px;
					text-align: center;
					line-height: 14px;
				}
				img{
					width: 100%;
					display: block;
					border-radius: 5px;
				}
				&.camera{
					padding: 16px;
					img{
						width: 35px;
						height: 35px;
					}
				}
			}
			.fa{
				font-size: 36px;
				margin: 16px;
			}
		}
	}
	.sign-company-name{
		// margin-bottom: 90px;
		p{
			color:#858e98;
		}
		.weui-cell__ft{

		color:#000;
		text-align: left;
		}
	}
	.popup-btn-group{
		position: fixed;
		bottom: 0;left: 0;right: 0;
		background-color: #FFF;
		z-index: 900;
		.weui-btn{
			width: 50%;
			float: left;
			&+.weui-btn{
				margin-top: 0;
			}
		}
		.weui-btn_white_all{
			// @include border(top,solid,1px,#cfcfcf);
			border-radius: 0;
			color:#000;
			&::after{
				display: none;
			}
		}
	}
	
}