html {
  height: auto; }

body {
  height: auto;
  background-color: #383A47; }

.tickets {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 0;
  overflow: hidden; }
  .tickets .ticket-classes {
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px;
    text-indent: 10px;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #949496;
    height: 36px;
    line-height: 34px; }
  .tickets:last-child {
    padding-bottom: 10px; }
  .tickets.toggle img.toggle {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .tickets .tickets-title {
    color: #f36303;
    margin-bottom: 18px; }
    .tickets .tickets-title img {
      width: 12px;
      height: 7px;
      float: right;
      top: 11px;
      position: relative; }
  .tickets ul li {
    padding: 10px;
    position: relative; }
    .tickets ul li .ticket {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      background-color: rgba(255, 255, 255, 0.7); }
      .tickets ul li .ticket:last-child {
        margin-bottom: 0; }
      .tickets ul li .ticket .ticket-left {
        font-size: 16px;
        width: 100%;
        padding-right: 96px;
        color: #fff;
        float: left;
        position: relative; }
        .tickets ul li .ticket .ticket-left:before, .tickets ul li .ticket .ticket-left:after {
          content: "";
          width: 40px;
          height: 40px;
          display: block;
          position: absolute;
          left: -20px;
          bottom: -20px;
          background-color: #383a47;
          border-radius: 50%;
          z-index: 2; }
        .tickets ul li .ticket .ticket-left:before {
          top: -20px;
          z-index: 2; }
        .tickets ul li .ticket .ticket-left .ticket-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; }
        .tickets ul li .ticket .ticket-left .ticket-face {
          position: relative;
          height: 131px;
          padding: 20px;
          padding-right: 0;
          overflow: hidden; }
          .tickets ul li .ticket .ticket-left .ticket-face .mask {
            width: 100%;
            height: 131px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1; }
            .tickets ul li .ticket .ticket-left .ticket-face .mask img.ticket-bg {
              width: 100%;
              height: 100%; }
          .tickets ul li .ticket .ticket-left .ticket-face .ticket-name {
            position: relative;
            z-index: 2; }
          .tickets ul li .ticket .ticket-left .ticket-face .ticket-use-tips {
            position: relative;
            z-index: 1;
            font-size: 12px; }
            .tickets ul li .ticket .ticket-left .ticket-face .ticket-use-tips p {
              position: relative;
              text-indent: 8px; }
              .tickets ul li .ticket .ticket-left .ticket-face .ticket-use-tips p span {
                position: absolute;
                top: -4px;
                left: -5px; }
          .tickets ul li .ticket .ticket-left .ticket-face .ticket-info {
            z-index: 2;
            position: absolute;
            bottom: 15px;
            left: 0px;
            width: 100%;
            padding: 0 20px; }
            .tickets ul li .ticket .ticket-left .ticket-face .ticket-info .three-part {
              width: 33.3333%;
              float: left;
              font-size: 12px;
              font-weight: bold;
              text-align: center; }
              .tickets ul li .ticket .ticket-left .ticket-face .ticket-info .three-part p {
                font-size: 14px; }
            .tickets ul li .ticket .ticket-left .ticket-face .ticket-info .ticket-money {
              text-align: left; }
            .tickets ul li .ticket .ticket-left .ticket-face .ticket-info .ticket-scale {
              text-align: right; }
      .tickets ul li .ticket .ticket-right {
        font-size: 12px;
        height: 100%;
        position: relative;
        padding: 10px 10px 10px 5px;
        background-color: #fff;
        float: left;
        width: 97px;
        height: 131px;
        margin-left: -97px;
        border-left: 1px dashed #B4B4B4; }
        .tickets ul li .ticket .ticket-right .ticket-use {
          position: absolute;
          top: 5px;
          right: 5px;
          z-index: 5;
          width: 100px;
          height: 100px; }
          .tickets ul li .ticket .ticket-right .ticket-use img {
            height: 100%;
            width: 100%;
            display: none; }
            .tickets ul li .ticket .ticket-right .ticket-use img.back-money, .tickets ul li .ticket .ticket-right .ticket-use img.back-done {
              top: 25px;
              position: relative; }
        .tickets ul li .ticket .ticket-right .ticket-action {
          height: 62px; }
          .tickets ul li .ticket .ticket-right .ticket-action a {
            display: none;
            text-align: center;
            line-height: 26px;
            font-size: 14px;
            color: #fff;
            border-radius: 5px;
            width: 65px;
            height: 28px;
            position: relative;
            top: 16px; }
            .tickets ul li .ticket .ticket-right .ticket-action a.use {
              background-color: #3F3F3F; }
            .tickets ul li .ticket .ticket-right .ticket-action a.wait {
              background-color: #9B9B9B; }
        .tickets ul li .ticket .ticket-right:before, .tickets ul li .ticket .ticket-right:after {
          content: "";
          width: 40px;
          height: 40px;
          display: block;
          position: absolute;
          right: -20px;
          bottom: -20px;
          background-color: #383a47;
          border-radius: 50%;
          z-index: 2; }
        .tickets ul li .ticket .ticket-right:before {
          top: -20px;
          z-index: 2; }
        .tickets ul li .ticket .ticket-right .ticket-status .use-or-not {
          color: #D86C00; }
        .tickets ul li .ticket .ticket-right .ticket-status .back-money {
          color: #D60000; }
        .tickets ul li .ticket .ticket-right .ticket-store {
          color: #686868; }
          .tickets ul li .ticket .ticket-right .ticket-store .store-logo {
            width: 30px;
            height: 30px;
            vertical-align: middle; }
          .tickets ul li .ticket .ticket-right .ticket-store span {
            display: inline-block;
            width: 38px;
            overflow: hidden;
            height: 16px;
            position: relative;
            top: 5px; }
        .tickets ul li .ticket .ticket-right .ticket-validity {
          color: #F4844D; }
          .tickets ul li .ticket .ticket-right .ticket-validity p {
            color: #686868;
            font-size: 10px; }
        .tickets ul li .ticket .ticket-right .more-details {
          position: absolute;
          top: 50%;
          right: 5px;
          width: 12px;
          height: 8px;
          -webkit-transform: translateY(-50%) rotate(90deg);
          -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg); }
      .tickets ul li .ticket.use a.use {
        display: inline-block; }
      .tickets ul li .ticket.wait a.wait {
        display: inline-block; }
      .tickets ul li .ticket.used .ticket-bg {
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        filter: grayscale(1); }
      .tickets ul li .ticket.used img.used {
        display: block; }
      .tickets ul li .ticket.timeout .ticket-bg {
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        filter: grayscale(1); }
      .tickets ul li .ticket.timeout img.timeout {
        display: block; }
      .tickets ul li .ticket.waiting img.waiting {
        display: block;
        right: 0px;
        position: relative;
        top: 0px;
        height: 100px;
        width: 100px; }
      .tickets ul li .ticket.canot-back img.canot-back {
        display: block; }
      .tickets ul li .ticket.back-money img.back-money {
        display: block; }
      .tickets ul li .ticket.back-done img.back-done {
        display: block; }

/*# sourceMappingURL=yhtic.css.map */