@charset "utf-8";

$bgc:rgba(0,0,0,0.3);
$ticheight:131px;
html{ height:auto;}
body{
	height:auto;
	background-color:#424345;
}
.tickets{
	max-width: 640px;
	margin: 0 auto;
	// padding:10px 0;
	padding-bottom: 0;
	overflow:hidden;
	.none-tickets{
		padding:10px;
		color:#fff;
		font-size:16px;
		text-align:center;
	}
	.ticket-classes{
		margin-bottom: 10px;
		color:#fff;
		font-size: 14px;
		text-indent:15px;
		border-style:solid;
		border-width:0 0 1px 0;
		border-color:#949496;
		height: 36px;
		line-height: 34px;
		position: relative;
		z-index:10;
	}
	&.get-tickets{
		.ticket-classes{
			border-top:1px solid #949496;
			margin-top:10px;
		}
	}
	&.sales-promotion{
		.ticket-classes{
			border-width:1px 0 0 0 ;
			margin-bottom: 0;
			margin-top: 10px;
		}
		ul{
			background-color: #fff;
			// margin-bottom: -5px;
			li{
				padding: 0;
				.sales-item{
					position: relative;
					img{
						width: 100%;
						display: block;
						margin-bottom: 3px;
					}
					.sales-info{
						position: absolute;
						left:0;right: 0;top: 0;bottom: 0;
						padding: 15px;
						color:#fff;
						font-size: 14px;
						text-shadow:1px 1px 2px rgba(0,0,0,0.8);
						.sales-time{
							position: absolute;
							top: 10px;left: 10px;
							border-top:1px solid #fff;

						}
						.sales-classes{
							position: absolute;
							top: 10px;right: 10px;
							border:1px solid #fff;
							padding: 2px 4px;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

						}
						.sales-desc{
							position: absolute;
							left: 0;right: 0;
							bottom: 0;
							padding: 10px;
							font-size: 18px;
							line-height: 22px;
							background: -moz-linear-gradient(0deg, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0) 85%);/* FF3.6+ */
							background: -webkit-gradient(linear, 0deg, color-stop(rgba(0,0,0,0.5) 35%), color-stop(rgba(0,0,0,0) 85%));/* Chrome,Safari4+ */
							background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0) 85%);/* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(0deg, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0) 85%);/* Opera 11.10+ */
							background: -ms-linear-gradient(0deg, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0) 85%);/* IE10+ */
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
							background: linear-gradient(0deg, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0) 85%);/* W3C */
						}
					}
				}
			}
		}
	}
	&:last-child{
		padding-bottom: 5px;
	}
	&.toggle{
		img.toggle{
			-webkit-transform:rotate(180deg);
			   -moz-transform:rotate(180deg);
			    -ms-transform:rotate(180deg);
			        transform:rotate(180deg);
		}
	}
	.tickets-title{
		color: #f36303;
		margin-bottom: 18px;
		img{
			width: 12px;
			height: 7px;
			float: right;
			top:11px;
			position: relative;
		}
	}
	ul{
		li{
			padding:5px 10px;
			position: relative;
			.ticket{
				width: 100%;
				position: relative;
				margin-bottom: 20px;
				background-color: rgba(255,255,255,0.7);
				&:last-child{
					margin-bottom: 0;
				}
				.ticket-left{
					font-size: 16px;
					width: 100%;
					padding-right: 96px;
					color: #fff;
					float: left;
					position: relative;
					&:before,&:after{
						content:"";
						width: 40px;
						height: 40px;
						display:block;
						position: absolute;
						left: -20px;
						bottom:-20px;
						background-color: #424345;
						-moz-border-radius:50%;
						     border-radius:50%;
						z-index:2;
					}
					&:before{
						top:-20px;
						z-index:2;
					}
					.ticket-bg{
						position: absolute;
						top: 0;left: 0;
						width: 100%;
						// height: 100%;
					}
					.ticket-face{
						position: relative;
						min-height: $ticheight;
						padding: 20px;
						padding-right: 0;
						overflow:hidden;
						.mask{
							width: 100%;
							height:100%;
							position: absolute;
							top: 0;left: 0;
							z-index:1;
							background-image: url("../img/ticket-bg.png");
							background-size: cover;
							&:before{
								content:'';
								display: block;
								position: absolute;
								width: 100%;height: 100%;
								top: 0;left: 0;
								background-color: rgba(0,0,0,0.5);
							}
						}
							img.ticket-bg{
								width: 100%;
								height: 100%;
							}
						.ticket-name{
							position: relative;
							z-index:2;
							white-space:nowrap;
							overflow:hidden;
							text-overflow: ellipsis;
							padding-right: 2px;

						}
						.ticket-use-tips{
							// display: none;
							position: relative;
							z-index:1;
							font-size: 12px;
							padding-bottom: 30px;
							p{
								position: relative;
								text-indent:10px;
								overflow:hidden;
								white-space:nowrap;
								text-overflow:ellipsis;
								padding-right: 10px;
								padding-right: 65px;
								display: none;
								&:nth-child(1),&:nth-child(2){
									display: block;
								}
								span{
									position: absolute;
									top:-4px;left:-8px;
								}
							}
							.toggle-rules{
								position: absolute;
								top: 0;right: 0;
								a{
									-webkit-tap-highlight-color:rgba(0,0,0,0);
								}
								img{
									height: 6px;
									line-height: 100%;
									display: inline-block;
									transition: all 0.5s;
									vertical-align: baseline;
									position: relative;
									top: -2px;
									margin-left: 3px;
									margin-right: 3px;
									&.rules-showing{
										transform:rotate(180deg);
									}
								}
							}
						}
						.ticket-info{
							z-index:2;
							position: absolute;
							bottom: 15px;
							left:0px;
							width: 100%;
							padding:0 20px;
							.three-part{
								width: 33.3333%;
								float: left;
								font-size: 12px;
								text-align:center;
								p{
									font-size: 14px;
								}
							}
							.ticket-money{
								text-align:left;
							}
							.ticket-sale{

							}
							.ticket-scale{
								text-align:right;
								.yue{
									width: 30px;
									text-align:left;
									display: inline-block;
									span{
										font-size: 14px;
									}
								}
							}
						}
					}
				}
				.ticket-right{
					font-size: 12px;
					height: 100%;
				    position: absolute;
				    bottom:0;right:0;
					padding: 10px 10px 10px 5px;
					background-color: #fff;
					float: left;
					width: 97px;
					// height: 131px;
					margin-left: -97px;
					border-left: 1px dashed #B4B4B4;

					.ticket-use{
						    position: absolute;
						    top:5px;
						    right: 5px;
						    z-index: 5;
						    width: 100px;
							height: 100px;
						img{
							height: 100%;
							width: 100%;
							display:none;
							&.back-money,&.back-done{
								top:25px;
								position: relative;
							}
						}
					}
					.ticket-action{
						height: 62px;
						a{
							display: none;
							text-align:center;
							line-height: 28px;
							font-size: 14px;
							color:#fff;
							border-radius:5px;
							width: 65px;
							height: 28px;
							position: relative;
							top:14px;
							&.use{
								background-color: #3F3F3F;
							}
							&.wait{
								background-color: #9B9B9B;
							}
							&.buy{
								background-color:#3F3F3F;
							}
							img{
								&.cart-ticket{
									width: 15px;
									margin-right: 4px;
								}
							}
						}
					}



					&:before,&:after{
						content:"";
						width: 40px;
						height: 40px;
						display:block;
						position: absolute;
						right: -20px;
						bottom:-20px;
						background-color: #424345;
						-moz-border-radius:50%;
						     border-radius:50%;
						z-index:2;
					}
					&:before{
						top:-20px;
						z-index:2;
					}
					.ticket-status{
						.use-or-not{
							color:#D86C00;
						}
						.back-money{
							color:#D60000;
						}
						
					}
					.ticket-store{
						.store-logo{
							width: 30px;
							height: 30px;
							vertical-align:middle;
				
						}
						span{
							display:inline-block;width:38px;overflow:hidden;
							height: 16px;
							position: relative;top:5px;
						}
						// color:#686868;
					}
					.ticket-validity{
						color:#292929;
						position: absolute;
						bottom: 16px;
						p{
							color:#686868;
							font-size: 10px;
						}
					}
					.more-details{
						position: absolute;
						top:50%;right:5px;
						width: 12px;height: 8px;
						-webkit-transform:translateY(-50%) rotate(90deg);
						   -moz-transform:translateY(-50%) rotate(90deg);
						    -ms-transform:translateY(-50%) rotate(90deg);
						        transform:translateY(-50%) rotate(90deg);
					}
				}

				&.use{
					a.use{
						display: inline-block;
					}
				}
				&.wait{
					a.wait{
						display: inline-block;
					}
				}
				&.buy{
					a.buy{
						display:inline-block;
					}
				}
				&.used{
							.ticket-bg{
								-ms-filter: grayscale(1);
								-webkit-filter: grayscale(1);
								-moz-filter: grayscale(1);
								-o-filter: grayscale(1);
								filter: grayscale(1);
							}
							img.used{
								display:block;
							}
						}
						&.timeout{
							.ticket-bg{
								-ms-filter: grayscale(1);
								-webkit-filter: grayscale(1);
								-moz-filter: grayscale(1);
								-o-filter: grayscale(1);
								filter: grayscale(1);
							}
							img.timeout{
								display:block;
							}
						}
						&.waiting{
							img.waiting{
								display: block;
								right: 0px;
								position: relative;
								top:0px;
								height: 100px;
								width: 100px;
							}
						}
						&.canot-back{
							img.canot-back{
								display: block;
							}
						}
						&.back-money{
							img.back-money{
								display: block;
							}
						}
						&.back-done{
							img.back-done{
								display: block;
							}
						}
			}
		}
	}
}
.member-info{
	background-color: #FFF;
	max-width: 640px;
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	.media{
		padding: 10px;
		margin: 0;
		&:active{
			background-color: transparent;
		}
		&:nth-child(1){
			display: none;
		}
		&:nth-child(2){
			display: block;
		}
		.media-body{
			color:#404040;
			p{
				line-height: 18px;
				font-size: 12px;
				&:nth-child(1){
					font-size: 16px;
					margin-bottom: 8px;
				}
				span{
					margin-left: 8px;
					// display: inline-block;
				}
			}
		}
		.media-right{
			word-break:keep-all;
			a{
				background-color: #3F3F3F;
			    color: #fff;
			    line-height: 20px;
			    padding: 4px 8px;
			    border-radius: 5px;
			    width: 100px;
			    display: inline-block;
			    text-align: center;
			    font-size: 14px;
			    float: left;
			    margin-bottom: 5px;
			    &:last-child{
			    	margin-bottom: 0;
			    }
			}
		}
	}
	&.not-member{
		.media{
			&:nth-child(1){
				display: block;
			}
			&:nth-child(2){
				display: none;
			}
		}
	}
}

