.da-slider {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .da-slider .slider-inner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%; }
    .da-slider .slider-inner .slider-anima.da-current .top-slider {
      display: block; }
    .da-slider .slider-inner .slider-anima .top-slider {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none; }
      .da-slider .slider-inner .slider-anima .top-slider img {
        position: absolute; }
      .da-slider .slider-inner .slider-anima .top-slider.slider-one img:nth-child(1) {
        left: 5%; }
      .da-slider .slider-inner .slider-anima .top-slider.slider-one img:nth-child(2) {
        right: 0; }
      .da-slider .slider-inner .slider-anima .top-slider.slider-two img:nth-child(1) {
        left: 5%; }
      .da-slider .slider-inner .slider-anima .top-slider.slider-two img:nth-child(2) {
        right: 0; }
      .da-slider .slider-inner .slider-anima .top-slider.slider-three img {
        right: 20%; }

.da-arrows {
  -moz-user-select: none;
  -webkit-user-select: none; }

.da-arrows span {
  background: transparent url(../img/slider/arrows.png) no-repeat;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 49px;
  margin-top: -25px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s; }

.da-arrows span.da-arrows-prev {
  left: 12px;
  background-position: 0 -68px; }

.da-arrows span.da-arrows-next {
  right: 15px;
  background-position: 0 1px; }

.da-slider:hover .da-arrows span {
  opacity: 0.8; }

.slider-inner .da-dots {
  z-index: 10; }

.da-dots {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 15px;
  z-index: 12;
  -moz-user-select: none;
  -webkit-user-select: none; }

.da-dots span {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  background: rgba(0, 0, 0, 0.6);
  margin: 3px;
  cursor: pointer; }

.da-dots span.da-dots-current:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50% !important;
  background: #fff; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.da-slide-toleft .slider-one img:nth-child(1) {
  animation: da-slide-toleft1-1  0.3s ease-in 0.3s both; }

.da-slide-toright .slider-one img:nth-child(1) {
  animation: da-slide-toright1-1  0.5s ease-in 0.5s both; }

.da-slide-fromleft .slider-one img:nth-child(1) {
  animation: da-slide-fromleft1-1  0.5s ease-in 0.5s both; }

.da-slide-fromright .slider-one img:nth-child(1) {
  animation: da-slide-fromright1-1  0.3s ease-in 0.3s both; }

@keyframes da-slide-fromleft1-1 {
  0% {
    left: -100%;
    opacity: 0; }
  100% {
    left: 10%;
    opacity: 1; } }
@keyframes da-slide-fromright1-1 {
  0% {
    left: 100%;
    opacity: 0; }
  100% {
    left: 10%;
    opacity: 1; } }
@keyframes da-slide-toleft1-1 {
  0% {
    left: 10%;
    opacity: 1; }
  30% {
    left: 20%;
    opacity: 1; }
  100% {
    left: -100%;
    opacity: 0; } }
@keyframes da-slide-toright1-1 {
  0% {
    left: 10%;
    opacity: 1; }
  30% {
    left: 0%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 0; } }
.da-slide-toleft .slider-one img:nth-child(2) {
  animation: da-slide-toleft1-2  0.5s ease-in 0.5s both; }

.da-slide-toright .slider-one img:nth-child(2) {
  animation: da-slide-toright1-2  0.3s ease-in 0.3s both; }

.da-slide-fromleft .slider-one img:nth-child(2) {
  animation: da-slide-fromleft1-2  0.3s ease-in 0.3s both; }

.da-slide-fromright .slider-one img:nth-child(2) {
  animation: da-slide-fromright1-2  0.5s ease-in 0.5s both; }

@keyframes da-slide-fromleft1-2 {
  0% {
    right: 100%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@keyframes da-slide-fromright1-2 {
  0% {
    right: -100%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@keyframes da-slide-toleft1-2 {
  0% {
    right: 10%;
    opacity: 1; }
  30% {
    right: -10%;
    opacity: 1; }
  100% {
    right: 100%;
    opacity: 0; } }
@keyframes da-slide-toright1-2 {
  0% {
    right: 10%;
    opacity: 1; }
  30% {
    right: 20%;
    opacity: 1; }
  100% {
    right: -100%;
    opacity: 0; } }
.da-slide-toleft .slider-two img:nth-child(1) {
  animation: da-slide-toleft2-1 0.3s ease-in 0.3s both; }

.da-slide-toright .slider-two img:nth-child(1) {
  animation: da-slide-toright2-1 0.5s ease-in 0.5s both; }

.da-slide-fromleft .slider-two img:nth-child(1) {
  animation: da-slide-fromleft2-1 0.5s ease-in 0.5s both; }

.da-slide-fromright .slider-two img:nth-child(1) {
  animation: da-slide-fromright2-1 0.3s ease-in 0.3s both; }

@keyframes da-slide-toleft2-1 {
  0% {
    left: 10%;
    opacity: 1; }
  30% {
    left: 20%;
    opacity: 1; }
  100% {
    left: -100%;
    opacity: 0; } }
@keyframes da-slide-toright2-1 {
  0% {
    left: 10%;
    opacity: 1; }
  30% {
    left: 0%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 0; } }
@keyframes da-slide-fromleft2-1 {
  0% {
    left: -100%;
    opacity: 0; }
  100% {
    left: 10%;
    opacity: 1; } }
@keyframes da-slide-fromright2-1 {
  0% {
    left: 100%;
    opacity: 0; }
  100% {
    left: 10%;
    opacity: 1; } }
.da-slide-toleft .slider-two img:nth-child(2) {
  animation: da-slide-toleft2-2 0.5s ease-in 0.5s both; }

.da-slide-toright .slider-two img:nth-child(2) {
  animation: da-slide-toright2-2 0.3s ease-in 0.3s both; }

.da-slide-fromleft .slider-two img:nth-child(2) {
  animation: da-slide-fromleft2-2 0.3s ease-in 0.3s both; }

.da-slide-fromright .slider-two img:nth-child(2) {
  animation: da-slide-fromright2-2 0.5s ease-in 0.5s both; }

@keyframes da-slide-toleft2-2 {
  0% {
    right: 10%;
    opacity: 1; }
  30% {
    right: 0%;
    opacity: 1; }
  100% {
    right: 100%;
    opacity: 0; } }
@keyframes da-slide-toright2-2 {
  0% {
    right: 10%;
    opacity: 1; }
  30% {
    right: 20%;
    opacity: 1; }
  100% {
    right: -100%;
    opacity: 0; } }
@keyframes da-slide-fromleft2-2 {
  0% {
    right: 100%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@keyframes da-slide-fromright2-2 {
  0% {
    right: -100%;
    opactiy: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@media screen and (max-width: 768px) {
  .slider-one img:nth-child(1) {
    display: none; }
  .slider-one img:nth-child(2) {
    top: 25%;
    width: 70% !important; }

  .slider-two img:nth-child(1) {
    top: 25%;
    width: 70% !important; }
  .slider-two img:nth-child(2) {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .slider-one img:nth-child(1) {
    width: 300px;
    top: 100px; }
  .slider-one img:nth-child(2) {
    top: 25%;
    width: 300px; }

  .slider-two img:nth-child(1) {
    top: 25%;
    width: 300px; }
  .slider-two img:nth-child(2) {
    top: 100px;
    width: 300px; } }
@media screen and (min-width: 1201px) {
  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(1) {
    margin-left: 0%; }

  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(2) {
    margin-right: 0%; } }
@media screen and (min-width: 1660px) {
  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(1) {
    margin-left: 10%; }

  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(2) {
    margin-right: 10%; } }
@media screen and (min-width: 1900px) and (max-width: 2200px) {
  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(1) {
    margin-left: 13%; }

  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(2) {
    margin-right: 13%; } }
@media screen and (min-width: 2200px) and (max-width: 2565px) {
  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(1) {
    margin-left: 18%; }

  .da-slider .slider-inner .slider-anima .top-slider img:nth-child(2) {
    margin-right: 18%; } }

/*# sourceMappingURL=slider-inner.css.map */
