$width:75px;$height:75px;
ul.newsfeed-list{
	padding: 0;
	list-style:none;

	font-size: 14px;
	// padding:10px;
	padding-left: 10px;
	border-width:1px 0 1px 0;
	border-style:solid;
	border-color: #808F72;
	li{
		padding: 10px 10px 10px 0;
		border-bottom:1px solid #808F72;
		&:last-child{
			border:none;
		}
		.newsfeed{
			.newsfeed-img{
				float: left;
				width: $width;height: $height;
				.news-img{
					width: 100%;
				}
			}
			.newsfeed-info{
				width: 100%;
				.info-title{
					margin-left: ($width + 10px);
					overflow:hidden;text-overflow:ellipsis;
					-webkit-box-orient:vertical;
					display: -webkit-box;
					-webkit-line-clamp:1;
					font-size: 18px;
					font-weight: bold;
					color:#2B2B2B;
				}
				.info-date{
					margin-left: ($width + 10px);
					color:#9B9B9B;
					padding:4px 0 8px 0;
				}
				.info-des{
					margin-left: ($width + 10px);
					overflow:hidden;text-overflow:ellipsis;
					-webkit-box-orient:vertical;
					display: -webkit-box;
					-webkit-line-clamp:2;
					color:#515151;
				}
			}
		}
	}
		
}