@charset 'utf-8';

/* cooperation */

.cooperation{
    background-color: #fff;
    #cooperation{
        text-align: left;
//      padding-bottom: 50px;
        .carousel-indicators{
            bottom: -3rem;
        }
        .media{
            .media-left{
                width: 300px;
                padding-right: 40px;
                .media-object{
                width:100%;
                } 
            }
            .media-body{
                padding-left: 30px;
                .title{
                    font-size: 1.4rem;
                    color: #f80;
                }
                .desc{
                    font-size: 1rem;
                    line-height: 2.5rem;
                    position:relative;
                    text-align:justify; 
                    &::before{
                            content: "";
                            font-family: "microsoft yahei";
                            width: 20px;
                            height: 20px;
                            display: block;
                            position: absolute;
                            background-image: url(../img/cooperation/dou.png);
                            background-size: contain;
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            top: 15px;
                            left: -30px;
                            font-size: 2rem;
                            color: #F80;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:999px){
    #cooperation{
        .media-left{
            display: none;
        }
    }
}
@media screen and(min-width:1000px){
    #cooperation{
        .media-left{
            width:200px;
        }
    }
}
@media screen and(min-width:1200px){
    
    #cooperation{
        .media-left{
            width:260px;
        }
    }
}
