@import url(build/normalize.min.css);
/* font-rem-base */
html {
  font-size: 62.5%; }

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; } }
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important; } }
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important; } }
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  font-family: "microsoft yahei" ,"Helvetica Neue","Helvetica","Arial","sans-serif"; }
  .navbar-default .navbar-collapse {
    background-color: rgba(8, 8, 8, 0.9); }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #eeea38; }
    .navbar-default .navbar-nav > li > a.current {
      color: #eeea38 !important; }
  .navbar-default .navbar-brand {
    height: 44px;
    padding-top: 0px; }
    .navbar-default .navbar-brand img {
      width: 160px; }
      .navbar-default .navbar-brand img:last-child {
        display: none; }
  .navbar-default .navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px; }

.mobile {
  background-color: rgba(0, 0, 0, 0.8); }
  .mobile .navbar-brand img:first-child {
    display: none; }
  .mobile .navbar-brand img:last-child {
    display: inline-block; }

.scrollOut {
  background-color: rgba(0, 0, 0, 0.8); }
  .scrollOut .navbar-brand img:first-child {
    display: none; }
  .scrollOut .navbar-brand img:last-child {
    display: inline-block; }

.container-fluid {
  padding: 0 120px; }

@media screen and (max-width: 1201px) {
  .container-fluid {
    padding: 0 10px; } }
@media screen and (max-width: 767px) {
  .navbar-default .navbar-brand {
    padding-top: 16px; } }
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0; }

  .navbar-default .navbar-collapse {
    background-color: transparent; }

  .navbar {
    padding-top: 16px;
    border: none;
    font-size: 16px; }
    .navbar .navbar-brand {
      padding: 0; }
    .navbar .navbar-nav {
      height: 30px; }
      .navbar .navbar-nav .navbar-link {
        padding: 0;
        margin: 4px 18px; }
      .navbar .navbar-nav .logoin {
        background-color: #C7C130;
        border-radius: 20px;
        padding: 4px 16px;
        margin: 0px 0px 0 47px;
        color: #323232; }
        .navbar .navbar-nav .logoin:hover, .navbar .navbar-nav .logoin:focus {
          background-color: #EEEA38;
          color: #323232; }
      .navbar .navbar-nav .signin {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 4px 16px;
        margin: 0px 10px;
        color: #fff; }
        .navbar .navbar-nav .signin:hover {
          background-color: #fff;
          color: #333; } }
@media screen and (max-width: 1201px) {
  .navbar .navbar-nav .navbar-link {
    margin: 4px 10px; }
  .navbar .navbar-nav .logoin {
    padding: 4px 16px;
    margin: 0px 10px 0 10px; }
  .navbar .navbar-nav .signin {
    padding: 4px 16px;
    margin: 0px 10px; } }
.section {
  font-family: "microsoft yahei" ,"Helvetica Neue","Helvetica","Arial","sans-serif";
  background-color: #F5F5F5; }
  .section.header-section {
    height: 540px;
    background-image: url("../img/download/download-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .section.header-section .container .table-middle {
      text-align: right; }
      .section.header-section .container .table-middle .phone {
        height: 492px;
        margin-top: 82px;
        margin-right: 95px; }
      .section.header-section .container .table-middle .col-right {
        text-align: left;
        text-indent: 15px; }
        .section.header-section .container .table-middle .col-right .right-context {
          display: inline-block;
          text-align: center;
          font-size: 14px;
          color: #fff;
          text-indent: 0; }
          .section.header-section .container .table-middle .col-right .right-context .topic {
            height: 92px;
            margin-top: 135px; }
          .section.header-section .container .table-middle .col-right .right-context .download-btn {
            width: 325px;
            height: 120px;
            position: relative;
            margin: 0 auto;
            margin-top: 90px; }
            .section.header-section .container .table-middle .col-right .right-context .download-btn .down-ios {
              width: 166px;
              position: absolute;
              top: 4px;
              left: 0; }
            .section.header-section .container .table-middle .col-right .right-context .download-btn .down-and {
              width: 166px;
              position: absolute;
              top: 74px;
              left: 0; }
            .section.header-section .container .table-middle .col-right .right-context .download-btn .down-qr {
              width: 118px;
              position: absolute;
              top: 0;
              right: 0; }
          .section.header-section .container .table-middle .col-right .right-context p {
            margin-top: 18px; }
  .section.gap-for-header {
    height: 50px; }
  .section .dynamic {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: 0; }
    .section .dynamic .col-slide {
      text-align: right; }
      .section .dynamic .col-slide .carousel {
        width: 420px;
        margin-right: 25px;
        display: inline-block; }
      .section .dynamic .col-slide .carousel-inner .item {
        text-align: center;
        width: 420px;
        height: 360px; }
        .section .dynamic .col-slide .carousel-inner .item img {
          width: 420px;
          right: 0;
          position: absolute;
          top: 0; }
  .section .col-info {
    padding-top: 45px;
    padding-left: 48px; }
    .section .col-info p {
      font-size: 34px; }
    .section .col-info h3 {
      margin-top: 87px;
      margin-bottom: 50px; }
      .section .col-info h3 span {
        font-size: 26px;
        color: #f36303;
        position: relative; }
        .section .col-info h3 span:before {
          content: '';
          display: block;
          position: absolute;
          top: -55px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #f36303; }
    .section .col-info .slide-btn ul {
      padding: 0; }
      .section .col-info .slide-btn ul li {
        display: inline-block;
        font-size: 0; }
        .section .col-info .slide-btn ul li img {
          height: 70px;
          margin-right: 12px; }
          .section .col-info .slide-btn ul li img:nth-child(even) {
            display: none; }
          .section .col-info .slide-btn ul li img:active {
            -webkit-filter: blur(3px);
                    filter: blur(3px); }
        .section .col-info .slide-btn ul li.current_item img:nth-child(even) {
          display: inline-block; }
        .section .col-info .slide-btn ul li.current_item img:nth-child(odd) {
          display: none; }

@media screen and (max-width: 992px) {
  .col-left {
    display: none; }

  .section.header-section .container .table-middle .col-right {
    text-indent: 0;
    text-align: center; } }
@media screen and (max-width: 767px) {
  .section .dynamic {
    padding-top: 100px;
    padding-bottom: 100px; }
    .section .dynamic .col-slide {
      text-align: center; }
      .section .dynamic .col-slide .carousel {
        width: 300px;
        margin-right: 0;
        display: inline-block; }
      .section .dynamic .col-slide .carousel-inner .item {
        text-align: center;
        width: 300px;
        height: 257px; }
        .section .dynamic .col-slide .carousel-inner .item img {
          width: 100%; }
  .section .col-info {
    padding-top: 45px;
    text-align: center;
    padding-bottom: 50px; }
    .section .col-info p {
      font-size: 34px; }
    .section .col-info h3 {
      margin-top: 27px;
      margin-bottom: 20px; }
      .section .col-info h3 span {
        font-size: 26px;
        color: #f36303;
        position: relative; }
        .section .col-info h3 span:before {
          display: none; }
        .section .col-info h3 span:after {
          content: '';
          display: block;
          position: absolute;
          top: -10px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #f36303; }
    .section .col-info .slide-btn ul li img {
      height: 60px;
      margin-right: 12px; } }
@media screen and (max-width: 413px) {
  .section.header-section .container .table-middle .col-right {
    text-indent: 0;
    zoom: 0.75;
    margin-top: 90px; } }
.footer {
  background-color: #FAFAFA;
  font-family: "microsoft yahei" ,"Helvetica Neue","Helvetica","Arial","sans-serif"; }
  .footer .container.adv {
    padding: 0 15px;
    border-bottom: 1px solid #DBDBDB; }
  .footer .container .row .advatage {
    width: 228px;
    margin: 28px auto; }
    .footer .container .row .advatage .media-object {
      width: 44px; }
    .footer .container .row .advatage .media-body {
      font-size: 18px;
      color: #000; }
      .footer .container .row .advatage .media-body p {
        font-weight: bold;
        margin: 0; }
  .footer .container .row.relation-box {
    padding: 0 15px; }
  .footer .container .row .foot-nav {
    padding: 5px 5px 10px 29px;
    display: inline-block;
    color: #333;
    font-size: 16px; }
  .footer .container .row .qrcore {
    text-align: center;
    border-style: solid;
    border-width: 0 1px;
    border-color: #DBDBDB;
    font-size: 16px;
    color: #666666;
    padding-bottom: 16px;
    padding-top: 0px; }
    .footer .container .row .qrcore .wx .qr-box {
      float: right;
      width: 106px;
      text-align: center; }
    .footer .container .row .qrcore .download .qr-box {
      width: 106px;
      text-align: center; }
    .footer .container .row .qrcore img {
      max-width: 106px;
      margin-top: 2px; }
  .footer .container .row .hotnum {
    text-align: right;
    padding-right: 40px;
    padding-top: 5px; }
    .footer .container .row .hotnum p:first-child {
      color: #666666;
      font-size: 0.8rem;
      margin-bottom: 10px; }
    .footer .container .row .hotnum p:nth-child(3) {
      color: #999999;
      line-height: 22px;
      margin-top: 10px; }
    .footer .container .row .hotnum img {
      width: 18px;
      margin-right: 5px;
      vertical-align: bottom; }
    .footer .container .row .hotnum a {
      color: #333;
      font-size: 1.7rem;
      line-height: 1.7rem;
      height: 1.7rem;
      display: inline-block; }
  .footer .public-info {
    padding-top: 30px;
    position: relative; }
    .footer .public-info .backtop-btn {
      position: absolute;
      bottom: 50px;
      right: 15px;
      width: 70px;
      height: 70px;
      background-color: #FDD033;
      font-size: 20px;
      text-align: center;
      line-height: 70px;
      border-radius: 50px;
      color: #000;
      cursor: pointer;
      opacity: 0.7; }
      .footer .public-info .backtop-btn:hover {
        color: #fff;
        opacity: 1; }
      .footer .public-info .backtop-btn:active {
        color: #000; }

.logo-on-msg {
  text-align: center;
  padding: 0 10px;
  color: #999;
  font-size: 14px;
  margin-top: 25px; }

@media screen and (max-width: 992px) {
  .footer .container .row .hotnum {
    margin-top: 20px;
    text-align: center; } }
@media screen and (min-width: 1201px) {
  .footer .container .row .foot-nav {
    padding: 0px 40px 19px 15px; }
  .footer .container .row .hotnum {
    padding-right: 55px; }
  .footer .container.public-info {
    padding: 30px 17px 12px 15px; } }

/*# sourceMappingURL=download.css.map */