@charset 'utf-8';
/* section-box */
.section{
    .section-title{
        text-align: center;
        font-size: 1.5rem;
        color: #333333;
        line-height: 2rem;
        margin: 2rem 0; 
    }
    .section-box{
        text-align: center;
        position: relative;
    }
}
