@import url(normalize.min.css);
@import url(build/media_bt.css);
* {
  margin: 0;
  padding: 0; }

.section {
  display: none;
  box-sizing: border-box; }
  .section a {
    text-decoration: none;
    color: inherit; }
  .section .member-btn {
    font-size: 0;
    padding: 10px 0; }
    .section .member-btn .btn {
      display: inline-block;
      text-decoration: none;
      width: 30%;
      margin-left: 2.5%;
      font-size: 13px;
      text-align: center;
      line-height: 36px;
      border-radius: 5px; }
      .section .member-btn .btn.four {
        width: 21.5%; }
      .section .member-btn .btn.btn-space {
        border: 1px solid #C3C8CC;
        color: #333333; }
      .section .member-btn .btn.btn-theme {
        background-color: #FF8B0F;
        color: #fff; }
      .section .member-btn .btn.pull-right {
        float: right;
        margin-right: 2.5%; }
  .section .draging {
    background-color: #e2e2e2;
    color: #fff; }
  .section .moving {
    background-color: #D9D9D9;
    color: #fff; }
    .section .moving .sorting-tag span {
      background-color: #fff;
      border-color: #fff; }
  .section.none-classes {
    padding: 10px; }
    .section.none-classes h3 {
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 10px; }
    .section.none-classes p {
      font-size: 14px;
      line-height: 20px;
      color: #2b2b2b; }
    .section.none-classes .create-now {
      display: block;
      height: 35px;
      line-height: 35px;
      text-align: center;
      width: 120px;
      margin: 20px auto;
      border: 1px solid #C3C8CC;
      border-radius: 5px; }
  .section.add-classes .member-input {
    border-top: 1px solid #CFD7C5;
    border-bottom: 1px solid #cfd7c5; }
    .section.add-classes .member-input ul {
      list-style: none;
      padding-left: 10px; }
      .section.add-classes .member-input ul .media {
        border-bottom: 1px solid #ebebeb;
        margin: 0; }
        .section.add-classes .member-input ul .media:last-child {
          border-bottom: none; }
        .section.add-classes .member-input ul .media .media-left {
          word-break: keep-all; }
          .section.add-classes .member-input ul .media .media-left .input-label {
            line-height: 45px;
            width: 65px;
            color: #969696; }
        .section.add-classes .member-input ul .media .media-body {
          text-align: right;
          height: 45px; }
          .section.add-classes .member-input ul .media .media-body .input-text {
            padding-right: 10px;
            height: 100%; }
            .section.add-classes .member-input ul .media .media-body .input-text .member-logo {
              width: 50px; }
            .section.add-classes .member-input ul .media .media-body .input-text input {
              width: calc(100% - 10px);
              height: 100%;
              padding-left: 10px;
              line-height: 1.5;
              -webkit-appearance: none;
              border: none;
              text-shadow: none;
              box-shadow: none; }
            .section.add-classes .member-input ul .media .media-body .input-text .integral-add-switch {
              position: relative;
              height: 40px;
              width: 100%; }
              .section.add-classes .member-input ul .media .media-body .input-text .integral-add-switch .chk_3 + label {
                top: 10px;
                margin-right: 10px; }
  .section.add-classes .member-btn .add-classes-cancel {
    margin-left: 17.5%; }
  .section.classes-edit .member-btn .btn {
    color: #fff; }
  .section.classes-edit .member-btn .del-btn {
    background-color: #D44545; }
  .section.classes-edit .member-btn .add-btn {
    background-color: #3590B9; }
  .section.classes-edit .member-btn .edit-btn {
    background-color: #34B79D; }
  .section.classes-edit .member-btn .sort-btn span:first-child {
    display: inline-block; }
  .section.classes-edit .member-btn .sort-btn span:last-child {
    display: none; }
  .section.classes-edit .fixed-tollbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 1;
    border-bottom: 1px solid #e2e2e2; }
    .section.classes-edit .fixed-tollbar .badNetWork-info {
      position: relative;
      height: 0px;
      overflow: hidden;
      line-height: 40px;
      text-align: center;
      color: #1D0000;
      font-size: 12px;
      border-bottom: 1px solid #cfd7c5;
      background-color: #FEDADC;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .section.classes-edit .fixed-tollbar .badNetWork-info:after {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
        height: 10px;
        width: 10px;
        border-style: solid;
        border-color: #000;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .section.classes-edit .classes-list {
    border-top: 1px solid #cfd7c5;
    padding-top: 59px; }
    .section.classes-edit .classes-list ul li {
      font-size: 0;
      border-bottom: 1px solid #EBEBEB; }
      .section.classes-edit .classes-list ul li .media {
        font-size: 14px;
        line-height: 45px; }
        .section.classes-edit .classes-list ul li .media .media-left {
          padding-left: 10px; }
          .section.classes-edit .classes-list ul li .media .media-left .item-checkbox {
            width: 20px;
            height: 20px;
            position: relative; }
        .section.classes-edit .classes-list ul li .media .media-body {
          padding-left: 10px; }
        .section.classes-edit .classes-list ul li .media .media-right .hidden-tag {
          display: none;
          color: red; }
        .section.classes-edit .classes-list ul li .media .media-right .sorting-tag {
          display: none; }
          .section.classes-edit .classes-list ul li .media .media-right .sorting-tag span {
            border-top: 2px solid #C9C9C9;
            border-bottom: 2px solid #C9C9C9;
            height: 2px;
            width: 15px;
            padding: 2px 0;
            margin: 0 10px 0 5px;
            background-clip: content-box;
            background-color: #C9C9C9;
            display: inline-block; }
        .section.classes-edit .classes-list ul li .media .media-right .more-tag {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px; }
          .section.classes-edit .classes-list ul li .media .media-right .more-tag:before {
            content: '';
            height: 10px;
            width: 10px;
            display: block;
            top: 9px;
            position: relative;
            border-top: 1px solid #C9C9C9;
            border-right: 1px solid #C9C9C9;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
        .section.classes-edit .classes-list ul li .media.not-publish .media-right {
          min-width: 72px; }
          .section.classes-edit .classes-list ul li .media.not-publish .media-right .hidden-tag {
            display: inline-block; }
  .section.classes-edit.badNetWork .badNetWork-info {
    height: 40px; }
  .section.classes-edit.badNetWork .classes-list {
    padding-top: 98px; }
  .section.classes-edit .member-btn .btn.sorting, .section.classes-edit .member-btn .btn.disabled-btn {
    background-color: #cfcfcf;
    cursor: not-allowed;
    color: #b4b6c5; }
  .section.classes-edit .member-btn .sort-btn.sorting {
    background-color: #f36303;
    cursor: pointer;
    color: #fff; }
    .section.classes-edit .member-btn .sort-btn.sorting span:first-child {
      display: none; }
    .section.classes-edit .member-btn .sort-btn.sorting span:last-child {
      display: inline-block; }
  .section.classes-edit .classes-list.sorting ul li .media .media-left {
    display: none; }
  .section.classes-edit .classes-list.sorting ul li .media .media-right {
    min-width: 40px; }
    .section.classes-edit .classes-list.sorting ul li .media .media-right .sorting-tag {
      display: block; }
    .section.classes-edit .classes-list.sorting ul li .media .media-right .more-tag {
      display: none; }
    .section.classes-edit .classes-list.sorting ul li .media .media-right .hidden-tag {
      display: none; }

.chk_1, .chk_2, .chk_3, .chk_4 {
  display: none; }

.chk_3 + label {
  background-color: #fafbfa;
  padding: 5px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  margin-right: 30px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 40px;
  height: 15px;
  float: right;
  position: absolute;
  top: -35px;
  right: -10px; }

.chk_3 + label:after {
  content: ' ';
  position: absolute;
  top: 0;
  -webkit-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0, 0, 0, 0.4); }

.chk_3 + label:before {
  content: ' ';
  position: absolute;
  background: white;
  top: 1px;
  left: 1px;
  z-index: 999999;
  width: 23px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  height: 23px;
  border-radius: 100px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.3); }

.chk_3:active + label:after {
  box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee; }

.chk_3:active + label:before {
  width: 37px; }

.chk_3:checked:active + label:before {
  width: 37px;
  left: 20px; }

.chk_3 + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.chk_3:checked + label:before {
  content: ' ';
  position: absolute;
  left: 26px;
  border-radius: 100px; }

.chk_3:checked + label:after {
  content: ' ';
  font-size: 1.5em;
  position: absolute;
  background: #4cda60;
  box-shadow: 0 0 1px #4cda60; }

/*# sourceMappingURL=goods_classes.css.map */