.container{
	max-width: 640px;
	margin: 0 atuo;

}
.store-log img{
	max-width: 100%;
}
.store-info{
	background-color: #F2F2F2;
	background: url(../img/example2048X2048.jpg);
	height: 150px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.store-user{
	color: #cfcfcf;
}
.one-three{
	width: 33.33333333%;
	float: left;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	color: #656565;
	font-size: 12px;
	position: relative;
}
.one-three:before{
	content:'';
	display: block;
	width: 1px;
	height: 26px;
	position: absolute;
	top: 15px;
	right: 0;
	background-color: #E5E5E5;
}
.wait-send div{
	
}
.one-three:active{
	background-color: #cfcfcf;
}
.one-three:first-child{
	border-left: none;
}
.one-three p{
	color: #F98A4B;
	font-weight: bold;
	font-size: 18px;
}
.order-info{
	overflow: hidden;
}
.active{
	color: #fff;
	background-color: #f27302;
}
.active p{
	color: #000;
}
.entrances{
	padding-top: 4px;
}
.entrance{
	width: 50%;
	background-color: #EEEEEE;
	float: left;
	padding: 5px 10px;
	text-align: center;
}
.entrance:nth-child(even){
	padding-left:4px;
}
.entrance:nth-child(odd){
	padding-right:4px;
}
.entrance img{
	width: 40px;
	margin-top: 13px;
}
.entrance p{
	margin-top: 12px;
	font-size: 14px;
	color:#fff;
}
.entrance1,.entrance2{
	padding-top: 10px;
}
.entrance1 .entxt{
	height: 100%;
	width: 100%;
	border-radius:8px;
	min-height: 95px;
	background-color: #FE3533;
}.entrance2 .entxt{
	height: 100%;
	width: 100%;
	border-radius:8px;
	min-height: 95px;
	background-color: #08A843;
}.entrance3 .entxt{
	height: 100%;
	width: 100%;
	border-radius:8px;
	min-height: 95px;
	background-color: #08A843;
}.entrance4 .entxt{
	height: 100%;
	width: 100%;
	border-radius:8px;
	min-height: 95px;
	background-color: #B772FF;
}.entrance5 .entxt{
	height: 100%;
	width: 100%;
	border-radius:8px;
	min-height: 95px;
	background-color: #46B9F2;
}.entrance6 .entxt{
	height: 100%;
	width: 100%;
	border-radius:8px;
	min-height: 95px;
	background-color: #00CCAC;
}
    	.media{
    		border-bottom: none;
    	}
    	.media-object {
    	    width: 60px;
    	    height: 60px;
    	}
    	.media:first-child {
		    margin-top: 0;
		    transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    -webkit-transform: translateY(-50%);
		    top: 50%;
		    position: relative;
		    margin-left: 10px;
		    background-color: rgba(255,255,255,0.6);
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		}
    	.media:active{
    		background-color: inherit;
    	}
		.media-left .media-object{
			border-radius: 3px;
			/*border: 2px solid #fff;*/
		}
		.media-body p {
			position: relative;
		    width: 185px;
		    height: 22px;
		    line-height: 22px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		.vochers-description p:first-child {
		    font-weight: bold;
		    color: #fff;
		    font-size: 16px;
		}
		.approve{
			color: #f36303;
			padding-bottom: 2px;
		}
		p.approve{
			height:auto;
			margin-top: 8px;
			font-size: 12px;
			line-height: 14px;
		}
		.approve img{
			width:10px;
			vertical-align: bottom;
			margin-right: 6px;
		}
		.media-left, .media-right, .media-body {
		    vertical-align: middle;
		}
		.media-left{
			padding-right: 5px;
		}
		.media-left a{
			width: 64px;
			height: 64px;
			display: block;
			background-color: #797A87;
			border: 2px solid #fff;
		}
		.media-right{
			padding-left: 5px;
		}
		.media-right img {
		    height: 45px;
		    width: 45px;
		    margin-right: 10px;
		}


		.statistics{

		}
		.statistics img{
			height: 15px;
		}
		body{
			background-color: #EEEEEE;
		}
		.container{
			background-color: #fff;
		}
		.qrimg{display:none; position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0,0,0,0.5);}
		.qrimg img{width: 270px;height: 270px;position: relative;top:120px; left: 50%;transform:translateX(-50%); background-color: red;filter:none;-webkit-filter:none;-moz-filter:none;-o-filter:none; }
		.filter{filter:blur(1px);-webkit-filter:blur(1px);-moz-filter:blur(1px);-o-filter:blur(1px);}