.headerNav {border-top-color:#fe2c09; }
.headerNav .menu li.select {border-bottom-color:#fe2c09; }


.left .smnav {border-top-color:#fe2c09; }
.left .smnav .menu li.select {border-bottom-color:#fe2c09;}
.right h1 strong {border-bottom-color:#fe2c09;color:#fe2c09; }