/* CSS Document */
#focusBar { width:100%; height:644px; clear:both; position:relative; background:#242424; overflow:hidden;}
#focusBar li { width:100%; clear:both; height:644px; display:none; position:absolute;/* position:relative;*/}
#focusBar .focusL { height:644px; position:absolute; z-index:9; /*left:-1000px;*/ top:0px; left:-500px; margin-left:50%;}
#focusBar .focusR { height:644px; position:absolute; z-index:19;/* right:1000px; */top:0px; left:-500px; margin-left:50%;}

a.arrL,a.arrR { display:block; width:52px; height:134px; position:absolute; top:250px; z-index:99; cursor:pointer; background-image:url(../images/bt_arr.png); background-repeat:no-repeat; }
a.arrL { left:-52px; background-position:0px 0px;} a.arrR { right:-52px; background-position:-68px 0px;}
a.arrL:hover { background-position:0px -144px;}
a.arrR:hover { background-position:-68px -144px;}

h2.tit1 { background-position:0px 0px;}
h2.tit2 { background-position:0px -70px;}
h2.tit3 { background-position:0px -140px;}
h2.tit4 { background-position:0px -210px;}

.portfolioMenu { width:1000px; height:32px; padding:35px 0px 33px 0px; clear:both; text-align:center; margin: 0px auto;}
.portfolioMenu a { display:inline-block; background:none; width:90px; height:32px; overflow:hidden; text-align:center; line-height:32px; margin:0px 2px;position:relative; z-index:10;}
.portfolioMenu a { color:#333333;}
.portfolioMenu a.on { color:#ffffff;}

.menuBg {background:url(../images/nav_bg.gif) no-repeat 0px -42px;/*background-color:#fd8200; */ width:90px; height:32px; position:absolute; left:0px; top:0px; z-index:9; display:none; color:#ffffff;}

.zp_list {/* width:1000px;*/ width:980px; margin:0 auto; clear:both;}
.zp_box { width:310px; height:190px; display:inline;/* padding:5px 5px; */overflow:hidden; float:left;/*position:relative;*/ margin:7px 7px; cursor:pointer;}
.zp_box img { width:310px; height:190px;}
/*a.zp_boxfc { display:block; width:320px; height:200px; position:absolute; left:0px; top:0px; z-index:39; background:url(../images/portfolio_bc.gif) no-repeat 0px 0px;}*/
.pop_tit { width:290px; height:40px; padding:10px 10px 5px 10px; /*position:absolute; left:5px; top:5px; z-index:29;*/ background:url(../images/zp_titbg.gif) no-repeat 0px 0px; display:none;}
.p_tit1 { line-height:18px; color:#ffffff; font-size:18px; padding-right:18px;}
.p_tit2 { line-height:16px; font-family:Arial; color:#fd8200; font-size:12px;}

/*------services------*/
#servicesBox {  margin:0 auto; clear:both; padding:60px 0px 45px 0px; line-height:18px; color:#999999; font-size:12px;}
#servicesBox .serBox {margin-bottom:30px;left: 50%;margin-left: -130px; cursor:pointer; display:inline; width:260px; height:350px; float:left; overflow:hidden; background-color:#f7f7f7; position:relative;}
#servicesBox .serBox img{width: 100px;}
#servicesBox .serBoxOn { display:none; width:260px; height:100%; background:url(../img/service/service-bg.png) repeat 0px 0px; position:absolute; left:0px; top:0px; z-index:19;}
#servicesBox .serBox .pic1 { width:110px; height:110px; text-align:center; position:absolute; top:22px; right:105px; z-index:99;}
#servicesBox .serBox .pic2 { width:110px; height:110px; text-align:center; position:absolute; top:22px; left:-110px; z-index:99;}
#servicesBox .serBox .txt1 { width:240px; height:100px; color:#999999; position:absolute; top:145px; left:40px; z-index:99;}
#servicesBox .serBox .txt2 { width:240px; height:100px; color:#999999; position:absolute; top:145px; right:-240px; z-index:99;}
#servicesBox .serBox span.tit { font-size:16px; display:block; height:50px; line-height:40px; text-align:center;}
#servicesBox .serBox .txt1 .tit { color:#000000;}
#servicesBox .serBox .txt2 .tit { color:#fd8200;}

.fgH20 { float:left; width:19px; height:270px;}

#servicesBox h3 { font-weight:normal; font-size:16px; height:30px; line-height:20px; color:#000000;}

.servicesPop { background:url(../images/services_popbg.gif) repeat 0px 0px; width:100%; clear:both; height:320px; padding-top:33px; position:absolute; top:-3px; left:0px; z-index:999; display:none;}
.servicesPop #serFocus { width:1000px; height:273px; margin:0 auto; clear:both; background-color:#ffffff;}
#serFocus div.box { width:1000px; height:273px; display:none; color:#999999;}
.service-center{}

.friend{
	height: 26px;
	margin-bottom: 10px;
	margin-right: 10px;
}
