	*{
			margin: 0;
			padding: 0;
			box-sizing:border-box;
		}
		html,body{
			height: 100%;
		}
		/*clearfix*/
		.clearfix:before,
		.clearfix:after {
		    content: ".";
		    display: block;
		    height: 0;
		    visibility: hidden;
		}
		.clearfix:after {clear: both;}
		.clearfix {zoom: 1;} /* IE < 8 */
		.container{
			width: 100%;
			height: 100%;
			max-width: 640px;
			margin: 0 auto;
			/*padding: 20px 10px;*/
			background-color: #DDDEE3;
		}
		.content{
			background-color: #fff;
			/*border-radius: 5px;*/
			/*box-shadow:  0px 2px 6px 0px #5d5050;*/
			border-bottom: none;

		}
		.title{
			background-color: #F6F7F9;
			padding: 10px;
			/*height: 34px;*/
			border-bottom: 1px solid #cfcfcf;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.skill{

		}
		.add-new{
			padding: 10px;
			border-bottom: 1px solid #cfcfcf;
		}
		.add-new img{
			height: 50px;
			float: left;
		}
		.add-new p{
			float: left;
			line-height: 50px;
			padding-left: 8px;
			font-size: 16px;
			color: #f27302;
			font-weight: bold;
		}
		.added ul li{
			list-style: none;
		}
		.article{
			/*border-bottom: 1px solid #cfcfcf;*/
		}
		.added ul li{
			padding: 10px;
			border-bottom: 1px solid #cfcfcf;
		}
		.added ul li:last-child{
			border-bottom:2px solid #cfcfcf;
		}
		.article-name{
			font-size: 16px;
			font-weight: bold;
		}
		.article-skill{
		    padding-top: 10px;
		    display: block;
		    overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.article-msg{
			float: left;
			width: 70%;
		}
		.article-action{
			width: 136px;
			float: right;
			padding-top: 10px;
		}
		.article-action .edit{
			background-color: #FCC396;
			border-radius: 15px;
			position: relative;
		}
		.article-action .edit a{
			text-decoration: none;
			color: #fff;
		}
		.article-action .del{
			margin-left: 6px;
			border: 1px solid #000;
			border-radius: 15px;
			position: relative;
		}
		.article-action .edit,.article-action .del{

			width: 65px;
			float: left;
			padding: 6px;
			font-size: 14px;
		}
		.article-action .edit img,.article-action .del img{
			height: 12px;
			padding-right: 5px;
			padding-left: 4px;
		}
		.bgdark{
			background-color: #DDDEE3;
			height: 15px;
		}


		/*新增语言*/
		.item{
			height: 50px;
			/*border-bottom: 1px solid #cfcfcf;*/
			padding-left: 5px;
			padding-right: 5px;
		}
		.item-title{
			height: 50px;
			float: left;
			line-height: 50px;
		}
		.item-details{
			height: 50px;
			float: right;
			line-height: 50px;
			text-align: right;
			position: relative;
		}
		.item-details input{
			border: none !important;
			height: 98%;
			width: 90%;
			font-size: 16px;
			text-align: right;
			position: absolute;
			top: 0;
			right: 16px;

		}
		.item-details img{
			width: 10px;
			height: 18px;
			position: absolute;
			right: 0;
			top: 15px;
		}

		/*技能编辑新增*/
		.article p{
			float: left;
		}
		.article input{
			height: 100%;
			border: none;
			height: 35px;
		}
		.description,.name{
			padding-left: 35px;
			/*height: 35px;*/
		}
		.article input{
			text-align: right;	
			padding-left: 4px;
			font-size: 16px;
			width: 100%;
			margin-top: 6px;
		}
		.article textarea{
			padding: 4px;
			font-size: 16px;
			width: 100%;
		}
		