*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
body{
	/*margin: 10px;*/
	font-family: 'Microsoft YaHei';
	position: relative;
}
body,.container,.selected-tag,.step-one1,.step-two{
		height: 100%;

}
.hidden{
	display: none!important;
    visibility: hidden!important;
}
/*clearfix*/
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
.container{	width: 100%;height: 100%;max-width: 640px;margin: 0 auto;}
/*发布简历需求选择*/
ul li{
	list-style: none;
}
.tagSelect{
	padding: 0 10px
}
.tagSelect ul li{
	list-style-type: none;
	float: left;
	width: 33.33%;
	padding: 1%;
}
.tagSelect a,.tagSelect a:active{
	text-decoration: none;
	outline: none;
	color: #000;
}
.tag{
	position: relative;
	/*width: 30%;*/
	height: 40px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	outline: none;
}
.tag img{
	position: absolute;
	right: -1px;
	bottom: -1px;
}
.tag span{
	line-height: 38px;
	font-weight: bold;
}
.active-tag{
	background-color: #FCC396;
}
.tagEdit ul li {
	width: 33.33%;
}

/*简历发布输入、编辑简历*/
.needs{
	background-color: #DDDEE3;
	padding: 10px;
}
.job-tag{
	background-color: #fff;
}
.edit-resume{
	background-color: #fff;
	border-radius: 5px;
		box-shadow: 0px 2px 6px 0px #5d5050;

}
.tagEdit ul li{
	float: left;
	padding: 1%;
}

.item{
	height: 50px;
	border-bottom: 1px solid #cfcfcf;
	padding-left: 10px;
	padding-right: 10px;
}
.item-title{
	height: 50px;
	float: left;
	line-height: 50px;
	font-weight: bold;
}
.item-details{
	height: 50px;
	float: right;
	line-height: 50px;
	text-align: right;
	position: relative;
}
.item-details input{
	border: none !important;
	height: 98%;
	width: 90%;
	font-size: 16px;
	text-align: right;
	position: absolute;
	top: 0;
	right: 16px;

}
.item-details img{
	width: 10px;
	height: 18px;
	position: absolute;
	right: 0;
	top: 15px;
}
.film-title{
	padding-top: 6px;
	padding-bottom: 10px;
}
.film-details textarea{
	width: 100%;
	max-width: 610px;
	min-height: 80px;
	-webkit-appearance:none;
	font-size: 16px;
	padding: 4px;
}
.next-step{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 6px;
	background-color: #f8f8f8;
}
.next-step a{
	display: block;
	margin: 0 auto;
	width: 80%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #f27302;
	background-color: #f27302;
	border-bottom: 2px solid #f36303;
	font-size: 16px;
	color: #fff;
	outline: none;
	text-decoration: none;
	line-height: 33px;
}

/*工作推送*/

.pushed-job{
	
}
.job-opportunity{
	padding: 6px  10px 0 10px;
}
.job-opportunity a{
	text-decoration: none;
	color: #000;
}
.need-name{
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	color: #2c2c2c;
}
.time{
	color: #F57725;
	margin: 5px 0;
}
.job-description{
	height: 63px;
	overflow: hidden;
	line-height: 20px;
	text-align: justify;
	margin-bottom: 5px;
	color: #2F2F2F;
}
.job-description p{
	width: 100%;
	margin-bottom: 2px;
	text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.job-tag{
	color: #F57725;
	margin-top: 5px;
	/*padding: 10px;*/
	line-height: 20px;
	border-top: 1px solid #E4E4E4;
}
.money-demand{
	height:30px;
	border-top: 1px solid #cfcfcf;
	line-height: 29px;
}
.money-demand .money{
	color: #f57725;
	float: left;
	width: 50%;
}
.money-demand .demand{
	width: 50%;
	float: left;
	text-align: right;
}
.send-resume,.send-msg{
	width: 50%;
	float: left;
	border: 1px solid #D6D6D6;
	text-align: center;
	height: 35px;
	line-height: 33px;
	padding-top: 5px;
}
.action{
	margin-left: -10px;
	margin-right: -10px;
}
.action img{
	width: 20px;
	height: 20px;
}

.send-resume{
	border-left: none;
}
.send-msg{
	border-left: none;
	border-right: none;
}
.waitSend,.sended,.send-msg{
	position: relative;
}
.waitSend span,.sended span,.send-msg span{
	padding-left: 8px;
	position: relative;
	top: -4px;
}
.gamp{
	clear: both;
	height: 15px;
	background-color: #E6E6E6;
	border-bottom: 1px solid #cfcfcf;
}
.gamp-details,.gamp-talents{
	margin-top: -1px;
	clear: both;
	height: 15px;
	background-color: #E6E6E6;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}


/*需求详情*/
.info{
	padding-top: 10px;
}
.job-title{
	padding: 0 10px;
}
.job-title p:nth-child(1){
	font-size: 18px;
}
.job-title p:nth-child(2){
	color: #F27302;
	margin-top: 4px;
	margin-bottom: 4px;
}
.job-title p:nth-child(3){
	color: #353535;
	margin-bottom: 6px;
}
.digest{
	width: 33.33%;
	float: left;
	padding-left:10px;
	border: 1px solid #DCDCDC;
	font-size: 16px;
	font-weight: bold;
	height: 46px;
	background: #F7F7F7;
}
.digest p{
	font-weight: normal;
}
.experience{
	border-left: none;
	border-right: none;
}
.number{
	
}
.postion-type{
	border-left: none;
	border-right: none;
}
.base-item{
	clear: both;
	height: 35px;
	/*border-bottom: 1px solid #cfcfcf;*/
	padding-left: 10px;
	position: relative;
}
.base h4{
	padding: 8px 0 5px 10px;
	border-bottom: 1px solid #cfcfcf;
}
.base-item-title{
	width: 65px;
	float: left;
	line-height: 35px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: #525252;
}
.base-item-details{
	float: left;
	line-height: 35px;
	padding-left: 10px;
	color: #515151;
	word-wrap:break-word;
}
.lineb{
	padding-left: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #cfcfcf;
}
.base .base-item:nth-child(odd)
,.language .base-item:nth-child(even)
,.skill .base-item:nth-child(even)
,.other-require .base-item:nth-child(even){
	background-color: #F7F7F7;
}
.step-two-details .item:last-child{
	border-bottom: none;
}
.film-description{
	padding: 10px 5px;
}
.film-title{
	font-weight: bold;
}
.film-description p{
	text-indent: 30px;
	text-align: justify;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #2B2B2B;
}
.film-description a{
	display: block;
	width: 200px;
	height: 35px;
	border: 1px solid #F36303;
	border-bottom: 2px solid #F98C53;
	background-color: #F36303;
	color: #fff;
	border-radius: 5px;
	left: 50%;
	position: relative;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	text-align: center;
	line-height: 33px;
	text-decoration: none;
}
.offer-require{
	padding: 10px;
}
.offer-require h4{
	padding: 8px 0 5px 0px;
}
.offer-require p{
	color: #2b2b2b;
}
.connet h4{
	padding-top: 10px;
	padding-left:10px;
}
.language h4,.skill h4,.other-require h4{
    padding: 8px 0 5px 10px;
    border-bottom: 1px solid #cfcfcf;
}
.selected-tag{
	    /*background-color: #DDDEE3;*/
}
.step-two{
	padding: 10px;
    background-color: #DDDEE3;

}
.step-two-details{
	border-radius: 5px;
	box-shadow: 0px 2px 6px 0px #5d5050;
	background-color: #fff;
}
footer{
	clear: both;
	width: 100%;
	max-width: 640px;
	margin:0 auto;
}
.action-details{
	padding-top: 30px;
	height: 50px;
}
.action-details img{
	width:15px;
	height: 15px;
}
.send-msg-details{
	width: 20%;
	float: left;
	color: #f27302;
	font-size: 14px;
	text-align: center;
}
.send-msg-details a,.send-msg-details a:focus{
	text-decoration: none;
	color: #f27302;
	outline: none;
}
.send-resume-details{
	line-height: 42px;
	width: 70%;
	margin-right: 10%;
	float: left;
	padding: 0 10%;
	height: 43px;
	background-color: #f27302;
	color: #fff;
	border: 1px solid #F27302;
	border-radius: 5px;
	text-align: center;
}

/*需求详情*/
.tabpanle div{
	position: relative;
	width: 50%;
	height: 42px;
	line-height: 42px;
	float: left;
	background-color: #FEF9F5;
	text-align: center;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.tabpanle div:nth-child(1){
	border-right: 1px solid #cfcfcf;
}
.tabpanle span{
	position: absolute;
	width: 35px;
	border-top: 3px solid #F36302;
	height: 1px;
	display: none;
	left: 50%;
	top: 36px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.active{
	color: #F36302;
}
.active span{
	display: block;
}
.edit-needs div{
	padding: 4px 0;
	width: 50%;
	float: left;
	text-align: center;
}
.edit-needs .edit a{
	width: 50%;
	height: 36px;
	background-color: #F36303;
	border: 1px solid #F36303;
	color: #fff;
	font-size: 16px;
	display: block;
    border-radius: 5px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    text-align: center;
    line-height: 33px;
    text-decoration: none;
}
.edit-needs .delete a{
	width: 50%;
	height: 36px;
	background-color: #fff;
	border: 1px solid #f27302;
	color: #f27302;
	font-size: 16px;
	display: block;
    border-radius: 5px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    text-align: center;
    line-height: 33px;
    text-decoration: none;
}
.received-title,.recommend-title{
	position: relative;
	height: 42px;
	border-bottom: 1px solid #cfcfcf;
	line-height: 34px;
	padding: 5px 10px;
}
.received-title h4,.recommend-title h4{
	float: left;
	font-size: 16px;
}
.received-title span,.recommend-title span{
	float: right;
	padding-right: 18px;
}
.received-title span img,.recommend-title span img{
	position: absolute;
	top: 13px;
	right: 10px;
	width: 10px;
	height: 18px;
}
.received ul,.recommend ul{
	clear:both;
	padding: 0 10px;
}
.talents{
	/*padding-top: 10px;*/
}
.talents-list  li{
	border-bottom: 1px solid #cfcfcf;
	padding: 6px 0;
}
.talents-list  li:last-child{
	border: none;
}
.talents-list a{
	text-decoration: none;
	color: #000;
}
.talents-info{
	float: left;
}
.talents-pic{
	float: left;
	width: 45px;
	height: 45px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	box-shadow: 0px 2px 4px 1px #cfcfcf;
}
.talents-pic img{
	/*width: 100%;*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	height: 100%;
}
.talents-base{
	float: left;
	padding-left: 10px;
}
.talents-name{
	float: left;
	height: 28px;
	line-height: 34px;
}
.talents-sex-age{
	border-radius: 5px;
	padding: 3px;
}
.boy{
	background-color: #7CBDFF;
}
.girl{
	background-color: #FF7C93;
}
.boy-img,.girl-img{
	display: none;
}
.boy .boy-img{
	display: inline-block;
}
.girl .girl-img{
	display: inline-block;
}
.talents-sex-age img{
	width: 16px;
	height: 16px;
}
.talents-sex-age,.talents-sex-age p{
	float: left;
	color: #fff;
}
.location{
	float: left;
}
.talents-address-find{
	clear: both;
	padding-left: 10px;
}
.find-job p{
	text-align: right;
}
.find-job p span{
	font-weight: bold;
	font-size: 16px;
}

.select-area{
	position: relative;
}
.publish{
	width: 100%;
}
.publish a{
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 80%;
	margin: 10px auto;
	height: 35px;
	line-height: 35px;
	color: #fff;
	border-radius: 5px;
	background-color: #f27302;
	border-bottom: 2px solid #f36303;
	text-decoration: none;	
}