body {
  background-color: #383A47; }

.tickets {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px; }
  .tickets .tickets-title {
    color: #f36303;
    margin-bottom: 20px; }
  .tickets .ticket {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); }
    .tickets .ticket .ticket-left {
      width: 100%;
      padding-right: 120px;
      color: #fff;
      float: left;
      position: relative; }
      .tickets .ticket .ticket-left:before, .tickets .ticket .ticket-left:after {
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: -20px;
        bottom: -20px;
        background-color: #383a47;
        border-radius: 50%;
        z-index: 2; }
      .tickets .ticket .ticket-left:before {
        top: -20px;
        z-index: 2; }
      .tickets .ticket .ticket-left .ticket-use {
        position: absolute;
        bottom: 10px;
        right: -30px;
        z-index: 5; }
        .tickets .ticket .ticket-left .ticket-use img {
          width: 100px;
          height: 100px;
          display: none; }
        .tickets .ticket .ticket-left .ticket-use.used img.used {
          display: block; }
        .tickets .ticket .ticket-left .ticket-use.timeout img.timeout {
          display: block; }
      .tickets .ticket .ticket-left .ticket-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .tickets .ticket .ticket-left .ticket-face {
        position: relative;
        height: 154px;
        padding: 20px;
        background-image: url("../img/ticket-bg.png");
        background-repeat: no-repeat;
        background-size: calc(100% + 45px) 194px;
        background-position: -20px -20px; }
        .tickets .ticket .ticket-left .ticket-face .mask {
          width: 100%;
          height: 154px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; }
        .tickets .ticket .ticket-left .ticket-face .ticket-name {
          position: relative;
          z-index: 2; }
        .tickets .ticket .ticket-left .ticket-face .ticket-info {
          z-index: 2;
          position: absolute;
          bottom: 10px;
          left: 0px;
          width: 100%;
          padding: 0 20px; }
          .tickets .ticket .ticket-left .ticket-face .ticket-info .three-part {
            width: 33.3333%;
            float: left;
            text-align: center; }
          .tickets .ticket .ticket-left .ticket-face .ticket-info .ticket-money {
            text-align: left; }
          .tickets .ticket .ticket-left .ticket-face .ticket-info .ticket-scale {
            text-align: right; }
    .tickets .ticket .ticket-right {
      font-size: 14px;
      height: 100%;
      float: left;
      position: relative;
      padding: 20px 20px 20px 0;
      background-color: #fff;
      float: left;
      width: 120px;
      margin-left: -120px; }
      .tickets .ticket .ticket-right:before, .tickets .ticket .ticket-right:after {
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: -20px;
        bottom: -20px;
        background-color: #383a47;
        border-radius: 50%;
        z-index: 2; }
      .tickets .ticket .ticket-right:before {
        top: -20px;
        z-index: 2; }
      .tickets .ticket .ticket-right .ticket-status .use-or-not {
        color: #D86C00; }
      .tickets .ticket .ticket-right .ticket-status .back-money {
        color: #D60000; }
      .tickets .ticket .ticket-right .ticket-store .store-logo {
        width: 30px;
        height: 30px;
        vertical-align: middle; }

/*# sourceMappingURL=yhtic.css.map */
