html {
  height: auto; }

body {
  height: auto;
  background-color: #383A47; }

.tickets {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0;
  overflow: hidden; }
  .tickets:last-child {
    padding-bottom: 10px; }
  .tickets.toggle img.toggle {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .tickets .tickets-title {
    color: #f36303;
    margin-bottom: 18px; }
    .tickets .tickets-title img {
      width: 12px;
      height: 7px;
      float: right;
      top: 11px;
      position: relative; }
  .tickets .ticket {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7); }
    .tickets .ticket:last-child {
      margin-bottom: 0; }
    .tickets .ticket .ticket-left {
      font-size: 16px;
      width: 100%;
      padding-right: 96px;
      color: #fff;
      float: left;
      position: relative; }
      .tickets .ticket .ticket-left:before, .tickets .ticket .ticket-left:after {
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: -20px;
        bottom: -20px;
        background-color: #383a47;
        -moz-border-radius: 50%;
        border-radius: 50%;
        z-index: 2; }
      .tickets .ticket .ticket-left:before {
        top: -20px;
        z-index: 2; }
      .tickets .ticket .ticket-left .ticket-use {
        position: absolute;
        bottom: 10px;
        right: -30px;
        z-index: 5; }
        .tickets .ticket .ticket-left .ticket-use img {
          width: 100px;
          height: 100px;
          display: none; }
      .tickets .ticket .ticket-left .ticket-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .tickets .ticket .ticket-left .ticket-face {
        position: relative;
        height: 131px;
        padding: 20px;
        padding-right: 0; }
        .tickets .ticket .ticket-left .ticket-face .mask {
          width: 100%;
          height: 131px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; }
          .tickets .ticket .ticket-left .ticket-face .mask img.ticket-bg {
            width: 100%;
            height: 100%; }
        .tickets .ticket .ticket-left .ticket-face .ticket-name {
          position: relative;
          z-index: 2; }
        .tickets .ticket .ticket-left .ticket-face .ticket-info {
          z-index: 2;
          position: absolute;
          bottom: 15px;
          left: 0px;
          width: 100%;
          padding: 0 20px; }
          .tickets .ticket .ticket-left .ticket-face .ticket-info .three-part {
            width: 33.3333%;
            float: left;
            font-size: 12px;
            font-weight: bold;
            text-align: center; }
            .tickets .ticket .ticket-left .ticket-face .ticket-info .three-part p {
              font-size: 14px; }
          .tickets .ticket .ticket-left .ticket-face .ticket-info .ticket-money {
            text-align: left; }
          .tickets .ticket .ticket-left .ticket-face .ticket-info .ticket-scale {
            text-align: right; }
    .tickets .ticket.used .ticket-bg {
      -ms-filter: grayscale(1);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
      filter: grayscale(1); }
    .tickets .ticket.used img.used {
      display: block; }
    .tickets .ticket.timeout .ticket-bg {
      -ms-filter: grayscale(1);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
      filter: grayscale(1); }
    .tickets .ticket.timeout img.timeout {
      display: block; }
    .tickets .ticket .ticket-right {
      font-size: 12px;
      height: 100%;
      position: relative;
      padding: 10px 10px 10px 5px;
      background-color: #fff;
      float: left;
      width: 97px;
      height: 131px;
      margin-left: -97px;
      border-left: 1px dashed #B4B4B4; }
      .tickets .ticket .ticket-right:before, .tickets .ticket .ticket-right:after {
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: -20px;
        bottom: -20px;
        background-color: #383a47;
        -moz-border-radius: 50%;
        border-radius: 50%;
        z-index: 2; }
      .tickets .ticket .ticket-right:before {
        top: -20px;
        z-index: 2; }
      .tickets .ticket .ticket-right .ticket-status .use-or-not {
        color: #D86C00; }
      .tickets .ticket .ticket-right .ticket-status .back-money {
        color: #D60000; }
      .tickets .ticket .ticket-right .ticket-store {
        color: #686868; }
        .tickets .ticket .ticket-right .ticket-store .store-logo {
          width: 30px;
          height: 30px;
          vertical-align: middle; }
        .tickets .ticket .ticket-right .ticket-store span {
          display: inline-block;
          width: 38px;
          overflow: hidden;
          height: 16px;
          position: relative;
          top: 5px; }
      .tickets .ticket .ticket-right .ticket-validity {
        color: #F4844D; }
        .tickets .ticket .ticket-right .ticket-validity p {
          color: #686868;
          font-size: 10px; }
      .tickets .ticket .ticket-right .more-details {
        position: absolute;
        top: 50%;
        right: 5px;
        width: 12px;
        height: 8px;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -moz-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg); }

/*# sourceMappingURL=yhtic.css.map */
