/* ==========================================================================
   Component: Flex Slider Plugin
 ============================================================================ */
.am-slider a:hover,
.am-slider a:focus {
  outline: none;
}
.am-slides,
.am-control-nav,
.am-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.am-slider {
  margin: 0;
  padding: 0;
}
.am-slider .am-slides:before,
.am-slider .am-slides:after {
  content: " ";
  display: table;
}
.am-slider .am-slides:after {
  clear: both;
}
.am-slider .am-slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.no-js .am-slider .am-slides > li:first-child {
  display: block;
}
.am-slider .am-slides img {
  width: 100%;
  display: block;
}
.am-pauseplay span {
  text-transform: capitalize;
}
.am-slider {
  position: relative;
}
.am-viewport {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.am-slider-carousel li {
  margin-right: 5px;
}
/* Direction Nav */
/* Pause/Play */
.am-control-nav {
  position: absolute;
}
.am-control-nav li {
  display: inline-block;
}
.am-control-thumbs {
  position: static;
  overflow: hidden;
}
.am-control-thumbs img {
  -webkit-transition: opacity .1s;
          transition: opacity .1s;
}
/**
  * Slider Theme: Default
  */
.am-slider-default {
  margin: 0 0 20px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.15)
  /* Direction Nav */
  /* Pause/Play */
  /* Control Nav */
}
.am-slider-default .am-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.loading .am-slider-default .am-viewport {
  max-height: 300px;
}
.am-slider-default .carousel li {
  margin-right: 5px;
}
.am-slider-default .am-direction-nav a {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 36px;
  height: 24px;
  margin: -12px 0 0;
  overflow: hidden;
  opacity: 0.45;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.am-slider-default .am-direction-nav a:before {
  color: #333333;
  display: inline-block;
  font-family: "FontAwesome", sans-serif;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f137";
  font-size: 24px;
}
.am-slider-default .am-direction-nav a.am-next:before {
  content: "\f138";
}
.am-slider-default .am-direction-nav .am-prev {
  left: 10px;
}
.am-slider-default .am-direction-nav .am-next {
  right: 10px;
  text-align: right;
}
.am-slider-default .am-direction-nav .am-disabled {
  opacity: 0!important;
  cursor: default;
}
.am-slider-default:hover .am-prev {
  opacity: 0.7;
  left: 10px;
}
.am-slider-default:hover .am-prev:hover {
  opacity: 1;
}
.am-slider-default:hover .am-next {
  opacity: 0.7;
  right: 10px;
}
.am-slider-default:hover .am-next:hover {
  opacity: 1;
}
.am-slider-default .am-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000000;
}
.am-slider-default .am-pauseplay a::before {
  font-family: "FontAwesome", sans-serif;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  display: inline-block;
  content: "\f04c";
}
.am-slider-default .am-pauseplay a:hover {
  opacity: 1;
}
.am-slider-default .am-pauseplay a.am-play::before {
  content: "\f04b";
}
.am-slider-default .am-slider-desc {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  color: #ffffff;
}
.am-slider-default .am-control-nav {
  width: 100%;
  position: absolute;
  bottom: -15px;
  text-align: center;
}
.am-slider-default .am-control-nav li {
  margin: 0 6px;
  display: inline-block;
}
.am-slider-default .am-control-nav li a {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.am-slider-default .am-control-nav li a:hover {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
}
.am-slider-default .am-control-nav li a.am-active {
  background-color: #000;
  background-color: #0e90d2;
  cursor: default;
}
.am-slider-default .am-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.am-slider-default .am-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.am-slider-default .am-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.am-slider-default .am-control-thumbs img:hover {
  opacity: 1;
}
.am-slider-default .am-control-thumbs .am-active {
  opacity: 1;
  cursor: default;
}
/* ==========================================================================
   Component: Modal Plugin
 ============================================================================ */
.am-modal {
  width: 270px;
  position: fixed;
  display: none;
  z-index: 1110;
  left: 50%;
  margin-left: -135px;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
          transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property: transform, opacity
  /*@media @large-up {
    width: @modal-lg;
    margin-left: -@modal-lg/2;
  }*/
}
.am-modal:focus {
  outline: 0;
}
.am-modal.am-modal-active {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.am-modal.am-modal-out {
  opacity: 0;
  z-index: 1109;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0) scale(0.815);
          transform: translate3d(0, 0, 0) scale(0.815);
}
@media only screen and (min-width:641px) {
  .am-modal {
    width: 540px;
    margin-left: -270px;
  }
}
.am-modal-dialog {
  border-radius: 0;
  background: #f8f8f8;
}
.am-modal-hd {
  padding: 15px 10px 5px 10px;
  font-size: 1.8rem;
  font-weight: 500;
}
.am-modal-hd + .am-modal-bd {
  padding-top: 0;
}
.am-modal-hd .am-close {
  position: absolute;
  top: 4px;
  right: 4px;
}
.am-modal-bd {
  padding: 15px 10px;
  text-align: center;
  border-bottom: 1px solid #dedede;
  border-radius: 2px 2px 0 0;
}
.am-modal-bd + .am-modal-bd {
  margin-top: 5px;
}
.am-modal-prompt-input {
  display: block;
  margin: 5px auto 0 auto;
  border-radius: 0;
  padding: 5px;
  line-height: 1.8rem;
  width: 80%;
  border: 1px solid #dedede;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.am-modal-prompt-input:focus {
  outline: none;
  border-color: #d6d6d6;
}
.am-modal-footer {
  height: 44px;
  overflow: hidden;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.am-modal-btn {
  display: table-cell !important;
  padding: 0 5px;
  height: 44px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-size: 1.6rem;
  line-height: 44px;
  text-align: center;
  color: #0e90d2;
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-right: 1px solid #dedede;
}
.am-modal-btn:first-child {
  border-radius: 0 0 0 0;
}
.am-modal-btn:last-child {
  border-right: none;
  border-radius: 0 0 0 0;
}
.am-modal-btn:first-child:last-child {
  border-radius: 0 0 0 0;
}
.am-modal-btn.am-modal-btn-bold {
  font-weight: 500;
}
.am-modal-btn:active {
  background: #d4d4d4;
}
.am-modal-btn + .am-modal-btn {
  border-left: 1px solid #dedede;
}
.am-modal-no-btn .am-modal-dialog {
  border-radius: 0;
  border-bottom: none;
}
.am-modal-no-btn .am-modal-bd {
  border-bottom: none;
}
.am-modal-no-btn .am-modal-footer {
  display: none;
}
.am-modal-loading .am-modal-bd {
  border-bottom: none;
}
.am-modal-loading .am-icon-spin {
  display: inline-block;
  font-size: 2.4rem;
}
.am-modal-loading .am-modal-footer {
  display: none;
}
.am-modal-actions {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1110;
  width: 100%;
  text-align: center;
  border-radius: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms;
          transition: transform 300ms;
}
.am-modal-actions.am-modal-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.am-modal-actions.am-modal-out {
  z-index: 1109;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.am-modal-actions-group {
  margin: 10px;
}
.am-modal-actions-group .am-list {
  margin: 0;
  border-radius: 0;
}
.am-modal-actions-group .am-list > li {
  margin-bottom: 0;
  border-bottom: none;
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.015);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.015);
}
.am-modal-actions-group .am-list > li > a {
  padding: 1rem;
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.am-modal-actions-group .am-list > li:first-child {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.am-modal-actions-group .am-list > li:last-child {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.am-modal-actions-header {
  padding: 1rem;
  color: #999999;
  font-size: 1.4rem;
}
.am-modal-actions-danger {
  color: #dd514c;
}
.am-modal-actions-danger a {
  color: inherit;
}
.am-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1110;
  background: #fff;
  display: none;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.am-popup.am-modal-active,
.am-popup.am-modal-out {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.am-popup.am-modal-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.am-popup.am-modal-out {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
@media all and (min-width: 630px) and (min-height: 630px) {
  .am-popup {
    width: 630px;
    height: 630px;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -315px;
    -webkit-transform: translateY(1024px);
        -ms-transform: translateY(1024px);
            transform: translateY(1024px);
  }
  .am-popup.am-modal-active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .am-popup.am-modal-out {
    -webkit-transform: translateY(1024px);
        -ms-transform: translateY(1024px);
            transform: translateY(1024px);
  }
}
.am-popup-inner {
  padding-top: 44px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.am-popup-hd {
  position: fixed;
  top: 0;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
}
.am-popup-hd .am-popup-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  margin: 0 30px;
  color: #333333;
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.am-popup-hd .am-close {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  color: #999999;
}
.am-popup-hd .am-close:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #555555;
}
.am-popup-bd {
  padding: 15px;
  background: #f8f8f8;
  color: #555555;
}








/**
  * Slider Theme: a1
  */
.am-slider-a1 {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
  /* Control Nav */
}
.am-slider-a1 .am-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.loading .am-slider-a1 .am-viewport {
  max-height: 300px;
}
.am-slider-a1 .am-control-nav {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center;
  line-height: 0;
}
.am-slider-a1 .am-control-nav li {
  margin: 0 6px;
  display: inline-block;
}
.am-slider-a1 .am-control-nav li a {
  width: 8px;
  height: 8px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.am-slider-a1 .am-control-nav li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.am-slider-a1 .am-control-nav li a.am-active {
  background-color: #0e90d2;
  cursor: default;
}
.am-slider-a1 .am-direction-nav,
.am-slider-a1 .am-pauseplay {
  display: none;
}