*{
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
  box-sizing:border-box;
}
/*初始化内外边距*/
body,div,dl,dd,h1,h2,h3,h4,h5,h6,p,button{margin:0;}
input,ol,ul{margin: 0;padding: 0;}
html,body{height: 100%;}
.keep{overflow: hidden;}
.container{
  width:100%;
  max-width:640px;
  margin: 0 auto;
}
/*clearfix*/
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
.deg90 img{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}.deg180 img{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}.deg270 img{
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}.deg360 img{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.deg img{
  -webkit-transform:rotate(70deg);
          transform:rotate(70deg);
}
.n-d input{-webkit-appearance:none;border:none;border-radius:none;outline:none;box-shadow:none;}
ul li{
  list-style: none;
}
/*link a*/
a{text-decoration: none;color: inherit;}
/*default btn*/
.white-orange{color: #fff;border-radius: 3px ;border: 1px solid #f36303;background-color: #f36303;}
.dark-white{color: #322323;border-radius: 3px ;border: 1px solid #C8C8C8;background-color: #fff;}
/*none border*/
.nborder{border: none !important;}
/*圆角*/
.brl{border-top-left-radius: 30px;border-bottom-left-radius: 30px;}
.brr{border-top-right-radius: 30px;border-bottom-right-radius: 30px;}
/*边距/布局*/
.container{
  margin: 0 auto;
}
.pd10{
  padding-left: 10px;
  padding-right: 10px;
}
/*nav*/
.nav{
  font-size: 18px;
  padding: 8px 0;
}
/*border*/
.bb1{border: 1px solid;}
/*class-color*/
.red{
  color: red;
}
.green{
  color: green;
}
.fff{
  color: #fff;
  border-color: #fff;
}
.orange{
  color: #F36303;
  border-color: #f36303;
}
.bgdark{
    background-color: #DDDEE3;
    height: 15px;
}
.darkgray{
  color: #909090;
}
.darkblack{color: #3F3F3F;}
.darkred{
  color: #D60000;
}
.skyblue{color:#2FB2E8;}
.reseda{
  color: #66CC00;
}
/*class-font-weight*/
.fbold{
  font-weight: bold;
}
.fnormal{
  font-weight: normal;
}
.pullright{
  float: right;
  text-align: right;
}
.left{
  float: left;
}
.right{
  float: right;
}
.al{
  text-align: left;
}
.ar{
  text-align: right;
}

/*class-display*/
.hidden{
  display: none;
}
.show{
  display: block;
}
.disabled-btn{
  opacity: 0.4;
}
.warning{color: red;}
/*line*/
.line{
  height: 1px;
  margin-top: 6px;
  background-color: #cfcfcf;
  width: 100%;
}
.line0{
  height: 1px;
  background-color: #cfcfcf;
  width: 100%;
}
/*gamp*/
.gamp{clear: both;height: 15px;background-color: #EFEFF4;}
.gampt{clear: both; height: 15px; background-color: #EFEFF4;border-top: 1px solid #EAEAEA;}
.gampb{clear: both; height: 15px; background-color: #EFEFF4;border-bottom: 1px solid #EAEAEA;}
.gamptb{clear: both;height: 15px;background-color:  #EFEFF4;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #EAEAEA;}
.gampword{
  clear:both;
  height:32px;
  line-height:30px;
  color:#A1A1A1;
  border-top:1px #AEAEAE solid;
  border-bottom:1px #AEAEAE solid;
  font-size:12px;
  padding-left:10px;
}
.btn{-webkit-appearance:button;-moz-appearance:button;-o-appearance:button;float: left;}
.border{border:1px solid ;}
/*border 1px div*/
div{border-width:0.5px;}
.w100{width: 80%;}
.w50{width: 50%;}
.w30{width: 33.3333%;}
/*text-align center justify*/
.tc{text-align: center;}
div.justify {
    text-align: justify;
    /*border: 1px solid red;*/
    width: 110px;
  }
  div.justify > span{ display: inline-block;padding-left: 100%; }

/*media(img-text-description)*/
.media {  margin-top: 15px;}
.media:active {    background-color: #cfcfcf;}
.media:first-child {  margin-top: 0;}
.media,.media-body {  overflow: hidden;  zoom: 1;}
.media-body {  width: 10000px;  position: relative;}
.media-object {  display: block;  width: 75px;  height: 75px;}
.media-right img {    height: 18px;    width: 12px;}
.media-right,.media > .pull-right {  padding-left: 10px;}
.media-left,.media > .pull-left {  padding-right: 10px;}
.media-left,.media-right,.media-body {  display: table-cell;  vertical-align: top;}
.media-middle {  vertical-align: middle;}
.media-bottom {  vertical-align: bottom;}
.media-heading {  margin-top: 0;  margin-bottom: 5px;}
.media-list {  padding-left: 0;  list-style: none;}
  .lrs{line-height: 45px;position: relative;}
  .lrs:active{background-color: #cfcfcf;}
  .lrsl{float: left;width: 100px;top: 50%;position: absolute;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
  .lrsm{margin: 0 0px 0 100px; }
  .lrsm span{float: right;}
  .lrsm .lrsi img{width: 10px;position: relative;top:3px;margin-left: 5px;  }
/*图片更多 右侧*/


/*用户自定义滑动开关*/

/*.swc_user { float: left; min-width: 150px; width: 33.33%; padding: 25px 0; min-height: 100px;}*/
/*.swc_user{position: relative;}*/
.swc_user .checkbox{width: 55px;height: 30px;top:8px;}
.swc_user .checkbox input {position: absolute;left: 0;top: 0;width: 55px;height: 30px;z-index: 5;opacity: 0;cursor: pointer;}
.swc_user input[type="checkbox"], .swc_user input[type="radio"] {box-sizing: border-box;padding: 0;}
.swc_user .checkbox input:checked + label { background: #f36303;}
.swc_user .checkbox input:checked + label:after {left: 28px;}
.swc_user .checkbox label {width: 55px;height: 29px;background: #ccc;position: relative;display: inline-block;border-radius: 46px;transition: 0.4s;}
.swc_user .checkbox label:after {content: '';position: absolute;width: 50px;height: 50px;border-radius: 100%;left: 2px;top: -5px;z-index: 2;
background: #fff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);transition: 0.4s;}
.swc_user .checkbox {    position: relative;    display: inline-block;}
.swc_user .checkbox label:after {    top: 2px;    width: 25px;    height: 25px;}
.swc_info {color: #A9A9A9;padding-right: 10px;transition: all 1s linear;}
/*临时层*/
.load-area{position: fixed;top: 0;left: 0;width:100%;height:100%;overflow: auto;background-color: #fff;z-index: 200;-webkit-overflow-scrolling:touch;background-color: #EFEFF4;}


/*user-alert 用户自定义弹窗*/
.backdrop,.mask{background-color: rgba(0,0,0,0.5);position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;}
.fixlayer{position: fixed;top: 0;left: 0;width: 100%;height: 100%;overflow: auto;z-index: 101;background-color: #fff;-webkit-overflow-scrolling:touch;}
#user_alert_parent{display: none;}
.user-alert{position: fixed;height: 100%;width:100%;top:0;left:0;background: inherit;background-color: rgba(0,0,0,0.5);z-index: 999;}
.user-alert-content{position: fixed;top: 50%;left: 50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color: #fff;
  z-index: 1000;border: 0.5px solid rgba(0,0,0,0.3);border-radius: 8px; min-width: 250px;min-height: 60px;text-align: center;}
.user-alert-content p{padding: 20px 20px 10px 20px;line-height: 20px;border-bottom: 1px solid #cfcfcf;font-size: 16px;}
#user_btn_cancel,#user_btn_ensure{display: inline-block;text-align: center;line-height: 40px;font-size: 16px;}
#user_btn_cancel{display: none;border-right: 1px solid #cfcfcf;}
.user-ensure #user_btn_cancel{display: inline-block;}
.user-alert-btn a{width: 100%;color: #007AFF}
.user-ensure a{width: 50%;float: left;display: inline-block;}
/*.trans-opacity.user-alert{-webkit-animation: transopacity 0.2s linear;animation: transopacity 0.2s linear;}*/
/*.trans-opacity .user-alert-content{-webkit-animation: transopacity 0.3s linear;animation: transopacity 0.3s linear;}*/
@-webkit-keyframes transopacity{
    from {opacity: 0;}
    to {opacity: 0.5;}
}
@keyframes transopacity{
    from {opacity: 0;}
    to {opacity: 0.5;}
}

/*@keyframes all{
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: initial
}
*/
/*navbar*/
header{width: 100%;height: 50px;max-width: 640px;margin: 0 auto;}
nav{height: 50px;width: 100%;position: fixed;top:0;max-width:640px;background-color: #EFEFF4;border-bottom: 1px solid #B2B2B2;z-index: 1000;}
.wing-wrap{width: 100%;height: 100%;float: left;}
.wing-main{height: 100%;line-height: 50px;font-size: 1.6rem;font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0  6px;}
.wing-left{float: left;height:100%;position: relative;margin-left: -100%;}
.wing-left:after{content: '';position: absolute;right: 0;top: 10px;height: 30px;width: 1px;background-color: #D8D8D8;}
.wing-right{height:100%;float: left;position: relative;}
.wing-left img{width: 15px;height: 30px;position: relative;top: 10px;left:17px;}
.nav-jump {width: 50px;height: 100%;float: left;}
.nav-add img{width: 24px;height: 24px;position: relative;top: 13px;left:13px;}
.nav-menu {width: 50px;height: 100%;float: left;}
.nav-menu img{width: 24px;height: 24px;position: relative;top: 13px;left:13px;}
.wing-left:active,.wing-right .right-one:active,.wing-right .right-two:active{background-color: #cfcfcf;}

.wing .wing-main{margin: 0 50px 0 50px;}
.wing .wing-left{width:50px;margin-left: -100%;}
.wing .wing-right{width:50px;margin-left: -50px;}

.two.wing .wing-main{margin: 0 100px 0 50px;}
.two.wing .wing-left{margin-left: -100%;}
.two.wing .wing-right{width: 100px;margin-left: -100px;}
