@charset "utf-8";
/* CSS Document */

     *{margin:0; padding:0;}
   html,body{height:100%;width:100%;overflow:hidden;}
   ul{list-style:none;}
   .clearth{clear:both;}
   .shijue{ background:url(../images/sj_bg.jpg) no-repeat; width:100%; height:100%; background-size:cover;}
   .wd_bg{ width:90%; height:auto; /*background:url(images/s1.jpg) no-repeat; background-size:cover;*/ margin:0 auto; background:#ffffff; border-radius:10px; /*margin-top:1%;*/}
   .ss{width:80%; height:auto; margin:0 auto; padding-top:5%; padding-bottom:5%;}
   .ss img{ display:block; width:100%; height:100%;}
   .wd_info{ width:90%; height:auto; margin:0 auto; margin-top:1%;}
   .wd_info img{display:block; width:100%; height:100%;}




