body{	background-color: #DDDEE3;}
.none{	padding: 0 10px;}
.media-right img{height: 14px;width: 10px;}
.nocard{border-bottom: 1px solid #EFEFF1;}
.nocard img{width: 100%;padding: 10%;}
.nocard h3{text-align: center;border-bottom: 1px solid #D4D4D4;color: #AFAFAF;padding-bottom: 1em;}
.none p{	padding-top: 1em;	text-indent: 2px;	color: #414141;}
.own{padding: 20px 10px 10px 10px;}
.card{border-radius: 5px;border:1px solid #C8C9CD;margin-bottom: 10px;}
.media{padding:10px 10px 5px 10px;}
.media .media-left img{border-radius: 5px;padding: 2px;background-color: #fff;border:1px solid #EFEFEF;}
.cardstatus{padding: 5px 10px 5px 10px;font-size: 14px;}
.media-body p:last-child{position: absolute;	bottom: 0;	color: #686868;}
.gapformember{border-bottom: 1px solid #686868;position: relative;height: 22px;margin-bottom: 20px;margin-top: -10px;}
.gapformember p{position: absolute;left: 50%;top:0%;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%);background-color: #DDDEE3;padding: 0 5px;color: #686868;font-size: 14px;}
.description{overflow: hidden;}
.description p:nth-child(1){height: 20px;overflow: hidden;}



.normal{background-color: #fff;}
/*.normal .media-body p:last-child{color: #686868;}*/

.normal .cardstatus{border-top: 1px solid #F1F1F1;color: #686868;}
.normal p{color: #3F3F3F;}
.card p:nth-child(2){font-size: 20px;font-weight: bold;}

.disablecard{background-color: #EFEFEF;}
/*.disablecard .media-body p:last-child{color: #686868;}*/
.disablecard .cardstatus{border-top:1px solid #E9E9E9;}
.disablecard p{color: #686868;}
.disablecard .cardstatus{color: #000;}
.disablecard .media-left img{-webkit-filter:grayscale(0.9);filter:grayscale(0.9);}

.tier{margin: 20px 10px 20px 10px;background-color: #fff;border-radius:  5px;}
.media-body{max-width: 35%;}

.card-qr{padding: 15px 0 15px 0;text-align: center;}
.card-qr img:last-child{padding: 50px 20% 0 20%;}
.card-qr img{max-width: 100%;}
.card-qr p{height: 30px;line-height: 30px;font-size: 14px;}
.name-phone{padding: 10px;line-height: 22px;border-bottom: 1px solid #F1F1F1;}
.name-phone p{font-size: 16px;color: #474747;}
.cardnum{padding: 10px;border-bottom: 1px solid #F1F1F1;}
.cardnum p:nth-child(2){color: #3F3F3F;font-size: 20px;font-weight: bold;}
.cardnum p:nth-child(3){color: #6F6F6F;}

.unpassed-reason p:nth-child(odd){color: #686868;padding-top: 10px;}
.unpassed-reason p:nth-child(even){color: #3f3f3f;font-weight: bold;padding-top: 2px;}
.unpassed-reason p:nth-child(3){padding-top: 18px;}
.tryagain,.connectstore{position: fixed;bottom:0;width:100%;max-width:640px;background-color: #fff;height: 50px;line-height: 38px;padding: 5px 10px;border-top:1px solid #ADADAD;}
.tryagain a,.connectstore a{text-decoration: none;text-align:center;width:100%;background-color: #f36303;display: inline-block;border-radius: 5px;color: #fff;font-size: 18px;}

.cardshade{position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);top: 0;left: 0;z-index: 10;}
.reapply {background-color: #FFF2BB;font-size: 14px;height: 40px;}
.reapply p{height: 30px;line-height: 40px;}
.reapply p span{background-color: #f36303;border-radius: 50%;height: 20px;width: 20px;display:inline-block;position: relative;color: #fff;top: 5px;margin-right: 4px;}
.reapply p span:before{position: absolute;left: 3px;top: -1px;content: "!";-webkit-transform:translateX(-50%);transform:translateX(-50%);line-height: 25px;}
.reapply p a{text-decoration: none;color: #3F3F40;    text-indent: 1em;    display: inline-block;    height: 40px;    width: 100%;}
.reapply p a img{height: 14px;width: 10px;position: relative;top: 2px;margin-left: 4px;}

/*会员申请信息*/

.checkingstatus  h3{border-bottom: none;padding-bottom: 0;color: #3F3F3F;}
.checkingstatus  p{color:#3E3E3C; border-bottom: 1px solid #D4D4D4; padding-top: 5px !important;text-align: center;padding-bottom: 1em;}
.applyinfo .storeinfo{background-color: #fff; height: 48px;padding: 4px 10px;position:relative;overflow: hidden;border-bottom: 1px solid #cfcfcf;}
.applyinfo .storeinfo img{width: 40px;height: 40px;float: left;display: block;padding: 2px;border-radius: 3px;border:1px solid #efefef;}
.applyinfo .storeinfo .storename{margin-right: 95px;padding-left: 44px;line-height: 40px;font-size: 16px;font-weight: bold;}
.applyinfo .storeinfo a{position: absolute; top: 0; right: 10px;padding-left: 8px; text-decoration: none;color: #000;height: 100%;line-height: 48px;}
.applyinfo .storeinfo a img{height: 18px;width: 12px;float: right;top: 15px;position: relative;margin-left: 6px;border:none;padding: 0;}
.applyerinfo{border-top:1px solid #F0F0F0;}
.applyerinfo ul li{height: 28px;line-height: 28px;}
.applyerinfo ul li:nth-child(even){background-color: red;height: 35px;line-height: 35px;background-color: #fff;}
.applyerinfo {background-color: #F7F7F7;}
.applyerinfo span{display: inline-block;float: left;width: 75px;text-align: right;}
.applyerinfo p{padding-left: 85px;padding-top: 0;color: #515151;}
.checkingstatus .nocard{display: none;}
.Statuspassed .passed,.Statuscheckinginfo .checkinginfo,.Statusunpassed .unpassed{display: block;}
.tryagain{display: none;}.Statusunpassed .tryagain{display: block;}
.connectstore {display:none;}.Statuspassed .connectstore,.Statuscheckinginfo .connectstore{display: block;}

/*新建会员*/
body{background-color: #DDDEE3;}
.container{width: 100%;max-width:640px;z-index: 1;}
select{-webkit-appearance:none; border:1px solid #fff;min-width: 190px;height: 46px;padding-left: 10px;font-size: 16px;direction: rtl;width: 100%;color: #4E5768;}
.items{clear: both;}
.items .items-title{width: 80px;float: left;text-align: left;font-size: 16px;font-weight: bold;color: #121212;}
.items .items-content{float: right;position: relative;}
.country{position: relative;}
.country span{float: right;position: relative;top: 20px;height: 0;width: 0;border-left:10px solid #fff;border-top: 10px solid #000;border-right:10px solid #fff;}
.auth-code .items-title {width: 50px;}
.auth-code .items-content input {width: 140px;padding-left: 10px;}
.auth-code  p{float: right; color: #696969;font-size: 16px;font-weight: bold;}
.auth-code  p a{text-decoration: none; color: #696969;height: 48px;display: inline-block;color: #f36303;}
.h40 {height: 40px;}
.items {height: 50px;line-height: 50px;border-bottom: 1px solid #F1F1F1;}
.items input{-webkit-appearance:none; height: 40px;border: 1px solid #fff;color: #4E5768;font-size: 16px;text-align: right;width: 100%;position: relative;top: 0px;line-height: 40px;padding-top: 5px; direction: ltr; padding-right: 10px;}
.nextStep {height: 50px;border-bottom: 1px solid #cfcfcf;}
.addNew a,.nextStep a{display: inline-block;width: 100%;height: 49px;line-height: 50px;text-align: center;text-decoration: none;color: #f36303;font-weight: bold;}
.addNew{text-align: center;border-bottom: 1px solid #cfcfcf;}
.addNew a{width: 50%;text-decoration: none;}
.clause{background-color: #fff;border-top: 1px solid #cfcfcf;border-bottom: 1px solid #cfcfcf;padding-top: 10px;padding-bottom: 15px; font-size: 14px;line-height: 16px;position: relative;}
.clause a{color:#5EA6EC;float: right;position: relative;padding-right: 25px;line-height: 30px;text-decoration: none;color: #686868;}
.clause a img{height: 18px;width: 12px;position: absolute;top: 5px;right: 10px;}
.two{background-color: #fff;}
.threeS {background-color: #eaeaea;}
.succese-title {position: relative;}
.succese-title img{width: 100%;height: auto;}
.succese-title span{position: relative;display: block;width: 50px;height: 50px;margin-bottom: 20px;}
.succese-title p{position: absolute;width: 100%;text-align: center; bottom: 10px;font-size: 20px;color:#fff;letter-spacing: 2px;    text-shadow: 3px 2px 3px rgba(243,99,3,0.7);font-weight: bold;}
.succese-notes {padding-left: 10px;}
.succese-notes h3{color: #3F3F41;border-bottom: 1px solid #E7E6EC;padding-top: 5px;padding-bottom: 5px;}
.succese-notes p {color: #48484A;line-height: 24px;}
.succese-notes p:nth-child(2){border-top: 1px solid #D3D2D7;padding-top: 8px;}
.succese-notes p span {width: 16px;height: 16px;background-color: #f36303;border-radius: 50%;-webkit-border-radius:50%;display: inline-block;position:relative;padding: 3px;margin-right: 10px;top: 3px;}
.succese-notes p span span{width: 8px;height: 8px;background-color: #fff;position:absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.address{border-bottom: none;}
.address input{padding-right: 25px;}
.address img{position: absolute;float: right;top: 12px;right: 10px;width: 12px;height: 18px;}
.gap{height: 40px;background-color: #E6E6E6;}
.gamptb{clear: both; height: 15px; background-color: #E6E6E6; border-top: 1px solid #cfcfcf;border-bottom: 1px solid #cfcfcf;}
.gampt{clear: both; height: 15px; background-color: #E6E6E6; border-top: 1px solid #cfcfcf;}
.gampb{clear: both; height: 15px; background-color: #E6E6E6; border-bottom: 1px solid #cfcfcf;}
.clause span{position: relative;top: 4px; height: 20px;width: 20px;border:1px solid  #cfcfcf;display: inline-block;border-radius: 50%;margin-right: 5px;}
.checking span{background-image:url(../img/iconfont-check.svg);-webkit-background-size: contain;background-color: #f36303;border:1px solid #f36303;
background-size: contain;}
.h60{height: 60px;}
.h35{height: 35px;}
.backdrop{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9;background-color: rgba(0,0,0,0.5);}
.layer{position: fixed;top: 50%;left: 50%;z-index: 11;background-color: #fff;padding: 10px;text-align: justify;max-height: 70%;width: 80%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);overflow: scroll;border-top:15px solid #fff;}
.clause-end{text-align: center;padding-top: 20px;}
.removelayer{text-decoration: none;color: #f36303;}
.layer-footer{height: 35px;}
.clause-details{font-size: 14px;line-height: 18px;}
.items{color: red;}