@charset "utf-8";
/* CSS Document */

*{margin:0 auto; padding:0; border:0px;}
body{font-size:12px; font-size:1.2rem ; /* 12÷10=1.2 */ font-family:"Microsoft YaHei";}
p{font-size:14px; font-size:1.4rem;}
a,ul,em,ol{text-decoration:noen; list-style:none; outline:none; border:0px; font-style:normal;}
.box_div{max-width:720px; height:auto; margin:0 auto;}
img{max-width:100%; border:0px none; margin:0px; padding:0px; height:auto;}
.clearlist{ clear:both;}
/*头部*/
header{width: 100%;
min-width: 320px;
background-color: #2e3642;
/*height:80px;*/
padding-top:2%;
padding-bottom:2%;
}
.hd_left{width:5%; float:left; margin-left:2%;  position:relative; margin-top:1%;}
.hd_left a em{z-index: 10;
background-color: #E60012;
border-radius: 50%;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);display: block;
width: 7px;
height: 7px;
position: absolute;
right: -9px;
top: -6px;}

.hd_mid{width:40%; float:left; margin-left:20%; }
.hd_mid img{   max-width: 100%;
    border: 0px none;
    margin: 0px;
    padding: 0px;}
.hd_right{width:5%; float:right; margin-right:2%;}
.hd_right img{width:100%;}

/*内容*/
.conetent{width:100%; height:auto; margin:0 auto;}
.slideBox{position:relative;overflow:hidden;}
.bd{position:relative;z-index:0;}
.slideBox .hd{position:absolute;left:50%;bottom:5%;text-align:center;margin-left:-46px;}
.slideBox .hd ul li{width:14px;height:14px;background:#ffffff;border-radius:105px;display:block;margin:0px 6px;display:inline-block;text-indent:-9999px;cursor:pointer;}
.slideBox .hd ul li.on{background:#d70a50}

/*案例*/
.slideBox .hd1{position:absolute;left:15%;bottom:5%;text-align:center;margin-left:-46px;}
.slideBox .hd1 ul li{width:10px;height:10px;background:#d0d0d0;border-radius:105px;display:block;margin:0px 6px;display:inline-block;text-indent:-9999px;cursor:pointer;}
.slideBox .hd1 ul li.on{background:#d70a50;}

/*案例2*/
.bd1{position:relative;z-index:0;}
.bd1 ul li a{ display:block; float:left; width:50%; }
.bd1 ul li a:nth-child(2){ text-align:right;}
/*.bd1 ul li p:nth-child(1){margin-left:0;}*/
.slideBox .hd2{position:absolute;left:50%;bottom:0;text-align:center;margin-left:-46px;}
.slideBox .hd2 ul li{width:10px;height:10px;background:#d0d0d0;border-radius:105px;display:block;margin:0px 6px;display:inline-block;text-indent:-9999px;cursor:pointer;}
.slideBox .hd2 ul li.on{background:#d70a50;}


/*菜单*/

.navbar{width:100%;text-align:center;background-color:#000000;}
		.navbar ul{width: 100%;}
		.navbar ul li{width:21%;margin: 2%;float: left;background-color:#4f4b4a;border-radius: 5px; cursor:pointer;}
		.navbar ul li a{color:#FFF; text-decoration:none;}
		.onn{background:#cfa972 !important; display:block;border-radius: 5px;}
		/*.navbar ul li h3,.navbar ul li p{color:#fff;}*/
		.navbar ul li p{font-size: 1rem;}
		.active{background-color:#cfa972 !important; display:block;}
		.navbar ul li h3 a{ color:#FFF; text-decoration:none;}


/*安扭*/
.anjiu{ width:100%; height:auto; background:#f1eae3;}
.anjiu ul{ padding-top:4%;}
.anjiu ul li{float:left; width:15%; margin:5%;}
.anjiu ul li a{text-decoration:none; color:#000;}
.anjiu ul li a p{ font-size:1rem; text-align:center;}



.anjiu1{ width:100%; height:auto; background:#f1eae3;}
.anjiu1 ul{ padding-top:4%;}
.anjiu1 ul li{float:left; width:17%; margin:4%;}
.anjiu1 ul li a{text-decoration:none; color:#000;}
.anjiu1 ul li a p{ font-size:1rem; text-align:center;}

/*案例*/
.anli{width:100%; background:#cfa972; color:#FFF;}
.anli1{width:90%; margin:0 auto; font-size:1rem; font-weight:600; padding:1% 0 1% 0 ;}
.anli1 span{ display:block; float:right;}
.anli1 span a{color:#FFF; text-decoration:none;}
.total{width:100%; height:auto;/* margin:3% auto;*/ margin-top:2%;}
.anli2{width:90%; margin:0 auto;}
.totals{ width:100%; height:auto; margin:3% auto;}

/*专家*/
.total1{width:100%; height:auto; margin:0 auto; background:#2e3642; padding-top:2%; padding-bottom:2%;}
.bd6 ul li ul li{float:left; width:30%; margin-left:3%;}
.bd6 ul li p{color:#FFF; text-align:center; padding-top:2%;}

/*专家预约*/
.yuyue{ width:100%; height:auto; margin:0 auto; background:#f1eae3; padding-bottom:2%;}
.yuyue_top{width:100%; margin:0 auto; text-align:center; padding-top:3%;}
.yuyue_top p{color:#735829; font-size:1.4rem; font-weight:bold;}
.yuyue_mid{width:60%; height:auto; margin:0 auto; font-size:1rem; padding-top:2%;}
.yuyue_mid ul li{ margin-top:3%;}
.yuyue_mid input{width:70%; height:5%; border:1px solid #e0dfde; margin-left:2%;}
.btn{width:56%; margin:0 auto; display:block; text-align:left; padding-top:2%;}
.btn span{padding-top:1%; font-size:0.8rem;}
/*电话*/
.total6{width:100%; height:auto; margin:0 auto;}
.phone{width:100%; margin-top:1.8%; text-align:center;}
.map{width:100%; position:relative; display:block;}
.map1{position:absolute; left:45%; top:65%; display:block; }
.map1 a{display:block; width:60%; }
/*信息*/
.info{width:100%; height:auto; margin:0 auto;}
.info_qq{width:100%; height:auto; margin:0 auto;}
.info_qq ul li{float:left; background:#333333; width:32%; padding-top:3%; padding-bottom:3%;}
.info_qq ul li span{color:#fceed0; font-size:1.5rem;}
.info_qq ul li:nth-child(2){margin-left:0.5%; padding-bottom:4.7%;}
.info_qq ul li:nth-child(3){margin-left:0.5%;}
.info_qq ul li img{position: relative;padding:5px;float:left; width:16%; padding-left:10%;}
.info_qq ul li span{position: relative;
			vertical-align: middle;
			line-height: 30px;
			clear: both; padding-top:8%;}
.info_qq ul li a{text-decoration:none;}
.info_btm{ width:100%; height:auto; margin:0 auto; }
.info_btm ul li{float:left; background:#cfa972 !important; width:32%; padding-top:3%; padding-bottom:3%;}
.info_btm ul li span{color:#fceed0; font-size:1.5rem;}
.info_btm ul li:nth-child(2){margin-left:0.5%; position:relative;}
.zxzx em{z-index: 10;
background-color: #bb2028;
border-radius: 50%;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);display: block;
width: 25%;
height: 50%;
position: absolute;
right: -22px;
top: -6px; font-size:1rem; color:#FFF; text-align:center; border:3px solid #FFF;}
.info_btm ul li:nth-child(3){margin-left:0.5%;}
.info_btm ul li img{position: relative;padding:5px;float:left; width:16%; padding-left:10%;}
.info_btm ul li span{position: relative;
			vertical-align: middle;
			line-height: 30px;
			clear: both; padding-top:8%;}
.info_btm ul li a{text-decoration:none;}


footer{width:100%; height:auto; margin:0 auto;}
.footer_cler{width:80%; height:auto; margin:0 auto; padding-top:3%;}
.footer_cler p{font-size:0.8rem; text-align:center;}
.footer_cler p a{text-decoration:none; color:#000;}
.footer_cler p a em{color:#d70a50; text-decoration:none;}



@media screen and (min-width:320px) and (max-width:900px) {
/*header{height:40px;}*/
	}



@media (max-width:320px){html {font-size:62.5%!important;}}
@media (min-width:320px){html {font-size:62.5%!important;}}
@media (min-width:360px){html {font-size:70%!important;}}
@media (min-width:460px){html {font-size:90%!important;}}
@media (min-width:480px){html {font-size:92%!important;}}
@media (min-width:540px){html {font-size:105%!important;}}
@media (min-width:560px){html {font-size:107%!important;}}
@media (min-width:640px){html {font-size:125%!important;}}
