@charset "utf-8";
//rem-base
@import './build/font-rem-base';


@import "./build/ysj-head";
@import './build/slider-ysj';
@import './build/service-box';


@import './build/about';
// @import './build/cooperation';
// @import './build/film-resource';
// @import './build/make-star';
// @import './build/partner';


@import './build/ysj-footer';