@charset "utf-8";
@import './build/font-rem-base';
@import './build/@font-face';
@import "./build/ysj-head";
@import './build/slider-ysj';

@import './build/service-box';

@import './build/download';


@import './build/ysj-footer';
