.nav ul{
	width: 100%;
	clear: both;
	display:box;
	display:-moz-box;
    display:-webkit-box;
    text-align: center;
}
.select-show-area{
	background-color: #FEF9F5;
}
.select li{
	border-bottom: 1px solid #cfcfcf;
	position: relative;
	padding-bottom: 5px;
}
.select li span{
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	bottom: 3px;
	width: 50%;
	height: 2px;
	background-color: #F46302;
}
.average span{
	display: none;
}
.nav-open span{
	display: inline-block;
}
.nav-open{
	color: #F46302;
	font-weight: bold;
}
.nav{
	padding-bottom: 0;
}
.nav ul li:last{
	border-right: 1px solid #cfcfcf;
}
.vertical{
	float: left;
}
.factor{
	/*padding-top: 8px;*/
	
		color:red;
	
}
.select li,.factor li{
	width: 25%;
}
.factor a{
	line-height: 30px;
	display: block;
	height: 30px;
	text-decoration: none;
	color: #f27302;
}
.select-factor{
	display: none;
}
.media-object{
	width: 72px;
	height: 60px;
}
.media-right img{
	height: 18px;
	width: 12px;
}
.media{
	margin-top: 0;
	padding: 4px 10px;
	border-bottom: 1px solid #C9C9C9;
}
.combo-details li:last-child .media,.single-details li:last-child .media{
	border-bottom: none;
}
.title{
	padding:10px;
	border-bottom: 1px solid #cfcfcf;
	font-weight: bold;
}
.title a{
	text-decoration: none;
}
.title a:first-child{
	color: #000;
}
.title span{
	padding-left: 8px;
	font-weight: normal;
}
.title a:last-child{
	float: right;
	font-weight: normal;
}
.media:active{
	background-color: #cfcfcf;
}
.combo-details,.single-details{
	padding: 0 0 0 10px;
	border-bottom: 1px solid #cfcfcf;
}

.media-body p{
	width: 100%;
	height: 19px;
	/*white-space:nowrap;*/
	/*overflow:hidden;*/
	/*text-overflow:ellipsis;*/
}
.vochers-description p:first-child{
	font-weight: bold;
}
.money{
	color: #f27302;
	font-weight: bold;
}
.money s{
	font-weight: normal;
	color：#cfcfcf;
}
.money used,.money unused{
	font-weight: normal;
}
.qrcore{
	position: relative;
}
.qrcore img{
	/*width: 150px;
	height: 150px;*/
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.qrcore p{
	text-align: center;
}
.rule{
	padding: 0 10px;
}
.rule h3{
	margin: 6px 0;
}
.rule .details ul{
	padding-left: 25px;
}
.rule .details ul li{
	list-style-type: disc;
	font-size: 14px;
}
.chei{
	color: #696969;
}
.vouchers-status{
	text-align: center;
	background-color: #F5834D;
	height: 50px;
	color: #fff;
}
.posit{
	position: relative;
	top: -7px;
}
.position{
	position: relative;
	bottom: 1px;
}
.dark-foot{
	position: relative;
	background-color: #DDDEE3;
	height: 30px;
}
.dark-foot img{
	position: absolute;
	top: -15px;
	width: 15px;
	height: 15px;
}
.dark-foot img:nth-child(1){
	/*left: -10px;*/
	transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.dark-foot img:nth-child(2){
	right: -0px;
}
.backdrop{
	position: fixed;
	top: 53px;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}
.layer{
	position: absolute;
	top: 53px;
	width: 100%;
	background-color: #fff;
}
.layer-title{
	display: none;
}
.voucher-specialty{
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
}
.voucher-specialty ul li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-right: 8px;
}
.voucher-specialty ul li img{
	height: 20px;
	width: 20px;
}
.voucher-name-status{
	float: left;
	/*width: 100%;*/
}


.voucher-name{
	font-size: 16px;
	font-weight: bold;
}
.vouchers-list{
	/*padding-left: 10px;*/
}
.voucher-title{
	padding: 5px 10px;
	border-bottom: 1px solid #cfcfcf;
}
.voucher-title-name {
	float: left;
}
.voucher-title-name p{
	font-size: 14px;
	color: #686868;
}
.voucher-title p span{

}
.voucher-reimburse{
	position: relative;
	height: 42px;
	display: table-cell;
	vertical-align: middle;
	float: right;
}
.voucher-reimburse .btn-reimburse{
	margin-top: 12px;
	padding: 3px 6px;
	font-size: 14px;
	text-decoration: none;
	float: right;
	background: #5B5B5B;
	color: #fff;
	border-radius: 5px;
}
.voucher-reimburse .btn-seemore{
	position: relative;
    margin-top: 12px;
    /* padding: 3px 6px; */
    font-size: 14px;
    text-decoration: none;
    float: right;
    border-radius: 5px;
    padding-right: 15px;
}
.voucher-reimburse img{
    position: absolute;
    margin-top: 1px;
    height: 18px;
    width: 12px;
    right: 0;
}

.vouchers-list ul li{
	padding-left: 10px;
	/*border-bottom: 1px solid #cfcfcf;*/
}
.voucher-box{
	padding: 5px 10px 5px 0;
	border-bottom: 1px solid #cfcfcf;
}
.combo-combo-vouchers .voucher-box:last-child.single-vouchers .voucher-box:last-child{
	border-bottom: none;
}
.gampt{
	margin-top: -1px;
}
.combo-reimburseing{
	text-decoration: none;
}
.store-details{
	
}
.store-name-distance{
	padding: 10px;
	font-weight: bold;
}
.store-name-distance p span{
	font-size: 14px;
	float: right;
}
.store-address-phone{
	position: relative;
	padding-left:  10px;
}
.store-address-phone .text{
	float: left;
	padding-right: 60px;
	border-bottom: 1px solid #cfcfcf;

}
.make-phonecall{
	position: absolute;
    right: 10px;
    height: 90%;
    border-left: 1px solid #cfcfcf;
}
.make-phonecall a{
	display: inline-block;
	height: 100%;
	width: 100%;
}
.make-phonecall img{
	position: relative;
	width: 30px;
	height: 30px;
	padding-left: 10px;
	top: 50%;
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.more-store{
	padding: 5px 10px;
	border-bottom: 1px solid #cfcfcf;
}
.pngmore a{
	display: block;
	text-decoration: none;
}
.pngmore img{
	float: right;
	width: 12px;
	height: 18px;
}
.voucher-bill-details{
	padding-left: 10px;
}
.items{
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #cfcfcf;
	color: #5D5D5D;
}


.items-tip{
	height: 100%;
	float: left;
	width: 75px;
	text-align: right;
	font-weight: bold;
	color: #000;
}
.items-details{
	height: 100%;
	padding-left: 85px;
	text-align: left;
}
.items:last-child{
	border-bottom: none;
}
.text:last-child{
	border-bottom: none;
}
.darkblack{
	color: #7B7B7B;
}
.vochers-description P:nth-child(2){
	color: #7B7B7B;
}













.row-load-more{text-align: center;line-height: 42px;border: 1px solid #cfcfcf;border-left: none;border-right: none;text-align: center;
}
.sk-spinner-rotating-plane.sk-spinner {display: inline-block;vertical-align: middle;line-height: 42px;width: 20px;height: 20px;background-color: #f36404;margin: 0 auto;-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotatePlane {
	0% {-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
@keyframes sk-rotatePlane {
	0% {-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
