// t text;b base;
$t_b_c : #7d8082;
$t_blue_c:#576a95;
$t_blue:#38adff;
$orange: #ff943e;
.black{
	color:#000;
}
.orange{
	color:$orange;
}
// font-size
.fz12{
	font-size: 12px;
}
.fz14{
	font-size: 14px;
}
.fz16{
	font-size: 16px;
}
.fz18{
	font-size: 18px;
}