// appshow
.appshow{
	.apptitle{
		height: 110px;line-height: 110px;
		background-color: #FDFDFD;
		border-bottom:1px solid #F3F3F3;
		font-size: 30px;font-weight: 500;
		text-align:center;
	}
	.app-box{
		text-align:center;
		.app{
			padding:0 10px;
			&:hover{
				box-shadow:1px 1px 2px 1px rgba(0,0,0,0.1);
				.applogo{
					animation:apphoverlogo 0.2s ease-in both;
					display: none;
				}
				.applogo-hover{
					animation:apphoverlogohover 0.4s ease-in both;
					display: inline-block;
				}
				@keyframes apphoverlogolhover{
					from{opacity:0;}
					to{opacity:1;}
				}
				@keyframes apphoverlogo{
					from{opacity:1;}
					to{opacity:0;}
				}
			}
			.appname{
				font-weight: bolder;
				font-size: 16px;
				padding: 10px 0;
			}
			.applogo{
				margin:17px 0;
				width: 62px;
			}
			.applogo-hover{
				margin:17px 0;
				width: 62px;
				display: none;
			}
			.appdesc{
				margin: 17px 0;
			}
			.appbaseon{
				width: 101px;
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and(max-width:739px){
	.app-box{
		margin: 30px 0;
		margin-bottom: 10px;
		padding:0px;
		.app{
			padding:0 10px;
		}

	}
}
@media screen and(min-width: 740px){
	.app-box{
		padding:0 30px;
		margin:40px 0;
		margin-bottom: 10px;
	}
}
@media screen and(min-width:1000px) {
	.app-box{
		padding:0 60px;
		margin:40px 0;
		margin-bottom: 10px;
	}
}
@media screen and(min-width:1200px) {
	.app-box{
		padding:0 70px;
		margin:40px 0;
		margin-bottom: 10px;
	}
}
// footer
.footer{
	background-color: #333333;
	color:#fff;
	padding-top:15px;
	.footer-navs{
		text-align:center;
		.footer-nav{
			padding:0 !important;
			a{
				display: inline-block; color:#fff;padding:10px 0;
			}
		}
	}
	.share-way{
		.share-tool{
			padding-top: 8px;
			padding-bottom: 15px;
			.wx{
				text-align:right;
				img{
					height: 20px;
				}

			}
			.fb{
				img{
					height: 20px;
				}

			}
		}
	}
	.contact-company{
		color:#999;text-align:center;
		padding-bottom: 10px;
	}
}