@charset 'utf-8';
/* @import "bt ui frame";*/
@import "bootstrap.scss";

/* header*/
.header{
	height:400px;
	background:url('../img/slider/bg.jpg') repeat 0% 0%;
}
.bg-slider{
	width: 100%;position: relative;
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
		-moz-transition: background-position 1.4s ease-in-out 0.3s;
		transition: background-position 1.4s ease-in-out 0.3s;
}
/* slider module*/
.carousel-control.right,.carousel-control.left{
	/* width:40px;*/
	/* height:40px;*/
	background-image:none;
}
.carousel.slide,.carousel-inner,.item{
	height: 100%;
}
.carousel-control{
	width: 50px;
}
@import "./animation-slider";
/* transiton box */

.transition-box{
	height: 100%;position: relative;
	&.trans-one{
		.trans-left{
			position: absolute;height: 100%;width: 100%;
			.hmcmall-img{
				position: absolute;
				top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);
				&:nth-child(1){
					left:0;
				}
				&:nth-child(2){
					left:160px;
				}
			}
		}
		.trans-right{
			position: absolute;height: 100%;width: 100%;
			.hmcmall-img{
				position:absolute;right: 0;
				&:nth-child(1){
					top: 20px;
				}
				&:nth-child(2){}
				&:nth-child(3){}
			}
		}
	}
	&.trans-two{

		.trans-left{
			position: absolute;left: 0;width: 100%;height: 100%;
			.hmcmall-img{
				left: 0;
				position: absolute; top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);

			}
		}
		.trans-right{
			position:absolute;right: 0;width: 100%;height: 100%;
			.hmcmall-img{
				right: 0;
				position: absolute; top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);

			}
		}
	}
}
/* content*/
.container{
	max-width:1080px;
}



