@import './build/font-rem-base.scss';
@import "./build/ysj-head.scss";
@import './build/slider-ysj.scss';
@import './build/service-box.scss';
@import './build/service.scss';
@import './build/cooperation.scss';
@import './build/film-resource.scss';
@import './build/make-star.scss';
@import './build/partner.scss';
@import './build/ysj-footer.scss'